<div>


	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1 class="gd-primary">Usage statistics</h1>
        <h4>The figures on this page are based on aggregated usage data. This page is intended to monitor the status of the service.</h4>
        <br/>

        <mat-progress-bar *ngIf="loading_index" mode="indeterminate"></mat-progress-bar>
			</div>

			<div class="col-md-12 text-left" *ngIf="error">
				<h2 class="gd-secondary">Sorry, we are unable to load statistics at this moment.</h2>
			</div>

      <div class="col-md-12 text-left" *ngIf="cards_data && cards_data.length > 0" style="max-height: 180px; margin-bottom: 20px;">

        <ngx-charts-number-card
          [scheme]="colorScheme"
          [results]="cards_data"
          [cardColor]="cardColor"
          [valueFormatting]="formatStatValue"
        >
        </ngx-charts-number-card>
      </div>

      <!--error rate-->
      <div class="col-md-12 text-left chart-container" *ngIf="!loading_index && indexer_error_rate.length > 0" >

        <h2 class="gd-secondary">Report parsing error rate (%)</h2>

<!--        <app-alert type="error" title="16 Feb 2022: Forum report indexing is temporarily disabled" [dismissible]="false">-->
<!--          <p>-->
<!--            <strong>Due to a change in the structure of forum reports after the recent Grepolis update, we have disabled the option to index reports from your alliance forum.</strong><br/>-->
<!--            We have to update our parser to be able to handle the new format. The feature will be enabled again as soon as a fix is in place.<br/>-->
<!--            Indexing reports from your inbox is still possible, please let us know if you encounter any issues there.-->
<!--          </p>-->
<!--        </app-alert>-->

        <p>
          Some report parsing errors are expected. Elevated error rates may indicate a change in report structure (parser changes required).
          <a style="color: #FFFFFF" href="http://api-grepodata-com.debugger:8080/bEk6BmaBZBRTeRtM.php?level=all&error=true" target="_blank">debug</a>
        </p>

        <div class="ngx-chart-container">
          <ngx-charts-bar-vertical
            [scheme]="{domain:['#f07057']}"
            [results]="indexer_error_rate"
            [xAxis]="true"
            [yAxis]="showYAxis"
            [legend]="false"
            [showXAxisLabel]="false"
            [showYAxisLabel]="true"
            [xAxisLabel]="''"
            [yAxisLabel]="'% of daily parsed reports'"
            [yScaleMax]="indexer_error_rate_maxy"
            (select)="onSelect($event)">
          </ngx-charts-bar-vertical>
        </div>
      </div>

      <!--warning rate-->
      <div class="col-md-12 text-left chart-container" *ngIf="!loading_index && warning_rate.length > 0">

        <h2 class="gd-secondary">GrepoData logger warning count</h2>
        <p>Elevated warning rates may indicate an issue with the service.</p>

        <div class="ngx-chart-container">
          <ngx-charts-line-chart
            [scheme]="{domain:['#d6be7b']}"
            [results]="warning_rate"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            (select)="onSelect($event)">
          </ngx-charts-line-chart>
        </div>
      </div>

			<!--<div class="col-md-12 text-center">-->
				<!--<mat-tab-group mat-stretch-tabs>-->
					<!--<mat-tab class="history-chart" style="padding: 20px 0; overflow: hidden !important;">-->
						<!--<ng-template mat-tab-label>-->
							<!--&lt;!&ndash;<mat-icon style="opacity: 1; vertical-align: bottom;">account_balance</mat-icon>&nbsp;&ndash;&gt;-->
							<!--Daily-->
						<!--</ng-template>-->
						<!--<br/>-->
					<!--</mat-tab>-->
					<!--<mat-tab class="history-chart" style="padding: 20px 0; overflow: hidden !important;">-->
						<!--<ng-template mat-tab-label>-->
							<!--&lt;!&ndash;<mat-icon style="opacity: 1; vertical-align: bottom;">account_balance</mat-icon>&nbsp;&ndash;&gt;-->
							<!--Hourly-->
						<!--</ng-template>-->
						<!--<br/>-->
					<!--</mat-tab>-->
				<!--</mat-tab-group>-->
			<!--</div>-->

			<!--TOTAL-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && total_per_day.length > 0">

				<h2 class="gd-secondary">Number of reports indexed & commands shared per day</h2>
        <p>Duplicate uploads are ignored; only unique uploads are counted. MA7 = 7-day moving average</p>

				<div class="ngx-chart-container">
					<ngx-charts-line-chart
						[scheme]="colorScheme2"
						[results]="total_per_day"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="xAxisLabel"
						[yAxisLabel]="yAxisLabel"
						[autoScale]="autoScale"
						[timeline]="timeline"
						(select)="onSelect($event)">
					</ngx-charts-line-chart>
				</div>
			</div>

			<!--TOTAL HOURLY-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && total_per_day.length > 0">

				<h2 class="gd-secondary">Number of new reports indexed per hour</h2>
        <p>Duplicate report uploads are ignored, only unique new reports are counted.</p>

				<div class="ngx-chart-container">
					<ngx-charts-line-chart
						[scheme]="colorScheme"
						[results]="hourly_reports"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="xAxisLabel"
						[yAxisLabel]="yAxisLabel"
						[autoScale]="autoScale"
						[timeline]="timeline"
						(select)="onSelect($event)">
            <ng-template #tooltipTemplate let-model="model">
              {{model.name | Datex : "D MMM HH:mm"}}<br/>
              {{model.value}} {{model.series}}
              <!--<pre>{{model|json}}</pre>-->
            </ng-template>
					</ngx-charts-line-chart>
				</div>
			</div>

			<!--Users-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && users_per_day.length > 0">

				<h2 class="gd-secondary">Number of active users & teams (GrepoData City Indexer)</h2>
        <p>A City Indexer user/team is considered active if they indexed at least 1 new report in the last 24 hours, 7 days or 1 month respectively</p>

				<div class="ngx-chart-container">
					<ngx-charts-line-chart
						[scheme]="colorScheme3"
						[results]="users_per_day"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="xAxisLabel"
						[yAxisLabel]="yAxisLabel"
						[autoScale]="autoScale"
						[timeline]="timeline"
						(select)="onSelect($event)">
					</ngx-charts-line-chart>
				</div>
			</div>

			<!--Indexes-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && indexes_per_day.length > 0">

				<h2 class="gd-secondary">Number of active users & teams (GrepoData Operations)</h2>
        <p>An Operations user/team is considered active if they shared at least 1 command in the last 24 hours, 7 days or 1 month respectively</p>

				<div class="ngx-chart-container">
					<ngx-charts-line-chart
						[scheme]="colorScheme3"
						[results]="indexes_per_day"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="xAxisLabel"
						[yAxisLabel]="yAxisLabel"
						[autoScale]="autoScale"
						[timeline]="timeline"
						(select)="onSelect($event)">
					</ngx-charts-line-chart>
				</div>
			</div>

			<!--Reports total-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && total_reports.length > 0">

				<h2 class="gd-secondary">Total number of reports & commands (accumulative)</h2>
        <p>How many reports have been indexed (City Indexer) and how many commands have been uploaded (Operations)?</p>

				<div class="ngx-chart-container">
					<ngx-charts-line-chart
						[scheme]="colorScheme"
						[results]="total_reports"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="xAxisLabel"
						[yAxisLabel]="yAxisLabel"
						[autoScale]="autoScale"
						[timeline]="timeline"
						(select)="onSelect($event)">
					</ngx-charts-line-chart>
				</div>
			</div>

			<!--Users total-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && total_users.length > 0">

				<h2 class="gd-secondary">Total number of registered users & teams (accumulative)</h2>
        <p>How many users have registered and how many teams have been created in total?</p>

				<div class="ngx-chart-container">
					<ngx-charts-line-chart
						[scheme]="colorScheme"
						[results]="total_users"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxisLabel]="xAxisLabel"
						[yAxisLabel]="yAxisLabel"
						[autoScale]="autoScale"
						[timeline]="timeline"
						(select)="onSelect($event)">
					</ngx-charts-line-chart>
				</div>
			</div>

			<!--Indexes servers-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && index_world_bins.length > 0">

				<h2 class="gd-secondary">Number of active teams by country</h2>
        <p>For this graph, a team is considered active if it gained at least 1 new report in the last 3 months.</p>

				<div class="ngx-chart-container" style="width: 84%;">
					<ngx-charts-bar-vertical
						[scheme]="{domain: ['#334254']}"
						[results]="index_world_bins"
						[gradient]="false"
						[xAxis]="true"
						[yAxis]="true"
						[tooltipDisabled]="false"
						[legend]="false"
						[showXAxisLabel]="true"
						[showYAxisLabel]="false"
						[xAxisLabel]="'country'"
						[yAxisLabel]="'num indexes'">
					</ngx-charts-bar-vertical>
				</div>
			</div>

			<!--TYPE-->
			<div class="col-md-12 text-left chart-container" *ngIf="!loading_index && report_type_per_day.length > 0">

				<h2 class="gd-secondary">Report source types</h2>
        <p>What percentage of new reports is coming from the inbox versus the forum?</p>

				<div class="ngx-chart-container">
					<!--<ngx-charts-area-chart-stacked-->
					<ngx-charts-area-chart-normalized
						[scheme]="{domain:['#18bc9c', '#334254']}"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[xAxisLabel]="xAxisLabel"
						[yAxisLabel]="yAxisLabel"
						[timeline]="timeline"
						[results]="report_type_per_day"
						(select)="onSelect($event)">
					</ngx-charts-area-chart-normalized>
				</div>
			</div>

		</div>
	</div>
</div>
