<div class="container blog-container">
	<div class="row blog-paragraph">
		<div class="col-xs-12 col-sm-4 text-right">
		</div>
		<div class="hidden-xs col-sm-8 blog-text">
			<h1 class="gd-primary">Indexer and heatmap changes</h1>
			<h3>December 2020: In this release we add a login system to the city indexer tool and we replace the heatmap feature with an 'inactive' indicator.</h3>
			<hr>
		</div>
	</div>
	<div class="row blog-paragraph">
		<div class="col-xs-12 col-sm-4 text-right">
			images
		</div>
		<div class="hidden-xs col-sm-8 blog-text">
			<h4 class="gd-primary">Indexer Security</h4>
			<p>In order to get official approval for the city indexer tool</p>
			<br/>
		</div>
	</div>
	<div class="row blog-paragraph">
		<div class="col-xs-12 col-sm-4 text-right">
			images
		</div>
		<div class="hidden-xs col-sm-8 blog-text">
			<h4 class="gd-primary">Activity Heatmap Removal</h4>
			<p>Another requirement for approval of our indexer tool is the removal of the activity heatmap due to privacy concerns.
				The heatmap feature was based on the timing of gained attack points. While this is public data that can be collected by anybody,
				the heatmap feature made this information easily accessible. This activity pattern disclosed possible sensitive information.
				Simply put, if we want official approval of our other tools, the heatmap feature has to go. We made the choice to do so because we think
				our other tools have more to offer.
				<br/>
				Instead of the activity heatmap, we will now give an inactive indicator for each player based on the time since the last attack point was gained and the time since the last building expansion point was gained.
			</p>
			<br/>
		</div>
	</div>
	<div class="row blog-paragraph">
		<div class="col-xs-12 col-sm-4 text-right">
			images
		</div>
		<div class="hidden-xs col-sm-8 blog-text">
			<h4 class="gd-primary">Other changes</h4>
			<p>- Alliance mail list generator</p>
			<p>- Track alliance wars</p>
		</div>
	</div>
</div>