<div class="index-version-wrapper hidden-xs hidden-sm">

	<!--If no script is installed show this-->
	<div id="help_by_contributing">
	  <div *ngIf="showHelp">
	    <div class="col-12 alert alert-warning text-center alert-gd-1" style="width: 100vw; position: absolute;"
	         [@helpAnim]>
	      <div class="row install-hint">
	        <div class="col-md-7 col-lg-8">
	          <h2>Install the userscript to start collecting enemy intelligence!</h2>
            <h5>The intel you collect can be viewed by you and your allies if you share an index with them</h5>
	        </div>
	        <div class="col-md-5 col-lg-4" style="padding-right: 40px;">
	          <button mat-button class="mat-raised-button bg-gd-2" style="font-size: 22px; padding: 8px; width: 80%; top: 5px;color: white;" routerLink="/profile/script">
		          <i class="fa fa-download"></i> Install userscript
	          </button>
	          <a (click)="hideHelp()" class="close" style="top: 15px;" title="Don't show again for 7 days"></a>
	        </div>
	      </div>
	    </div>
	    <div [@animPush] style="height: 100px;"></div>
	  </div>
	</div>

</div>

<span style="display: none;" id="userscript_version"></span>
<!--<span style="display: none;" id="userscript_version"><div id="script_version">4.0.3</div></span>-->
