<div style="font-size: 18px; max-height: 75vh; min-width: 40vw; min-height: 25vh;">
	<!--height: calc(100% - 20px);-->
	<a (click)="dialogRef.close()" class="close"></a>
	<h1 class="mat-primary" style="text-align: center; color: #18BC9C; margin-top: 0px;" mat-dialog-title>
		<img *ngIf="params?.type=='alliance'" src="../../../assets/images/ally_ico.png" style="height: 28px;"/>
		<img *ngIf="params?.type=='player'" src="../../../assets/images/player_ico.png" style="height: 28px; margin-top: -5px;"/>
		{{name}}<span class="gd-secondary">'s conquests</span>
	</h1>

	<app-conquest [embedded]="true" [params]="params" [minimal]="true"></app-conquest>

</div>
