<app-index-version *ngIf="active_tab !== 'script'"></app-index-version>

<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
	<div class="text-center" *ngIf="!logged_in">
		<div class="align-middle" style="position: relative; top: 250px; left: 25%; width: 50%;">
			<h3 class="gd-primary"><strong>Logging in...</strong></h3>
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
	</div>
  <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches"  >
    <app-sidebar [username]="username"></app-sidebar>
  </mat-sidenav>
	<div class="profile-container" *ngIf="logged_in">

    <div class="profile-page">
      <div class="page-wrapper"></div>

      <div *ngIf="!account_confirmed" style="">
        <app-confirm></app-confirm>
      </div>

      <!--<app-alert type="error" title="Verify your Grepolis player name" *ngIf="!account_linked && active_tab !== 'linked'">-->
        <!--<p>-->
          <!--You have not yet verified your Grepolis player name. You can only share intel with others if your player name is verified.-->
        <!--</p>-->
        <!--<p>-->
          <!--<a class="a-link-dialog" routerLink="/profile/linked">Request a new player verification here</a>-->
        <!--</p>-->
      <!--</app-alert>-->


<!--      <app-alert type="error" title="16 Feb 2022: Forum report indexing is temporarily disabled" [dismissible]="false">-->
<!--        <p>-->
<!--          <strong>Due to a change in the structure of forum reports after the recent Grepolis update, we have disabled the option to index reports from your alliance forum.</strong><br/>-->
<!--          We have to update our parser to be able to handle the new format. The feature will be enabled again as soon as a fix is in place.<br/>-->
<!--          Indexing reports from your inbox is still possible, please let us know if you encounter any issues there.-->
<!--        </p>-->
<!--      </app-alert>-->

      <mat-card *ngIf="account_confirmed && ['intel', 'player', 'alliance', 'town', 'team'].indexOf(active_tab)>=0" class="search-card">
        <app-index-search></app-index-search>
      </mat-card>

      <div *ngIf="active_tab === 'bug'">
        <app-bug-report></app-bug-report>
      </div>
      <div *ngIf="active_tab === 'ideas'">
        <app-ideas></app-ideas>
      </div>
      <div *ngIf="active_tab === 'api'">
        <app-api></app-api>
      </div>
      <div *ngIf="active_tab === 'team'">
        <app-overview></app-overview>
      </div>
      <div *ngIf="active_tab === 'ops'">
        <app-operations></app-operations>
      </div>
      <div *ngIf="active_tab === 'player'">
        <app-index-player></app-index-player>
      </div>
      <div *ngIf="active_tab === 'alliance'">
        <app-index-alliance></app-index-alliance>
      </div>
      <div *ngIf="active_tab === 'town'">
        <app-index-town></app-index-town>
      </div>
      <span *ngIf="active_tab === 'intel'"><app-intel></app-intel></span>
      <span *ngIf="active_tab === 'linked'"><app-linked-accounts></app-linked-accounts></span>
      <span *ngIf="active_tab === 'teams'"><app-indexes></app-indexes></span>
      <span *ngIf="active_tab === 'script'"><app-userscript></app-userscript></span>
      <span *ngIf="active_tab === 'settings'"><app-settings></app-settings></span>
      <span *ngIf="active_tab === 'password'"><app-change-password></app-change-password></span>
      <span *ngIf="active_tab === 'delete'"><app-delete-account></app-delete-account></span>
      <span *ngIf="active_tab === 'commands'"><app-demo-overview></app-demo-overview></span>
      <span *ngIf="active_tab === 'changelog'"><app-changelog></app-changelog></span>
      <span *ngIf="active_tab === 'faq'">
        <mat-card class="index-card">
          <h2>📋 Frequently asked questions</h2>
          <h4>Can't find what you are looking for? Feel free to <a class="a-link-dialog" (click)="showContactDialog()">send us a message</a> and we will responds as soon as possible.</h4>

          <app-server-alert></app-server-alert>

          <br/>
          <app-faq></app-faq>
        </mat-card>
      </span>

      <div class="footer-push"></div>
    </div>

    <div class="profile-footer">
      <div class="text-center footer-content">
        <div class="footer-below">
          <div>
            <div class="row">
              <div class="col-12 col-md-12 col-lg-8 col-xl-8 disclaimer">
                <!--<strong>Copyright notices: </strong>&nbsp;-->
                Grepolis is a browser game by InnoGames GmbH. This is an unofficial 3rd party site
                <br/>
                Gameplay images related to Grepolis are copyright of InnoGames GmbH.
              </div>
              <div class="col-12 col-md-12 col-lg-4 col-xl-4 disclaimer">
                Copyright &copy; Grepodata {{date| date:'yyyy'}}
                <br/>
                <a class="a-link-dialog" (click)="showDisclaimerDialog()">Disclaimer</a>
                &nbsp; | &nbsp;
                <a class="a-link-dialog" routerLink="/privacy">Privacy</a>
                &nbsp; | &nbsp;
                <a class="a-link-dialog" routerLink="/analytics">Statistics</a>
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</mat-sidenav-container>

