<div class="container" style="margin-top: 20px;">
	<div class="row">
		<div class="col-8">
			<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
			<mat-card *ngIf="!confirmed && !loading">
				<mat-card-title>
					<h2 class="gd-primary">Confirm your email address to continue</h2>
				</mat-card-title>
				<mat-card-content class="text-center">
					<div class="alert alert-warning">
						Your email address has not yet been confirmed. Check the email you received or request a new confirmation email below.
					</div>
					<button class="btn btn-primary">
						Request new confirmation email
					</button>
				</mat-card-content>
			</mat-card>
			<mat-card *ngIf="confirmed && !loading">
				<mat-card-title>
					<h2 class="gd-primary">Your indexes</h2>
				</mat-card-title>
				<mat-card-content>

					<div *ngIf="!loading && indexes.length <= 0">
						<p class="gd-secondary">You have not yet created any indexes.</p>
					</div>

					<div *ngIf="!loading && indexes.length > 0">

						<div class="table-container">
							<div class="table" id="player_changes_table" style="">
								<div class="row_custom header default">
									<div class="cell hidden-xs">#</div>
									<div class="cell">Index key</div>
									<div class="cell">World</div>
									<div class="cell">Reports</div>
									<div class="cell hidden-xs">Last update</div>
									<div class="cell hidden-xs">Created on</div>
									<div class="cell hidden-xs">Action</div>
								</div>

								<div class="row_custom" *ngFor="let index of indexes; let i = index;">
									<div class="cell hidden-xs">
										{{i+1}}
									</div>
									<div class="cell">
										<a routerLink="/indexer/{{index.key}}">
											{{index.key}}
										</a>
									</div>
									<div class="cell">
										<a routerLink="/points/{{index.world}}">
											{{index.world}}
										</a>
									</div>
									<div class="cell">
										{{index.overview.total_reports}}
									</div>
									<div class="cell hidden-xs">
										{{index.updated_at!=null?(index.updated_at | Datex : "D MMM YYYY"):''}}
									</div>
									<div class="cell hidden-xs">
										{{index.created_at!=null?(index.created_at | Datex : "D MMM YYYY"):''}}
									</div>
									<div class="cell hidden-xs">
										<div class="form-group row" style="margin: 3px !important; text-align: -webkit-right;">
											<button style="width: 45%; margin-right: 2%;" name="load_index" class="btn btn-primary btn-xs"
											        (click)="editOwners(index.key, index.world, index.overview.owners)">
												<i class="fa fa-cog"></i>&nbsp;Settings
											</button>
											<button style="width: 53%;" name="load_index" class="btn btn-success btn-xs" routerLink="/indexer/{{index.key}}">
												<i class="fa fa-arrow-circle-right"></i>&nbsp;Go to index
											</button>
											<!--<button style="width: 48%;" name="add_compare" class="btn btn-info btn-xs" routerLink="/player/{{player?.world}}/{{player?.id}}">-->
												<!--<i class="fa fa-arrow-circle-right"></i>&nbsp;View-->
											<!--</button>-->
										</div>
									</div>
								</div>

							</div>
						</div>

					</div>

				</mat-card-content>
			</mat-card>

		</div>
		<div class="col-4">

			<div class="container-fluid profile-banner">
				<div class="row text-center">
					<div class="col-12">
						<h2 class="gd-primary">Welcome back!</h2>
					</div>
				</div>
				<div class="row profile-banner-buttons">
					<button [disabled]="!confirmed" class="btn btn-secondary mb-2" (click)="newIndex()">
						Create new index
					</button>
					<button [disabled]="!confirmed" class="btn btn-secondary mb-2" (click)="changePassword()">
						Change password
					</button>
					<button class="btn btn-primary mb-2" (click)="logout()">
						Logout
					</button>
					<button [disabled]="!confirmed" class="btn btn-danger" (click)="changePassword()">
						Delete account
					</button>
				</div>
			</div>
		</div>
	</div>
</div>