<app-search [compare]="true"></app-search>

<div>
  <div>
    <div class='' id="pagehead"></div>
    <mat-card-content *ngIf="notFound">
      <div class="alert alert-warning text-center">
        <br/>
        <br/>
        <h3><strong>This player no longer exists!</strong> No player found with id {{id}} in world {{world}}</h3>
	      <p>Try the search function to find players.</p>
        <br/>
        <br/>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="!notFound">

      <div class="player-cards" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="5px">
        <mat-card class="dense-card" fxFlex="25">
          <div class="card-header bg-gd-1 text-center" style="padding-bottom: 20px !important;">
            <h1 class="gd-white entity-name">
              <div class="icon-circle"><img style="height: 25px; margin-top: -5px;" src="../../assets/images/player_ico.png"/></div> {{playerName}}
            </h1>
	          <div *ngIf="loadingInfo || loadingHistory || loadingChanges" style="position: relative; top: 10px; height: 0px; margin: 0px -30px;">
		          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
	          </div>
          </div>
          <mat-card-content [ngClass]="{'loading-overlay': loadingInfo}">

            <table class="table table-no-more player-info">
              <tbody>
                <tr>
                  <th>World</th>
                  <td style="padding-bottom: 0;">
	                  <div class="bg-flag flag-inline flag-{{world.substr(0,2)}}"></div>&nbsp;<a style="vertical-align: text-bottom;" class="decorated" routerLink="/points" [queryParams]="{world: world}">{{worldName}}&nbsp;({{world}})</a>
	                  <div class="hidden-xs" style="float: right; margin-top: -3px;">
		                  <mat-chip [selected]="true" (click)="searchOtherWorlds()" matTooltip="Search other worlds for this player"><i class="fa fa-search"></i></mat-chip>
	                  </div>
                  </td>
                </tr>
                <tr>
	                <th>Alliance</th>
	                <td>
		                <a *ngIf="alliance_id!='0'" routerLink="/alliance" [queryParams]="{world: world, id: alliance_id}">{{alliance_name}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon></a>
		                <span *ngIf="alliance_id=='0'">None</span>
	                </td>
                </tr>
                <tr>
                  <th>Rank</th>
                  <td>
	                  <a routerLink="/ranking/player/{{world}}/points/{{rank}}/{{id}}">{{rank}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs hidden-sm">launch</mat-icon></a>
	                  <span *ngIf="playerInfoData.rank_max" style="float: right; font-style: italic; font-size: .9em;" matTooltip="{{datePipe.transform(playerInfoData.rank_date,'D MMM YYYY')}}">
		                  best: {{playerInfoData.rank_max}}
	                  </span>
                  </td>
                </tr>
                <tr>
                  <th>Towns</th>
                  <td>
	                  <a class="a-link" (click)="showTownDialog()">{{towns}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs hidden-sm">launch</mat-icon></a>
	                  <span *ngIf="playerInfoData.towns_max" style="float: right; font-style: italic; font-size: .9em;" matTooltip="{{datePipe.transform(playerInfoData.towns_date,'D MMM YYYY')}}">
		                  best: {{playerInfoData.towns_max}}
	                  </span>
                  </td>
                </tr>
                <tr>
                  <th>Points</th>
                  <td>{{points | NumberFilter}}</td>
                </tr>
                <tr>
                  <th>Attacking</th>
                  <td *ngIf="att">
	                  <a routerLink="/ranking/player/{{world}}/attack/{{playerInfoData.att_rank}}/{{id}}">#{{playerInfoData.att_rank}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs hidden-sm hidden-md">launch</mat-icon></a> - {{att | NumberFilter}}<span class="hidden-xs"> points</span>
	                  <span *ngIf="playerInfoData.att_rank_max" style="float: right; font-style: italic; font-size: .9em;" matTooltip="{{datePipe.transform(playerInfoData.att_rank_date,'D MMM YYYY')}}">
		                  best: {{playerInfoData.att_rank_max}}
	                  </span>
                  </td>
	                <td *ngIf="!att">0</td>
                </tr>
                <tr>
                  <th>Defending</th>
                  <td *ngIf="def">
	                  <a routerLink="/ranking/player/{{world}}/defence/{{playerInfoData.def_rank}}/{{id}}">#{{playerInfoData.def_rank}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs hidden-sm hidden-md">launch</mat-icon></a> - {{def | NumberFilter}}<span class="hidden-xs"> points</span>
	                  <span *ngIf="playerInfoData.def_rank_max" style="float: right; font-style: italic; font-size: .9em;" matTooltip="{{datePipe.transform(playerInfoData.def_rank_date,'D MMM YYYY')}}">
		                  best: {{playerInfoData.def_rank_max}}
	                  </span>
                  </td>
	                <td *ngIf="!def">0</td>
                </tr>
                <tr class="hidden-xs">
                  <th>Fighting</th>
                  <td *ngIf="def&&att">
	                  <a routerLink="/ranking/player/{{world}}/fight/{{playerInfoData.fight_rank}}/{{id}}">#{{playerInfoData.fight_rank}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs hidden-sm hidden-md">launch</mat-icon></a> - {{def+att | NumberFilter}}<span class="hidden-xs"> points</span>
	                  <span *ngIf="playerInfoData.fight_rank_max" style="float: right; font-style: italic; font-size: .9em;" matTooltip="{{datePipe.transform(playerInfoData.fight_rank_date,'D MMM YYYY')}}">
		                  best: {{playerInfoData.fight_rank_max}}
	                  </span>
                  </td>
	                <td *ngIf="!def">0</td>
                </tr>
              </tbody>
            </table>

            <br/>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 text-center">

                  <mat-expansion-panel hideToggle="true" [expanded]="compareOpened">
                    <mat-expansion-panel-header *ngIf="!compareOpened" class="gd-btn-1" (click)="addToCompare()">
                      <mat-panel-title class="gd-secondary" fxLayoutAlign="center center">
                        <mat-icon><i class="fa fa-plus"></i></mat-icon>&nbsp;&nbsp;Compare
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h4 *ngIf="compareOpened" fxLayoutAlign="center center">
                        Currently comparing:
                    </h4>

                    <table class="table table-no-more">
                      <tbody>
                      <tr *ngFor="let p of comparedPlayers; let i = index;">
                        <th><a routerLink="/player" [queryParams]="{world: world, id: p.id}">{{p.name}}</a></th>
                        <td>
                          <i class="fa fa-trash" (click)="removeFromCompare(p.id, world)"></i>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <br/>
                    <button routerLink="/compare/player/{{world}}" class="gd-btn-1" style="height: 40px; width: 100%; overflow: hidden; text-overflow: ellipsis;">
                      View comparison &nbsp; <i class="fa fa-arrow-circle-right"></i>
                    </button>
                  </mat-expansion-panel>



                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>

        <mat-card class="dense-card" fxFlex="75" style="padding-bottom: 0px !important; padding-top: 10px !important;">
	        <div #infoTabs style="width: 100%;"></div>
          <mat-tab-group [selectedIndex]="tabsIndex" (selectedTabChange)="onTabClick($event)" mat-stretch-tabs>
            <mat-tab class="history-chart" style="padding: 20px 0; overflow: hidden !important;">
              <ng-template mat-tab-label>
                <mat-icon style="opacity: 1; vertical-align: bottom;">timeline</mat-icon>&nbsp;History
              </ng-template>
              <br/>
              <mat-card-title>
                <div fxLayout="row">
                  <h4 style='font-weight: 300; color: #304357;'><span class='world-title' style='color: #18BC9C;'>Player history</span></h4>
                  <mat-spinner style="margin-left: 30px;" *ngIf="loadingHistory" strokeWidth="3" [diameter]="30"></mat-spinner>
                </div>
              </mat-card-title>
              <mat-card-content style="overflow: hidden !important;">
                <div *ngIf="historyError" class="alert alert-warning text-center alert-gd-1">
                  <h3>Unable to load history. Try again later.</h3>
                </div>
                <div *ngIf="!firstRun && !historyError" class="ngx-chart-container" [ngClass]="{'loading-overlay': loadingHistory}">
                  <ngx-charts-line-chart
                          *ngIf="bShowHistoryChart"
                          [scheme]="colorScheme"
                          [results]="data_default"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [animations]="animations"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          [autoScale]="autoScale"
                          (select)="onSelect($event)">
                  </ngx-charts-line-chart>
                </div>
                <br/>
                <div *ngIf="!loadingHistory" fxLayout="row" fxLayoutAlign="space-evenly center">
                  <div>
                    <mat-chip-list>
                      <mat-chip *ngIf="playerHistoryJson.length >= 30" [selected]="dayRange==='30'" (click)="selectDayRange('30')">last 30 days</mat-chip>
                      <mat-chip *ngIf="playerHistoryJson.length > 30" [selected]="dayRange==='90'" (click)="selectDayRange('90')">last 90 days</mat-chip>
                      <mat-chip *ngIf="playerHistoryJson.length > 90" [selected]="dayRange==='all'" (click)="selectDayRange('all')">All time</mat-chip>
                    </mat-chip-list>
                  </div>

                </div>
              </mat-card-content>

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="opacity: 1; vertical-align: bottom;">watch_later</mat-icon>&nbsp;Activity<span class="hidden-xs">&nbsp;heatmap</span>
              </ng-template>
              <br/>
	            <mat-card-title>
		            <div>
		              <h4 style='font-weight: 300; color: #304357;'><span class='world-title' style='color: #18BC9C;'>This feature has been removed.</span></h4>
			            <p>Due to privacy concerns, the activity heatmap feature has been removed from GrepoData entirely.<br/>
			              <br/>
				            <br/>
				            Read more about this update in our <a routerLink="/blog/heatmap-and-indexer-changes-2020" style="text-decoration: underline;">blog post</a>.
			            </p>
	              </div>
	            </mat-card-title>
              <!--<mat-card-title>-->
                <!--<div fxLayout="row">-->
                  <!--<h4 style='font-weight: 300; color: #304357;'><span class='world-title' style='color: #18BC9C;'>Player activity in the last 4 weeks</span></h4>-->
                  <!--<mat-spinner style="margin-left: 30px;" *ngIf="loadingInfo" strokeWidth="3" [diameter]="30"></mat-spinner>-->
                <!--</div>-->
              <!--</mat-card-title>-->
	            <!--<div *ngIf="!heatmapDay[0] || highestHeatmapHour<=2">-->
		            <!--<p><strong>Player is inactive.</strong> Sorry, this player is not active enough to display this data.</p>-->
		            <!--<p>We need at least a 3 attacks in 1 hour (cumulative over 4 weeks) to start showing this heatmap.</p>-->
	            <!--</div>-->
	            <!--<div *ngIf="heatmapDay[0] && highestHeatmapHour>2">-->
	              <!--<div class="container-fluid heatmap-container" [ngClass]="{'loading-overlay': loadingInfo}">-->
	                <!--<div class="row">-->
	                  <!--<div class="col-xs-12 col-sm-4 heatmap-day-container">-->
	                    <!--<ngx-charts-bar-vertical-->
	                            <!--*ngIf="bShowHeatmapChart"-->
	                            <!--[scheme]="colorSchemeHeatmap"-->
	                            <!--[schemeType]="'linear'"-->
	                            <!--[results]="heatmapDay"-->
	                            <!--[gradient]="false"-->
	                            <!--[xAxis]="true"-->
	                            <!--[yAxis]="false"-->
	                            <!--[tooltipDisabled]="true"-->
	                            <!--[legend]="false"-->
	                            <!--[showXAxisLabel]="true"-->
	                            <!--[showYAxisLabel]="false"-->
	                            <!--[xAxisLabel]="'day most active'"-->
	                            <!--[yAxisLabel]="'activity'">-->
	                    <!--</ngx-charts-bar-vertical>-->
	                  <!--</div>-->
	                  <!--<div class="col-xs-12 col-sm-8 heatmap-hour-container">-->
	                    <!--<ngx-charts-bar-vertical-->
	                            <!--*ngIf="bShowHeatmapChart"-->
	                            <!--[scheme]="colorSchemeHeatmap"-->
	                            <!--[schemeType]="'linear'"-->
	                            <!--[results]="heatmapHour"-->
	                            <!--[gradient]="false"-->
	                            <!--[roundDomains]="true"-->
	                            <!--[xAxis]="true"-->
	                            <!--[yAxis]="false"-->
	                            <!--[tooltipDisabled]="true"-->
	                            <!--[legend]="false"-->
	                            <!--[showXAxisLabel]="true"-->
	                            <!--[showYAxisLabel]="false"-->
	                            <!--[xAxisLabel]="'hour most active'"-->
	                            <!--[yAxisLabel]="'activity'">-->
	                    <!--</ngx-charts-bar-vertical>-->
	                  <!--</div>-->
	                <!--</div>-->
	              <!--</div>-->
	              <!--<p><strong>The best time to attack this player is usually around {{lowestIndex<10?'0':''}}{{lowestIndex}}:00h local time.</strong>-->
	                <!--{{playerName}}'s attack frequency is lowest around this time. This is only an indication, based on their historical attack point data in the last 4 weeks. All times are in the same timezone as the local Grepolis server ({{world}}).</p>-->
	              <!--<p><strong>Data source: </strong>This graph is based entirely on an aggregation of the public attack points endpoint: <a href="https://{{world}}.grepolis.com/data/player_kills_att.txt" target="_blank">https://{{world}}.grepolis.com/data/player_kills_att.txt</a>-->
		              <!--&nbsp;(<a href="https://github.com/GrepoDataTools/grepodata-backend/blob/6adb95c761c0720e20a7f574747d0c149b53872c/Software/Library/Elasticsearch/Diff.php#L593" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Source code</a>)</p>-->
	            <!--</div>-->

            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="opacity: 1; vertical-align: bottom;">compare_arrows</mat-icon>&nbsp;
	              <span class="hidden-xs">Alliance changes</span>
	              <span class="hidden-md hidden-sm hidden-lg">Changes</span>
              </ng-template>
              <br/>
              <mat-card-title>
                <div *ngIf="playerAllianceChanges.length > 0">
                  <h4 style='font-weight: 300; color: #304357;'>
                    <span class='world-title' style='color: #18BC9C;'>Alliance changes</span>
                    <mat-spinner style="margin-left: 30px;" *ngIf="loadingChanges" strokeWidth="3" [diameter]="30"></mat-spinner>
                    <a *ngIf="playerAllianceChanges.length >= 10" routerLink="/changes/player/{{world}}/{{id}}" style="color: #949494; right: 20px; position: absolute;">
                      <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon> Show all changes
                    </a>
                  </h4>
                </div>
	              <div *ngIf="playerAllianceChanges.length <= 0">
		              <p><strong>No changes found.</strong> We have not yet recorded any alliance changes for this player.</p>
	              </div>
              </mat-card-title>
              <br/>
              <mat-card-content [ngClass]="{'loading-overlay': loadingChanges}" *ngIf="playerAllianceChanges.length > 0">
                <div class="table-container">
                  <div class="table" id="player_changes_table" style="">
                    <div class="row_custom header default">
                      <div class="cell">Date</div>
                      <div class="cell">Old alliance</div>
                      <div class="cell hidden-sm hidden-xs"></div>
                      <div class="cell">New alliance</div>
                      <div class="cell hidden-sm hidden-xs">Player rank</div>
                      <div class="cell hidden-sm hidden-xs">Player points</div>
                    </div>

                    <div class="row_custom" *ngFor="let c of playerAllianceChanges; let i = index;">
                      <div class="cell">
                        {{c.date.date | Datex : "D MMM YYYY"}}
                        <br/>
                        {{c.date.date | Datex : "HH"}}:00
                      </div>

                      <div class="cell formatted-cell">
                        <a routerLink="/alliance" [queryParams]="{world: world, id: c.old_alliance_grep_id}">
                          {{c.old_alliance_name}}
                        </a>
                      </div>
                      <div class="cell hidden-sm hidden-xs"><span class="fa fa-angle-double-right fa-2x"></span></div>
                      <div class="cell formatted-cell">
                        <a routerLink="/alliance" [queryParams]="{world: world, id: c.new_alliance_grep_id}">
                          {{c.new_alliance_name}}
                        </a>
                      </div>

                      <div class="cell hidden-sm hidden-xs">{{c.player_rank}}</div>
                      <div class="cell hidden-sm hidden-xs">{{c.player_points | NumberFilter}}</div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon style="opacity: 1; vertical-align: bottom;">account_balance</mat-icon>&nbsp;
	              <span class="hidden-xs">Town intelligence</span>
	              <span class="hidden-md hidden-sm hidden-lg">Intel</span>
              </ng-template>
              <app-index-player *ngIf="bShowIntel && hasIndex" [world]="world" [id]="id" [embedded]="true"></app-index-player>
	            <h3 style="padding: 30px;" *ngIf="!bShowIntel && hasIndex"><a class="a-link-dialog" style="color: #334254 !important;" (click)="bShowIntel = true;">Load town intelligence..</a></h3>
              <div *ngIf="!bShowIntel || !hasIndex" style="padding: 20px;">
	              <div class="container-fluid">
		              <div class="row">
			              <div class="col-xs-12 col-sm-8">
				              <div class="alert alert-gd-1 text-center">
					              <p>When you link an <span class="gd-primary">enemy city index</span>, we will be able to show collected intelligence about this player here.</p>
					              <p>You can create a new index or load an existing index shared by your alliance.</p>
					              <h3>
						              <a class="a-link-dialog" style="color: #334254 !important;" routerLink="/indexer/0">
							              Create or load an index <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon>
						              </a>
					              </h3>
				              </div>
			              </div>
			              <div class="col-sm-4 hidden-xs">
				              <img class="lib-img" style="max-width: 100%; display: block;" src="../../assets/images/indexer_town.png" alt="Grepolis town intel">
				              <h5 class="gd-secondary" style="float: right;">Images copyright © InnoGames GmbH</h5>
			              </div>
		              </div>
	              </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>

      </div>

	    <div style="margin: -5px 17px" *ngIf="!loadingInfo && towns > 1 && rank <= 1000">
		    <app-advertorial></app-advertorial>
	    </div>

      <div class="player-cards" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="5px">

        <mat-card class="dense-card" fxFlex fxFlex.gt-md="57" fxFlex.gt-sm="100">
          <mat-card-title>
            <div fxLayout="row">
              <h4 style='font-weight: 300; color: #304357;'><span class='world-title' style='color: #18BC9C;'>History</span></h4>
              <mat-spinner style="margin-left: 30px;" *ngIf="loadingHistory" strokeWidth="3" [diameter]="30"></mat-spinner>
            </div>
          </mat-card-title>
          <mat-card-content [ngClass]="{'loading-overlay': loadingHistory}">
            <div *ngIf="historyError" class="alert alert-warning text-center alert-gd-1">
              <h3>Unable to load history. Try again later.</h3>
            </div>
            <div class="table-container table-y-limit" *ngIf="!historyError">
              <div class="table table-sticky" id="sticky_history_header" style="text-align: left !important;">
	              <div class="row_custom header default">
		              <div class="cell">Date</div>
		              <div class="cell">Alliance</div>
		              <div class="cell">Points</div>
		              <div class="cell">Attacking</div>
		              <div class="cell">Defending</div>
		              <div class="cell hidden-xs hidden-sm">Rank</div>
		              <div class="cell hidden-xs hidden-sm">Towns</div>
	              </div>
              </div>
              <div class="table" id="player_history_table" style="text-align: left !important;">
	              <div class="row_custom header default table-header-non-sticky">
		              <div class="cell">Date</div>
		              <div class="cell">Alliance</div>
		              <div class="cell">Points</div>
		              <div class="cell">Attacking</div>
		              <div class="cell">Defending</div>
		              <div class="cell hidden-xs hidden-sm">Rank</div>
		              <div class="cell hidden-xs hidden-sm">Towns</div>
	              </div>

                <!--History-->
                <div class="row_custom" *ngFor="let h of playerHistoryData; let i = index;">
                  <div class="cell">
                    {{h.date | Datex : "D MMM"}}
                  </div>
                  <div class="cell formatted-cell">
                    <a routerLink="/alliance" [queryParams]="{world: world, id: h.alliance_id}">{{h.alliance_name}}</a>
                  </div>
                  <div class="cell">
                    {{ h.points | NumberFilter }}
                    <a *ngIf="i+1<playerHistoryData.length && i < 90" routerLink="/points" [queryParams]="{world: world, date: h.date}">
                      <span [outerHTML]="h.points - playerHistoryData[i+1].points | DiffFilterNonZero"></span>
                    </a>
                  </div>
                  <div class="cell">
                    {{ h.att | NumberFilter }}
                    <a *ngIf="i+1<playerHistoryData.length && i < 90" routerLink="/points" [queryParams]="{world: world, date: h.date}">
                      <span [outerHTML]="h.att - playerHistoryData[i+1].att | DiffFilterNonZero"></span>
                    </a>
                  </div>
                  <div class="cell">
                    {{ h.def | NumberFilter }}
                    <a *ngIf="i+1<playerHistoryData.length && i < 90" routerLink="/points" [queryParams]="{world: world, date: h.date}">
                      <span [outerHTML]="h.def - playerHistoryData[i+1].def | DiffFilterNonZero"></span>
                    </a>
                  </div>
                  <div class="cell hidden-xs hidden-sm">
                    {{ h.rank | NumberFilter }}
                    <a *ngIf="i+1<playerHistoryData.length && i < 90" routerLink="/points" [queryParams]="{world: world, date: h.date}">
                      <span [outerHTML]="playerHistoryData[i+1].rank - h.rank | DiffFilterNonZero"></span>
                    </a>
                  </div>
                  <div class="cell hidden-xs hidden-sm">
                    {{ h.towns | NumberFilter }}
                    <a *ngIf="i+1<playerHistoryData.length && i < 90" routerLink="/points" [queryParams]="{world: world, date: h.date}">
                      <span [outerHTML]="h.towns - playerHistoryData[i+1].towns | DiffFilterNonZero"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="dense-card" fxFlex fxFlex.gt-md="43" fxFlex.gt-sm="100">
          <mat-card-content>

	          <app-conquest [embedded]="true" [params]="{type: 'player', world: world, id: id}"></app-conquest>

          </mat-card-content>
        </mat-card>

      </div>

	    <br/>

    </mat-card-content>
  </div>

</div>