.player-cards {
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
}

.loading-overlay {
  opacity: 0.2;
  pointer-events: none !important;
}

mat-card-title {
  margin-bottom: 0px !important;
}

.heatmap-container {
  margin: 20px 20px;
}

.heatmap-day-container {
  height: 400px !important;
}
.heatmap-hour-container {
  height: 400px !important;
}

@media screen and (min-width: 1800px) {
  .table {
    font-size: 18px !important;
  }
}

.cell {
  padding-left: 5px !important;
}

@media (max-width:600px) {
  .player-cards {
    margin-bottom: 5px;
    padding: 0;
  }
}
