.player-cards {
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
}
.ngx-chart-container {
  height: 320px;
}

.loading-overlay {
  opacity: 0.2;
  pointer-events: none !important;
}

mat-expansion-panel-header {
  height: 40px !important;

}
mat-expansion-panel-header.mat-expanded {
  height: 60px !important;
}

mat-card-title {
  margin-bottom: 0px !important;
}

.history-chart {
  height: unset !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.heatmap-container {
  margin: 20px 20px;
}

.heatmap-day-container {
  height: 400px !important;
}
.heatmap-hour-container {
  height: 400px !important;
}

.a-link:hover {
  cursor: pointer !important;
}

@media screen and (min-width: 1800px) {
  .table {
    font-size: 18px !important;
  }
}

td {
  text-align: center !important;
}

.cell {
  padding-left: 5px !important;
}

p {
  color: #1a242f !important;
  font-size: 18px !important;
}

.decorated {
  text-decoration: underline;
}

.header_cell {
  text-align: right;
  padding-right: 10px !important;
  width: 150px !important;
}

@media (max-width:400px) {
  ngx-charts-legend {
    display: none !important;
  }
}
@media (max-width:600px) {
  .player-cards {
    margin-bottom: 5px;
    padding: 0;
  }
}

.player-info th {
  text-align: right !important;
}
.player-info td {
  text-align: left !important;
}
mat-chip:hover {
  cursor: pointer !important;
}

.ghost-won {
  background: #00961050 !important;
}
.ghost-lost {
  background: #CF443550 !important;
}
