<div style="font-size: 18px; min-width: 40vw; max-width: 90vw; min-height: 40vh; max-height: 80vh;">
  <!--height: calc(100% - 20px);-->
  <a (click)="dialogRef.close()" class="close"></a>
  <h1 class="mat-primary" style="text-align: center; color: #18BC9C; margin-top: 0px;" mat-dialog-title>{{name}}'s towns</h1>

  <mat-progress-bar *ngIf="loading" mode="indeterminate" style="margin: 25px 0px;"></mat-progress-bar>

  <div mat-dialog-content *ngIf="!loading" style="overflow-y: auto; height: 70%;">

    <div class="table" id="town_table">
      <div class="row_custom header default">
        <div class="cell">#</div>
        <div class="cell">Name</div>
        <div class="cell">Points</div>
      </div>

      <!--History-->
      <div class="row_custom" *ngFor="let h of townData; let i = index;">
        <div class="cell">
          {{i+1}}
        </div>
        <div class="cell">
          <a routerLink="/conquest/town/{{world}}/{{h.grep_id}}" (click)="dialogRef.close()">{{h.name}}</a>
        </div>
        <div class="cell">
          {{h.points | NumberFilter}}
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <br/>
    <button mat-button class="mat-raised-button mat-primary" (click)="dialogRef.close()">
      Close
    </button>
  </div>


</div>
