.content-body {
  padding: 0;
  font-family: 'Montserrat';
}

.content-title {
  background: #18BC9C;
  text-align: center;
  display: block;
  color: #fff;
  box-sizing: border-box;
  padding: 20px 0;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
}

mat-icon img {
  width: auto !important;
}

.name {
  font-size: 4em;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}

.segment-name {
  font-size: 2em;
  display: block;
  font-weight: 400;
  text-transform: uppercase;
}

.lib-panel {
  margin-bottom: 20Px;
}
.lib-panel img {
  width: 100%;
  background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
  padding: 0;
  background-color: #FFFFFF;
}

.lib-img-container {
  padding: 10px !important;
}

.lib-img {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.lib-panel .lib-row {
  padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
  color: #18BC9C;
  background-color: #FFFFFF;
  font-size: 26px;
  padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
  height: 2px;
  width: 26px;
  background-color: #d9d9d9;
  margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
  position: relative;
  height: 100%;
  display: block;
  font-size: 16px;
}
.lib-panel .lib-row.lib-desc a{
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 20px;
}

.lib-content {
  height: 100%;
}
.lib-panel .lib-row.lib-footer {
  padding: 10px;
  margin-top: 15px;
}

@media screen and (max-width: 1000px) {
  .lib-panel .lib-row.lib-footer {
    margin-top: 5px;
  }

}

.row-margin-bottom {
  margin-bottom: 20px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
  padding: 10px !important;
}

.segment-row {
  padding-bottom: 20px;
}

button {
  width: 50%;
}

@media (max-width: 800px) {
  .segment-row {
    padding-bottom: 0;
  }
  .no-padding {
    padding: 0 35px !important;
  }
  h2 {
    margin-top: 5px;
  }
  button {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .name {font-size: 2em !important;}
  .skills {font-size: 16px !important;}
  .content-title {
    padding: 2px 0 !important;
    line-height: 1 !important;
  }
}
