<div class="content-body">
  <div class="content-title">
    <div class="intro-text">
      <span class="name">Grepo<span style="color:#2C3E50;">data</span></span>
      <span class="skills hidden-xs">Advanced tools and statistics for the MMOG Grepolis</span>
      <span class="skills hidden-sm hidden-md hidden-lg">Tools and statistics for Grepolis</span>
    </div>
  </div>
  <div>
	  <div>
		  <app-search [secondary]="true"></app-search>
	  </div>
    <br/>
    <div class="container">

      <!--STATISTICS-->
      <div class="row segment-row">
        <div class="col-lg-12 text-center segment-name">
          <h2>Statistics <span class="fa fa-pie-chart" style="color: #18BC9C;"></span></h2>
          <hr class="hidden-xs" style="border-top: 2px solid #2C3E50;"/>
        </div>
      </div>
      <div class="row row-margin-bottom">
        <div class="col-md-12 col-lg-12 no-padding lib-item" data-category="view">
          <div class="lib-panel">
            <div class="row box-shadow">
              <div class="col-md-6 lib-content">
                <div class="lib-row lib-header">
                  Daily scoreboard <span style="color: #5e7798;" class="fa fa-trophy"></span>
                  <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                  Daily overview showing the best
	                <span class="hidden-xs"> attackers, defenders and conquerors for today (or previous days).</span>
	                <span class="hidden-sm hidden-md hidden-lg"> players for today.</span>
                </div>
                <div class="lib-row lib-footer">
                  <mat-icon class="icon-margin"><div class="bg-flag flag-{{server}}"></div></mat-icon>
                  <mat-form-field class="input-server" style="margin-right: 10px;">
                    <mat-select placeholder="Server" [ngModel]="server" (ngModelChange)="updateWorlds($event)" #select>
                      <mat-option *ngFor="let s of servers" value="{{s}}">
	                      <div class="bg-flag flag-inline flag-{{s}}"></div>&nbsp;{{s}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="input-world" style="margin-right: 10px;">
                    <mat-select placeholder="World" [ngModel]="world" (ngModelChange)="setWorld($event)">
                      <mat-option *ngFor="let w of worlds" value="{{w.id}}">{{w.id}} ({{w.name}})</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br/><button mat-button class="mat-raised-button mat-primary" (click)="loadScoreboard()">
                    Open scoreboard
                  </button>
                </div>
              </div>
              <div class="hidden-xs col-md-6 lib-img-container">
                <a routerLink="/points" [queryParams]="{world: world}" routerLinkActive>
                  <img class="lib-img" src="../../assets/images/scoreboard.png" alt="Grepolis daily scoreboard">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-margin-bottom">
        <div class="col-md-12 col-lg-12 no-padding lib-item" data-category="ui">
          <div class="lib-panel">
            <div class="row box-shadow">
              <div class="col-md-6 lib-content">
                <div class="lib-row lib-header">
                  Grepolis ranking <span style="color: #5e7798;" class="fa fa-line-chart"></span>
                  <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                  Browse player and alliance rankings. Sort by rank, towns, points, attack points, defend points or total points.
                </div>
                <div class="lib-row lib-footer">
                  <mat-icon class="icon-margin"><div class="bg-flag flag-{{server}}"></div></mat-icon>
                  <mat-form-field class="input-server" style="margin-right: 10px;">
                    <mat-select placeholder="Server" [ngModel]="server" (ngModelChange)="updateWorlds($event)" #select>
                      <mat-option *ngFor="let s of servers" value="{{s}}">
	                      <div class="bg-flag flag-inline flag-{{s}}"></div>&nbsp;{{s}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="input-world" style="margin-right: 10px;">
                    <mat-select placeholder="World" [ngModel]="world" (ngModelChange)="setWorld($event)">
                      <mat-option *ngFor="let w of worlds" value="{{w.id}}">{{w.id}} ({{w.name}})</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br/><button mat-button class="mat-raised-button mat-primary" (click)="loadRanking()">
                    Go to ranking
                  </button>
                </div>
              </div>
              <div class="hidden-xs col-md-6 lib-img-container">
                <a routerLink="/ranking">
                  <img class="lib-img" src="../../assets/images/ranking.png" alt="Grepolis ranking">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-margin-bottom">
        <div class="col-md-12 col-lg-12 no-padding lib-item" data-category="ui">
          <div class="lib-panel">
            <div class="row box-shadow">
              <div class="col-md-6 lib-content">
                <div class="lib-row lib-header">
                  Compare <span style="color: #5e7798;" class="fa fa-compress"></span>
                  <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                  Add players or alliances to the comparison list and gain a quick overview of how they compare.
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                </div>
                <div class="lib-row lib-footer">
                  <button mat-button class="mat-raised-button mat-primary" routerLink="/compare">
                    Start comparing
                  </button>
                </div>
              </div>
              <div class="hidden-xs col-md-6 lib-img-container">
                <a routerLink="/compare">
                  <img class="lib-img" src="../../assets/images/compare.png" alt="Grepolis compare">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="row row-margin-bottom">-->
        <!--<div class="col-md-0 col-lg-1"></div>-->
        <!--<div class="col-md-12 col-lg-10 no-padding lib-item" data-category="ui">-->
          <!--<div class="lib-panel">-->
            <!--<div class="row box-shadow">-->
              <!--<div class="col-md-6">-->
                <!--<div class="lib-row lib-header">-->
                  <!--Compare player and alliance histories <span style="color: #5e7798;" class="fa fa-compress"></span>-->
                  <!--<div class="lib-header-seperator"></div>-->
                <!--</div>-->
                <!--<div class="lib-row lib-desc">-->
                  <!--Compare players/alliances, find players/alliances, view current player/alliance statistics or browse statistics history.-->
                <!--</div>-->
                <!--<div class="lib-row lib-footer">-->
                  <!--<button mat-button class="mat-raised-button mat-primary" routerLink="\compare">-->
                    <!--Compare!-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="col-md-6 lib-img-container">-->
                <!--<a routerLink="/compare">-->
                  <!--<img class="lib-img" src="../../assets/images/player.png">-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-0 col-lg-1"></div>-->
      <!--</div>-->

      <!--TOOLS-->
      <div class="row" style="padding-bottom: 50px;">
        <div class="col-lg-12 text-center segment-name">
          <h2>Tools <span class="fa fa-wrench" style="color: #18BC9C;"></span></h2>
          <hr class="hidden-xs" style="border-top: 2px solid #2C3E50;"/>
        </div>
      </div>

      <div class="row row-margin-bottom">
        <div class="col-md-12 col-lg-12 no-padding lib-item" data-category="ui">
          <div class="lib-panel">
            <div class="row box-shadow">
              <div class="col-md-6">
                <div class="lib-row lib-header">
                  Enemy city indexer <span style="color: #5e7798;" class="fa fa-university"></span>
                  <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                  Collect all enemy troop intelligence that is posted on your alliance forum:
                  <br/>
                  <br/>
                  <ul>
                    <li>Create your own <strong>private</strong> index to browse the collected intel.</li>
                    <li>Use our <strong>userscript</strong> while browsing your in-game alliance forum to collect new intel.</li>
                    <li>Share the index with your allies and know when and where to strike next!</li>
                  </ul>
                </div>
                <div class="lib-row lib-footer">
                  <button mat-button class="mat-raised-button mat-primary" routerLink="/indexer">
                    More info
                  </button>
                </div>
              </div>
              <div class="hidden-xs col-md-6 lib-img-container">
                <a routerLink="/indexer">
                  <img class="lib-img" src="../../assets/images/indexer_town.png" alt="Enemy city indexer">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="row row-margin-bottom">
            <div class="col-md-12 col-lg-12 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Discord bot <span style="color: #5e7798;" class="fa fa-wrench"></span>
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                Add the GrepoData bot to your Discord server!
                                <br/>
                                <br/>
                                <ul>
                                    <li>Shows daily scoreboards.</li>
                                    <li>Integrated with your city index: get town intelligence.</li>
                                </ul>
                            </div>
                            <div class="lib-row lib-footer">
                                <button mat-button class="mat-raised-button mat-primary" routerLink="/discord">
                                    More info
                                </button>
                            </div>
                        </div>
                        <div class="hidden-xs col-md-6 lib-img-container">
                            <a routerLink="/discord">
                                <img class="lib-img" src="../../assets/images/discord.png" alt="GrepoData Discord bot">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


  </div>
</div>
