<div class="alert alert-gd-1">
	<h2 class="gd-primary">How do I install the userscript?</h2>
	<div class="faq-content">
		Check out the detailed instructions on this page: <a routerLink="/profile/script" style="text-decoration: underline;">Userscript installation instructions</a>
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">How can I collect enemy intelligence?</h2>
	<div class="faq-content">
		<br/>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
				Reports will receive an additional '<strong>Index +</strong>' button that will allow you to upload the report to your unique index.
				Click on this button to upload the report to the index.
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<img class="lib-img" style="max-width: 100%; display: block; border: 1px solid #334254;" src="../../assets/images/index.png" alt="Grepolis index report">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-8">
				Our service will then analyse the report to extract enemy intelligence and add it to your index.
				You and your allies can browse the collected intel on grepodata.com or in-game when they also have the userscript installed
				(if you want to browse intel while in-game, you need to install the userscript for that index).
				<br/>
				<br/>
				<strong>Note:</strong> You should install the userscript again for each new index you want to use; each index has its own unique generated userscript. You can have multiple userscripts installed at the same time.
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
				<img class="lib-img" style="max-width: 100%; display: block;" src="../../assets/images/indexer_town.png" alt="Grepolis town intel">
				<h5 class="gd-secondary" style="float: right;">Images copyright © InnoGames GmbH</h5>
			</div>
		</div>
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">Keyboard shortcuts</h2>
	<div class="faq-content">
		You can use the '<strong>[</strong>' and '<strong>]</strong>' keys on your keyboard to navigate to the previous and next report in your reports inbox.
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">Is it allowed?</h2>
	<div class="faq-content">
		Our script does not automate any gameplay elements, and therefore is in compliance with the overall rules.
		<br/>Official approval is still pending. However, using our script will not get you banned. <a href="https://en.forum.grepolis.com/index.php?threads/grepodata-enemy-city-indexer-pending-approval.62245/#post-1057206" target="_blank">You can find more info about this here.</a>
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">What type of reports are collected?</h2>
	<div class="faq-content">
		Currently our userscript allows you to collect published reports that are posted on your alliance forum or sent to you in a personal message.
		Reports from your reports inbox can also be indexed without publishing them.
		Converted reports from other third party tools can not yet be indexed.
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">Is my index secure?</h2>
	<div class="faq-content">
		Your index key is only available to you and anyone you choose to share the link with. If you suspect your index has been leaked you can easily request a new key to once again secure the index by using the red button in the top right corner of your index homepage.
		<br/><br/>
		We actively keep track of bots and crawlers to prevent unauthorized users to gain access to your index. Please keep in mind that you will be temporarily banned if you try to find unknown index keys.
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">Who should install the userscript?</h2>
	<div class="faq-content">
		The more players use your index userscript, the more intel will be collected. You should encourage your alliance members to also use the script in order to maximize the collected intel.
		If you wish to collect your own intel, you need to create a new private index and install the userscript that comes with it.
		If you create a new index, you need to install the unique userscript that comes with it.
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">How do i uninstall the userscript?</h2>
	<div class="faq-content">
		You can install multiple userscripts (for different indexes) at the same time; you don't have to uninstall the userscript to install a new script.
		<br/>
		If you do want to uninstall an old script, navigate to the Tampermonkey dashboard by clicking on the Tampermonkey icon in the top right,
		and then clicking on 'Dashboard'. Find the script you want to uninstall in this list and remove it from Tampermonkey.
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">Can I create multiple indexes?</h2>
	<div class="faq-content">
		You can create as many indexes as you wish. Please note that you should make a new index for each world you wish to play in.
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">Can I merge my index with a friendly alliance?</h2>
	<div class="faq-content">
		Merging and forking of indexes will be part of a future release.
	</div>
</div>
<div class="alert alert-gd-1">
	<h2 class="gd-primary">Update history</h2>
	<div class="faq-content">
		<a routerLink="/changelog" style="text-decoration: underline;">Changelog</a>
	</div>
</div>