<div class="contact-container">
  <a (click)="dialogRef.close()" class="close"></a>
  <h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>Contact us</h1>
	<p>If you want us to reply, please also enter your email address.</p>

  <div mat-dialog-content *ngIf="submitted==false" style=" min-width: 40%;">

	  <div class="contact-form" style="margin: 25px 0 0 0;">
	    <div fxLayout="column" fxLayoutAlign="center center" style="width: 100% !important;">
	      <mat-form-field  style="width: 100% !important;" appearance="outline">
		      <mat-label>Your message</mat-label>
	        <textarea [disabled]="loading" style="font-size: 20px;" [ngModel]="contact_message" (ngModelChange)="contact_message=$event" required matInput placeholder="Your message" rows="4"></textarea>
	      </mat-form-field>
	      <mat-form-field style="width: 100% !important;" appearance="outline">
		      <mat-label>Email (optional)</mat-label>
	        <input autocomplete="email" [disabled]="loading" [ngModel]="contact_mail" (ngModelChange)="contact_mail=$event" matInput placeholder="Email (optional)">
	      </mat-form-field>

		    <div class="row" *ngIf="contact_mail != ''">
			    <div class="col-xs-1">
				    <mat-checkbox [disabled]="loading" [(ngModel)]="privacy_agreed"></mat-checkbox>
			    </div>
			    <div class="col-xs-11" style="text-align: left;">
				    <p>By submitting this form you agree to our <a routerLink="/privacy" (click)="dialogRef.close()">Privacy Policy</a></p>
			    </div>
		    </div>
	      <br/>

        <app-alert type="error" title="" *ngIf="error!=''" [dismissible]="false">
          <strong>Invalid input!</strong> {{error}}.
        </app-alert>

		    <div fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">
			    <button [disabled]="loading" style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary"(click)="captchaRef.execute()">
				    <div *ngIf="loading" style="margin-top: -5px; margin-bottom: 5px;">Sending message..</div>
				    <span *ngIf="!loading">Send message</span>
			    </button>
			    <mat-progress-bar style="margin-top: -10px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
			    <p style="font-size: 12px; height: 20px; color: gray; padding-top: 10px; text-align: center;">
				    Or send us an email at <span id="mail" class="a-link" (click)="copy()" style="text-decoration: underline; color: #5cc4ef;">admin@grepodata.com</span>
				    <br/><span *ngIf="copied"><strong>Copied address to clipboard!</strong></span>
			    </p>
	      </div>

      </div>
    </div>
  </div>
  <div *ngIf="submitted==true" style="min-width: 300px;">
    <p>Thanks for reaching out! <span *ngIf="contact_mail!=''">We will respond as soon as possible.</span></p>
  </div>

  <div *ngIf="submitted==false" mat-dialog-actions fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">

    <div fxLayoutAlign="center center">
      <re-captcha
              size="invisible"
              #captchaRef="reCaptcha"
              siteKey="{{recaptcha_key}}"
              (resolved)="$event && resolved($event)">
      </re-captcha>
    </div>
  </div>


</div>
