<div class="hidden-push-div"></div>
<nav>
  <span id="brand">
    <a class="brand-text" routerLink="" routerLinkActive="active">Grepo<span style="color:#18BC9C;">data</span></a>
    <!--<a class="navbar-brand" href="#page-top">Grepo<span style="color:#18BC9C;">data</span> <span class="fa fa-bar-chart"></span></a>-->
  </span>
  <!--suppress XmlDuplicatedId -->
  <ul id="menu">
    <li (click)="routing('/points')" [ngClass]="{'nav-active': isScoreboard}"><a routerLinkActive="active"><span class="fa fa-trophy"></span> SCOREBOARD</a></li>
    <li (click)="routing('/compare')" [ngClass]="{'nav-active': isCompare}"><a routerLinkActive="active"><span class="fa fa-compress"></span> COMPARE</a></li>
    <li (click)="routing('/ranking')" [ngClass]="{'nav-active': isRanking}"><a routerLinkActive="active"><span class="fa fa-line-chart"></span> RANKINGS</a></li>
    <li (click)="openIndexer()" [ngClass]="{'nav-active': isIndexer}"><a routerLinkActive="active"><span class="fa fa-university"></span> CITY INDEXER</a></li>
    <li (click)="showContactDialog()"><a><span class="fa fa-envelope"></span> CONTACT</a></li>
<!--	  <li (click)="routing('/message')" [ngClass]="{'nav-active': isRanking}" class="hidden-xs hidden-sm hidden-md"><a routerLinkActive="active">DONATE</a></li>-->
	  <li class="li-donate hidden-xs hidden-sm hidden-md" style="display: flex; float: right;" (click)="donate()">
		  <div>
			  <div style="height: 5px;"></div>
			  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				  <input type="hidden" name="cmd" value="_s-xclick" />
				  <input type="hidden" name="hosted_button_id" value="WYX6WW65KYQ5N" />
				  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			  </form>
		  </div>
	  </li>
    <li class="hidden-xs hidden-sm hidden-md" matTooltip="Check us out on Github!">
      <a href="https://github.com/GrepoDataTools" target="_blank"><mat-icon style="margin-left: -8px;"><img src="assets/images/icons/GitHub.png"/></mat-icon></a>
    </li>
  </ul>

  <div id="toggle" (click)="toggleNav()" [ngClass]="{'on': toggled}">
    <div class="span" id="one"></div>
    <div class="span" id="two"></div>
    <div class="span" id="three"></div>
  </div>

</nav>


<div id="resize" class="menu-small" [ngClass]="{'active': toggled}">
  <!--suppress XmlDuplicatedId -->
  <ul id="menu" class="mobile-nav">
    <li><a (click)="routing('/points')" routerLink="/points" routerLinkActive="active">SCOREBOARD</a></li>
    <li><a (click)="routing('/compare')" routerLink="/points" routerLinkActive="active">COMPARE</a></li>
    <li><a (click)="routing('/ranking')" routerLink="/ranking" routerLinkActive="active">RANKINGS</a></li>
    <li><a (click)="openIndexer()" routerLink="/indexer" routerLinkActive="active">CITY INDEXER</a></li>
    <li><a (click)="headerContact()">CONTACT</a></li>
  </ul>
</div>
