<div class="hidden-push-div"></div>
<nav>
  <span id="brand">
    <a class="brand-text" routerLink="" routerLinkActive="active">Grepo<span style="color:#18BC9C;">data</span></a>
    <!--<a class="navbar-brand" href="#page-top">Grepo<span style="color:#18BC9C;">data</span> <span class="fa fa-bar-chart"></span></a>-->
  </span>
  <!--suppress XmlDuplicatedId -->
  <ul id="menu" class="menu-item-container">
    <li (click)="routing('/points')" [ngClass]="{'nav-active': isScoreboard}">Scoreboard</li>
    <li (click)="routing('/compare')" [ngClass]="{'nav-active': isCompare}">Compare</li>
    <li (click)="routing('/ranking')" [ngClass]="{'nav-active': isRanking}">Ranking</li>
    <li (click)="openIndexer()" [ngClass]="{'nav-active': isIndexer}">City Indexer</li>
    <li (click)="showContactDialog()">Contact</li>
    <a class="a-donate donate" (click)="routing('/donate')" [ngClass]="{'nav-active': isDonate}">DONATE</a>
  </ul>

  <div id="toggle" (click)="toggleNav()" [ngClass]="{'on': toggled}">
    <div class="span" id="one"></div>
    <div class="span" id="two"></div>
    <div class="span" id="three"></div>
  </div>

</nav>


<div id="resize" class="menu-small" [ngClass]="{'active': toggled}">
  <!--suppress XmlDuplicatedId -->
  <ul id="menu" class="mobile-nav">
    <li><a (click)="routing('/points')" routerLink="/points" routerLinkActive="active">SCOREBOARD</a></li>
    <li><a (click)="routing('/compare')" routerLink="/points" routerLinkActive="active">COMPARE</a></li>
    <li><a (click)="routing('/ranking')" routerLink="/ranking" routerLinkActive="active">RANKINGS</a></li>
    <li><a (click)="openIndexer()" routerLink="/indexer" routerLinkActive="active">CITY INDEXER</a></li>
    <li><a (click)="headerContact()">CONTACT</a></li>
  </ul>
</div>
