.login-fixed {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  padding: 0 !important;
}

input {
  font-size: 18px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}

.login-icon {
  fill: currentColor;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
  background: #18bc9b;
  border-radius: 25px;
  padding: 10px;
  color: #FFF;
}

.login-icon-container {
  text-align: center;

  p {
    font-size: 22px;
  }

  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  font-size: 18px !important;
}

.form-control {
  font-size: 18px !important;
}

.auth-form {
  padding: 0 25px;
}