<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12" style="float: none; margin: auto;">
      <div class=" alert alert-default alert-gd-1" style="padding: 30px 30px 50px 30px;">

        <!--<div style="float: left;">-->
        <!--<a mat-button style="font-size: 18px; color: gray;" routerLink="/">-->
        <!--<span class="fa fa-backward"></span> Homepage-->
        <!--</a>-->
        <!--</div>-->

        <!--<div style="float: right;">-->
        <!--<a mat-button style="font-size: 18px; color: gray;" routerLink="/indexer">-->
        <!--<span class="fa fa-forward"></span> City Indexer-->
        <!--</a>-->
        <!--</div>-->
        <!--<br/>-->
        <div class="text-center"><h2 style=""> City Indexer Userscript Changelog</h2>
          <h4>
            <a href="https://github.com/GrepoDataTools/grepodata-backend/commits/master/Software/Application/Indexer/indexer.js" target="_blank">
              <i class="fa fa-github" aria-hidden="true"></i> View full userscript change history on GitHub
            </a>
          </h4>
          <p><strong>Note:</strong> You do not have to update the GrepoData userscript.
            <br/>Your browser will automatically use the latest version.</p>
        </div>
        <br/>
        <br/>

	      <h4>
          21-09-2021 - <span class="label label-warning">Latest version</span> &nbsp;
          <a href="https://github.com/GrepoDataTools/grepodata-backend/commit/9d08adba8c2a234d5b11c980c8c162c10cbb1d9a#diff-c99d467c47c572f6de633952fa1de8c54b36adb85d925f031b05dcad62e2d39e" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> View detailed changes on github.com
          </a>
        </h4>
	      <p>- Added a bugfix for town names in the support overview. Due to a bug in the game, the support overview shows the current town instead of the source town of your units. We added a function to our userscript that fixes this bug. </p>

	      <hr/>

	      <h4>
          17-09-2021 -
          <a href="https://github.com/GrepoDataTools/grepodata-backend/commit/11537c906c7b446882e4dc3cd54e4a9d92b1b42e#diff-c99d467c47c572f6de633952fa1de8c54b36adb85d925f031b05dcad62e2d39e" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> View detailed changes on github.com
          </a>
        </h4>
	      <p>- Fixed a bug that would cause the GrepoData dialog windows to open in a weird way. </p>

	      <hr/>

	      <h4>
          11-07-2021 -
          <a href="https://github.com/GrepoDataTools/grepodata-backend/commit/a2620466801a256728c3a979bb15f12389cf95d2#diff-c99d467c47c572f6de633952fa1de8c54b36adb85d925f031b05dcad62e2d39e" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> View detailed changes on github.com
          </a>
        </h4>
	      <p>- Add a tooltip to spy reports in the intel viewer that shows how much silver was used. </p>

	      <hr/>

	      <h4>
          26-05-2021 -
          <a href="https://github.com/GrepoDataTools/grepodata-backend/commit/dcfc38d27ff78ce50955b13b9a4a5b94071dda9d#diff-c99d467c47c572f6de633952fa1de8c54b36adb85d925f031b05dcad62e2d39e" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i> View detailed changes on github.com
          </a>
        </h4>
	      <p>- Bugfix for return time on movements to own cities. </p>

      </div>
    </div>
  </div>
</div>
