<div class="top-container">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px">
    <mat-card fxFlex>
      <mat-card-content>

        <div #searchContainer class="search-container container-fluid">

          <div class="row">
            <div class="col-sm-4 search-group" [ngClass]="{'hidden-xs': !searching_players && num_results > 0}">
              <div id="sb-search-players" class="sb-search">
                <form>
                  <input (click)="clickedPlayerInput()" autocomplete="off" class="sb-search-input" placeholder="Search players..." type="search" value="" name="search" id="search-players" (keyup)="searchPlayers($event)">
                  <input class="sb-search-submit" type="button" value="">
                  <span class="sb-icon-search" (click)="doSearchPlayers()"><mat-icon class="search-icon">person_search</mat-icon></span>
                  <mat-progress-bar *ngIf="searching_players && loading" class="searching-loading" mode="indeterminate"></mat-progress-bar>
                </form>
              </div>
            </div>
            <div class="col-sm-4 search-group" [ngClass]="{'hidden-xs': !searching_alliances && num_results > 0}">
              <div id="sb-search-alliances" class="sb-search">
                <form>
                  <input (click)="clickedAllianceInput()" autocomplete="off" class="sb-search-input" placeholder="Search alliances..." type="search" value="" name="search" id="search-alliances" (keyup)="searchAlliances($event)">
                  <input class="sb-search-submit" type="button" value="">
                  <span class="sb-icon-search" (click)="doSearchAlliances()"><mat-icon class="search-icon">groups</mat-icon></span>
                  <mat-progress-bar *ngIf="searching_alliances && loading" class="searching-loading" mode="indeterminate"></mat-progress-bar>
                </form>
              </div>
            </div>
            <div class="col-sm-4 search-group" [ngClass]="{'hidden-xs': !searching_towns && num_results > 0}">
              <div id="sb-search-towns" class="sb-search">
                <form>
                  <input (click)="clickedTownInput()" autocomplete="off" class="sb-search-input" placeholder="Search towns..." type="search" value="" name="search" id="search-towns" (keyup)="searchTowns($event)">
                  <input class="sb-search-submit" type="button" value="">
                  <span class="sb-icon-search" (click)="doSearchTowns()"><mat-icon class="search-icon">account_balance</mat-icon></span>
                  <mat-progress-bar *ngIf="searching_towns && loading" class="searching-loading" mode="indeterminate"></mat-progress-bar>
                </form>
              </div>
            </div>
          </div>

          <div *ngIf="!hide_results" class="row text-center search-results-container" [ngClass]="searching_towns?'town':searching_players?'player':'alliance'">

            <!--Player results-->
            <div *ngIf="searching_players" class="">
              <div *ngIf="players?.length < 1 && !loading" class="text-center">
                <div class="alert alert-gd-1">
                  <h3>No player found for '<span class="gd-secondary">{{playerInput}}</span>'</h3>
                </div>
              </div>
              <div *ngIf="num_results > 0 && !loading" id="search_output">
                <div class="table">
                  <div class="row_custom header default">
                    <div class="cell custom-cell">Player name</div>
                    <div class="cell">world</div>
                  </div>

                  <div *ngFor="let player of players" class="row_custom">
                    <div class="cell custom-cell" style="width: 70%;">
                      <a routerLink="/intel/player/{{player?.world}}/{{player?.id}}">
                        <img src="../../assets/images/player_ico.png"/>
                        {{player?.name}}
                      </a>
                    </div>
                    <div class="cell world-cell" style="width: 30%;">
	                    <span [outerHTML]="player?.world | WorldNamePipe"></span>
                    </div>
                  </div>
                </div>

              </div>

            </div>

            <!--Alliance results-->
            <div *ngIf="searching_alliances" class="">
              <div *ngIf="alliances?.length < 1 && !loading" class="text-center">
                <div class="alert alert-gd-1">
                  <h3>No alliance found for '<span class="gd-secondary">{{allianceInput}}</span>'</h3>
                </div>
              </div>
              <div *ngIf="!hide_results && num_results > 0 && !loading" id="search_output_alliances">
                <div class="table">
                  <div class="row_custom header default">
                    <div class="cell custom-cell name-cell">Alliance name</div>
                    <div class="cell hidden-xs">Rank</div>
                    <!--<div class="cell hidden-xs hidden-sm">Members</div>-->
                    <div class="cell hidden-xs">World</div>
                    <div class="cell hidden-xs hidden-sm hidden-md">Points</div>
                    <!--<div class="cell hidden-xs">Towns</div>-->
                  </div>

                  <div *ngFor="let alliance of alliances" class="row_custom">
                    <div class="cell custom-cell name-cell">
                      <a routerLink="/intel/alliance/{{alliance?.world}}/{{alliance?.id}}">
                        <img src="../../assets/images/ally_ico.png"/>
                        {{alliance?.name}}
                      </a>
                    </div>
                    <div class="cell hidden-xs" style="width: 10%;">
                      {{alliance?.rank}}
                    </div>
                    <!--<div class="cell hidden-xs hidden-sm">-->
                      <!--{{alliance?.members}}-->
                    <!--</div>-->
	                  <div class="cell hidden-xs world-cell" style="width: 25%;">
		                  <span [outerHTML]="alliance?.world | WorldNamePipe"></span>
	                  </div>
                    <div class="cell hidden-xs hidden-sm hidden-md" style="width: 25%;">
                      {{alliance?.points | NumberFilter}}
                    </div>
                    <!--<div class="cell hidden-xs">-->
                      <!--{{alliance?.towns}}-->
                    <!--</div>-->
                  </div>
                </div>

              </div>
            </div>

            <!--Town results-->
            <div *ngIf="searching_towns" class="">
              <div *ngIf="towns?.length < 1 && !loading" class="text-center">
                <div class="alert alert-gd-1" style="margin-bottom: 0 !important; border-radius: 0 !important;">
                  <h3 style="margin:0;">No towns found matching '<span class="gd-secondary">{{townInput}}</span>'</h3>
                </div>
              </div>
              <div *ngIf="!hide_results && num_results > 0 && !loading" id="search_output_towns">
                <div class="table">
                  <div class="row_custom header default">
                  <div class="cell custom-cell">Town name</div>
                  <div class="cell hidden-xs">Player</div>
                  <div class="cell hidden-xs hidden-sm">world</div>
                </div>

                  <div *ngFor="let town of towns" class="row_custom">
                    <div class="cell custom-cell name-cell">
                      <a routerLink="/intel/town/{{town?.world}}/{{town?.id}}">
                        <img src="../../assets/images/town_ico.png"/>
                        {{town?.name}}
                      </a>
                    </div>
                    <div class="cell hidden-xs" style="width: 30%;">
                      <a routerLink="/intel/player/{{town?.world}}/{{town?.player_id}}" *ngIf="town?.player_id>0">
                        <img src="../../assets/images/player_ico.png"/>
                        {{town?.player_name}}
                      </a>
                      <span *ngIf="town?.player_id<=0">Ghost</span>
                    </div>
	                  <div class="cell world-cell hidden-xs hidden-sm" style="width: 30%;">
		                  <span [outerHTML]="town?.world | WorldNamePipe"></span>
	                  </div>
                  </div>
                </div>

              </div>
            </div>

            <div *ngIf="!loading" fxLayout="row" fxLayoutAlign="center center">
              <a class="close-results" (click)="hide_results = true; cdr.detectChanges();">
                Close search results <i class="fa fa-close"></i>
              </a>

            </div>

          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
