<div class="container" style="
		position: fixed;
    top: 40vh;
    left: 15%;
    width: 70%;">
	<div class="row">
		<div class="col-12">
			<div class="alert alert-gd-1 text-center">
				<h1 class="gd-primary">Thank you!</h1>
				<h4 class="gd-secondary"><strong>Thank you for supporting our project.</strong>
					<br>Every donation goes towards the server upkeep costs for grepodata.com.
					<br>If you have any further questions or remarks, you can contact us at any time.
				</h4>
			</div>
		</div>
	</div>
</div>
