<div mat-dialog-content style="min-width: 90%; min-height: 70%;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<a (click)="dialogRef.close()" class="close"></a>
				<h2 class="gd-secondary">Settings for index <span class="gd-primary"><mat-icon style="opacity: 1; vertical-align: middle;">account_balance</mat-icon>&nbsp;{{index.name}}</span></h2>

				<div class="alert alert-gd-1">
					<h2 class="gd-secondary">Friendly alliances (index owners)</h2>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="alert alert-gd-1">
					<h2 class="gd-secondary">General index settings</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div mat-dialog-actions class="dialog-action">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<button mat-button class="mat-focus-indicator mat-raised-button bg-gd-2 gd-white mat-button mat-button-base" (click)="close()">Cancel</button>
				<button mat-button class="mat-focus-indicator mat-raised-button bg-gd-1 text-white mat-button mat-button-base" (click)="close()" style="float: right;">Apply changes</button>
			</div>
		</div>
	</div>
</div>