<div class="container-fluid" style="
		position: fixed;
    top: 20%;
    left: 5%;
    width: 90%;
		padding: 0 !important;">

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">

			<div class="alert alert-gd-1" style="margin: 0 0 15px 0;">

				<div>
					<h2>Register</h2>
					<form *ngIf="!success" [formGroup]="loginForm" (ngSubmit)="environment.production==true?captchaRef.execute():sendRequest()">
						<div class="form-group">
							<label for="username">Username <span class="lbl-details">(public, this name is visible to other users)</span></label>
							<input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
							<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
								<div *ngIf="f.username.errors.required">Username is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="mail">Email Address <span class="lbl-details">(private, we only use this to communicate with you)</span></label>
							<input type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
							<div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
								<div *ngIf="f.mail.errors.required">Email address is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input autocomplete="off" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
							<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
								<div *ngIf="f.password.errors.required">Password is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password2">Password confirmation</label>
							<input autocomplete="off" type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
							<div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
								<div *ngIf="f.password2.errors.required">Password verification is required</div>
							</div>
						</div>
						<div class="form-check" style="display: flex;">
							<input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="privacy">
							<label for="privacy">&nbsp;&nbsp;By submitting this form you agree with our <a routerLink="/privacy" (click)="dialogRef.close()" target="_blank">Privacy Policy</a></label>
						</div>
						<div *ngIf="submitted && f.privacy.errors" class="invalid-feedback">
							<div *ngIf="f.privacy.errors.required">Accept our privacy policy to continue</div>
						</div>
						<br/>
						<div class="form-group">
							<button [disabled]="loading" class="btn btn-primary">
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
								Register
							</button>
							<a routerLink="/login" class="btn btn-link">login with existing account</a>
						</div>

						<p class="invalid-feedback" *ngIf="error!=''" style="color: #a94442 !important;">{{error}}</p>
					</form>

					<div *ngIf="success">
						<p><strong>Login successful!</strong> Redirecting..</p>
					</div>
				</div>


			</div>

			<div class="row text-center" style="text-align: -webkit-center;" *ngIf="!success">
				<re-captcha
					size="invisible" badge="inline"
					#captchaRef="reCaptcha"
					siteKey="{{recaptcha_key}}"
					(resolved)="$event && resolved($event)">
				</re-captcha>
			</div>

		</div>
	</div>


</div>
