<div class="container-fluid" style="
		position: fixed;
    top: 20%;
    left: 5%;
    width: 90%;
		padding: 0 !important;">

	<div class="row">
		<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-4 offset-lg-4">

			<div class="alert alert-gd-1" style="margin: 0 0 15px 0;">

				<div>
					<h2>Register</h2>
					<div class="alert alert-info">
						<strong><mat-icon style="vertical-align: text-top;">new_releases</mat-icon> GrepoData now uses account authentication to manage your indexes.</strong>
						If you previously created an index and want to manage it, create an account with the same email address as was used to create the old index.
						Your new account will be linked to your old indexes.
					</div>
					<form autocomplete="off" *ngIf="!success" [formGroup]="loginForm" (ngSubmit)="environment.production==true?captchaRef.execute():sendRequest()">
						<div class="form-group">
							<label for="mail">Email Address</label>
							<input autocomplete="email" type="text" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors }" />
							<div *ngIf="submitted && f.mail.errors" class="invalid-feedback">
								<div *ngIf="f.mail.errors.required">Email address is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input autocomplete="off" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
							<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
								<div *ngIf="f.password.errors.required">Password is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="password2">Password confirmation</label>
							<input autocomplete="off" type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
							<div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
								<div *ngIf="f.password2.errors.required">Password verification is required</div>
							</div>
						</div>
						<div class="form-check ml-1">
							<input class="form-check-input" type="checkbox" id="privacy" formControlName="privacy" style="width: 17px; height: 17px;">
							<label class="form-check-label" for="privacy">&nbsp;&nbsp;By submitting this form you agree with our <a routerLink="/privacy">Privacy Policy</a></label>
						</div>
						<div *ngIf="submitted && f.privacy.errors" class="invalid-feedback">
							<div *ngIf="f.privacy.errors.required">Accept our privacy policy to continue</div>
						</div>
						<br/>
						<div class="form-group">
							<button [disabled]="loading" class="btn btn-primary mr-1">
								<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
								Register
							</button>
							<button [disabled]="loading" type="button" routerLink="/auth/login" class="btn btn-secondary" style="float: right;">
								Login with existing account <mat-icon style="opacity: 1; vertical-align: bottom;">launch</mat-icon>
							</button>
						</div>

						<p *ngIf="error!=''" style="color: #a94442 !important;">{{error}}</p>

					</form>


					<div *ngIf="success">
						<p><strong>Login successful!</strong> Redirecting..</p>
					</div>
				</div>


			</div>

			<div class="row" style="text-align: -webkit-center; place-content: center; align-items: center;;" *ngIf="!success">
				<re-captcha
					size="invisible" badge="inline"
					#captchaRef="reCaptcha"
					siteKey="{{recaptcha_key}}"
					(resolved)="$event && resolved($event)">
				</re-captcha>
			</div>

		</div>
	</div>


</div>
