$side-background: #304356;
$side-primary: #17bc9b;
$side-primary2: #43d0b3;

//$side-background: #fff;
//$side-primary: #17bc9b;
//$side-primary2: #43d0b3;

.compare-chart-container {
  height: 320px;
}

.compare-container {
  width: 100%;
  height: auto;
}

.sidebar-compare {
  width: 22%;
  height: calc(100vh - 69px);
  min-height: calc(100vh - 69px);
  max-height: calc(100vh - 69px);
  //background: rgba(#334254, 0.2);
  //background: #f5f5f5;
  background: $side-background;
  //background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  float: left;
  color: #233140;
  padding: 0px;
  position: fixed;
  z-index: 100;
  font-size: 14px;
  box-shadow: -5px 7px 20px 2px #606060;
  //font-family: Montserrat !important;

  .row { margin: 0px !important; }

  .alert {
    padding: 7px !important;
    margin-bottom: 0px !important;
  }

  .compare-box {
    margin-top: 12px !important;
    background: #79918c !important;
    border: 1px $side-primary solid !important;
  }

  .compare-title {
    background: $side-primary !important;
    font-size: 18px !important;
  }

  .compare-entity {
    margin-top: 0px !important;
  }

  .compare-entity-delete {
    background: rgba($side-background, 0.85) !important;
  }
  .compare-entity-delete:hover {
    background: $side-primary !important;
  }

  .compare-entity-info {
    background: rgba($side-background, 0.85) !important;

    a {
      color: $side-primary2 !important;
    }
  }

  .compare-btn {
    background: #304355 !important;
  }
  .compare-btn-active {
    background: $side-primary2 !important;
    border: 1px solid #1a806a !important;
  }
  .compare-btn:hover {
    background: rgba($side-primary, 0.7) !important;
  }
}


.compare-list {
  width: 100%;
  padding: 0px;
}

.player-list {
  padding: 0 7px;
}

.alliance-list {
  padding: 0 7px;
}

.compare-box {
  background: rgba($side-background, 0.3);
  padding: 0px !important;
  margin-top: 7px !important;
}

.compare-title {
  background: rgba($side-background, 0.8);
  margin: 0px;
  padding: 5px;
  width: 100%;
}

.compare-info {
  width: calc(60% - 1px);
  float: left;
  color: #ffffff;
  padding-top: 3px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;

  img {
    height: 25px;
  }
}

.compare-action {
  width: calc(40%);
  float: right;
  overflow: hidden;
  text-align: right;
}

.compare-btn {
  background: $side-primary !important;
  border: hidden !important;
  border-radius: 0px !important;
}

.compare-btn-active {
  background: rgba($side-primary, 0.4) !important;
  border-radius: 0px !important;
}

.compare-btn:hover {
  background: rgba($side-primary, 0.7) !important;
}

.compare-entity {
  margin-top: 1px;
  height: 25px;
  text-align: center;
}

.compare-entity-delete {
  float: left;
  height: 25px;
  width: 25px;
  margin-right: 1px;
  padding-top: 1px;
  background: rgba($side-background, 0.7);
}
.compare-entity-delete:hover {
  cursor: pointer;
  background: rgba($side-primary, 0.7);
}

.compare-entity-info {
  float: left;
  height: 25px;
  width: calc(100% - 26px);
  padding-top: 2px;
  padding-left: 10px;
  text-align: left;
  background: rgba($side-background, 0.7);
  overflow: hidden;
  white-space: nowrap;

  a {color: #e5f8f4;}
  a:hover:after {
    font-family: FontAwesome;
    top:0;
    left:5px;
    padding-right:10px;
    content: "  \f08e";
  }
}

.compare-content {
  width: 78%;
  float: right;
}

.mobile-compare-container {
  width: 0px;
  display: none;
  color: #fff;
  .row {margin: 0px !important;}
}

@media (max-width:900px) {
  .sidebar-compare {
    width: 0px;
    display: none;
  }
  .mobile-compare-container {
    width: 100%;
    display: block;
  }
  .compare-content {
    width: 100%;
  }
}

@media (min-width:1200px) {
  .sidebar-compare {
    width: 22%;
    font-size: 16px;
  }
  .compare-content {
    width: 78%;
  }
}

@media (min-width:1800px) {
  .sidebar-compare {
    width: 18%;
    font-size: 18px;
  }
  .compare-content {
    width: 82%;
  }
}
