.new-acc-form-container {
  border: 1px solid #233140;
  background: whitesmoke;
  padding: 0 15px 15px;
  margin: 0 100px;
}

.linked-table {
  text-align: center !important;

  th {
    text-align: center !important;
    vertical-align: middle;
  }

  td {
    text-align: center !important;
    vertical-align: middle;
  }
}

.linked-new {
  margin-top: 20px;
}
