.new-acc-form-container {
  border: 1px solid #233140;
  background: whitesmoke;
  padding: 0 15px 15px;
}

.linked-table {
  text-align: left !important;
  td {
    text-align: left !important;
  }
}

.linked-new {
  margin-top: 20px;
}