<div class="container" style="margin-top: 30px;">
	<div class="row">
		<div class="col-lg-8 col-md-10 col-sm-12" style="float: none; margin: auto;">
			<div class=" alert alert-default alert-gd-1" style="padding: 30px 30px 50px 30px;">

				<!--<div style="float: left;">-->
				<!--<a mat-button style="font-size: 18px; color: gray;" routerLink="/">-->
				<!--<span class="fa fa-backward"></span> Homepage-->
				<!--</a>-->
				<!--</div>-->

				<!--<div style="float: right;">-->
				<!--<a mat-button style="font-size: 18px; color: gray;" routerLink="/indexer">-->
				<!--<span class="fa fa-forward"></span> City Indexer-->
				<!--</a>-->
				<!--</div>-->
				<!--<br/>-->
				<div class="text-center"><h2 style=""> City Indexer Version Changelog</h2>
					<h4><a href="https://github.com/grepodata/grepodata-userscript" target="_blank">
						<fa-icon [icon]="gitIcon"></fa-icon>  source code
					</a></h4></div>
				<br/>
				<br/>

				<h4>v3.7.1 11-02-2020 &nbsp; &nbsp; <span class="badge badge-secondary">Latest version</span></h4>
				<p>- Improved report sharing security (hide index key when sharing an undefined index)</p>
				<a href="https://github.com/GrepoDataTools/grepodata-backend/commit/0cb34a8fd25829786d4192235aae7d63d6002349#diff-efe31ecbd0dfeba267ed288538be83c0" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.7.0 09-02-2020</h4>
				<p>- Added Discord share buttons for inbox and forum reports</p>
				<a href="https://github.com/grepodata/grepodata-backend/commit/c05d0dbadce95ed17bc28ef3e8d260b49bbe56ee" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.6.2 09-01-2020</h4>
				<p>- Added optional buttons linking to player/alliance statistics on grepodata.com</p>
				<a href="https://github.com/grepodata/grepodata-userscript/commit/c0ca3ed42221b5267b273ff2374708fdbad8720e" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.6.0 25-10-2019</h4>
				<p>- Added keyboard shortcuts for navigating the reports inbox ('[' for previous report and ']' for next report) </p>
				<a href="https://github.com/grepodata/grepodata-userscript/commit/56b9b0538f94eb022934c31e13363666d03d15b2" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.5.2 20-10-2019</h4>
				<p>- Improved report hashing to better identify already indexed reports</p>
				<a href="https://github.com/grepodata/grepodata-userscript/commit/8ba0c3a6f369abc5f4910d8b494b8a6196a1fc8a" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.5.1 29-03-2019</h4>
				<p>- Bugfix for town id regex (positive lookbehind not supported in browsers other than Chrome)</p>
				<a href="https://github.com/grepodata/grepodata-userscript/commit/1e435b67bc7f4845fc16b1affb03b4d79addfca4" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.05 17-03-2019</h4>
				<p>- Added an in-game interface to browse enemy town intelligence</p>
				<a href="https://github.com/grepodata/grepodata-userscript/commit/4f8fee92ed2b7feec8fed3247ab2af40e9d4f410" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.03 18-12-2018</h4>
				<p>- Improved date handling for forum reports where date is today</p>
				<p>- Improved duplicate script handling. When using multiple scripts for different indexes, the lists of already indexed ids are now merged</p>
				<a href="https://github.com/grepodata/grepodata-userscript/commit/4cbd1dc6e1b1c1374edafa8b46e7b908d10e99cc" target="_blank">
					<fa-icon [icon]="gitIcon"></fa-icon> View changes on github.com
				</a>

				<hr/>

				<h4>v3.02 11-12-2018</h4>
				<p>- Added support for indexing support reports from the inbox</p>
				<p>- Bugfixes</p>

				<hr/>

				<h4>v3.01 18-11-2018</h4>
				<p>In order to comply with the Grepolis rules going forward, our userscript will only allow manual report uploads</p>
				<p>- An upload button will now be added to your inbox/forum reports. Using the button will send the intel to your index</p>
				<p>- You can use the in-game settings menu to disable inbox or forum parsing</p>
				<p>- Automatic background uploading is no longer featured as it is against the rules of Grepolis</p>

				<hr/>

				<h4>v2.09 16-11-2018</h4>
				<p>- Ignore bandit camp reports</p>
				<p>- Bugfixes</p>

				<hr/>

				<h4>v2.06 15-11-2018</h4>
				<p>- Hide install banner on grepodata.com if script is already running</p>


				<hr/>

				<h4>v2.05 13-11-2018</h4>
				<p>- Fixed duplicate submission buttons</p>
				<p>- Non-intel reports are now properly ignored on the client side</p>

				<hr/>

				<h4>v2.04 12-11-2018</h4>
				<p>Released version 2. General performance improvements and minor bugfixes.</p>

				<hr/>

				<h4>v2.00 12-11-2018</h4>
				<p> - Version 2 of the userscript allows you to add reports straight from your report inbox
					<br/> - Added an in-game settings menu allowing you to choose which reports are indexed and when
					<br/> - Improved report parser to handle more reports
					<br/> - Report hashes are generated client side
					<br/> - Report hashes are shared between index users to avoid duplicate uploads
					<br/> - Report hashes are stored and retrieved between sessions to keep track of already added reports
				</p>


				<br/>
				<br/>
				<div style="float: left;">
					<a mat-button style="font-size: 18px; color: gray;" routerLink="/">
						<span class="fa fa-backward"></span> Homepage
					</a>
				</div>

				<div style="float: right;">
					<a mat-button style="font-size: 18px; color: gray;" routerLink="/indexer">
						<span class="fa fa-forward"></span> City Indexer
					</a>
				</div>


			</div>
		</div>
	</div>
</div>