<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-sm-12" style="float: none; margin: auto;">
            <div class=" alert alert-default alert-gd-1" style="padding: 0;">
                <div>
                    <div class="header" style="background:#2C3E50">
                        <div class="logo" style="background-image:url(../../assets/images/favicon_lg_white.png)"></div>
                        <div class="name-and-links">
                            <h2 style="color: #dde6e4;">GrepoData Bot</h2>
                        </div>
                        <a target="_blank" rel="nofollow" href="https://discordapp.com/api/oauth2/authorize?client_id=652263344429858872&permissions=18432&scope=bot" alt="Add GrepoData Bot to Your Discord" class="button">Add to Discord</a>
                    </div>
                    <!--<div class="text-center"><h2 style=""> GrepoData Discord bot</h2>-->
                        <!--<h4><a href="https://discordapp.com/api/oauth2/authorize?client_id=652263344429858872&permissions=18432&scope=bot" target="_blank">-->
                            <!--Add GrepoBot to your server!-->
                        <!--</a></h4>-->
                    <!--</div>-->
                </div>

                <div style="padding: 30px 30px 50px 30px;">

                    <h1>Documentation</h1>

                    <hr>

                    <h3>Scoreboard</h3>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd today</pre></div>
                        <div class="col-xs-7">Shows today's scoreboard for the default server <br/>(alternatives: !gd now/points/score/scoreboard)</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd yesterday</pre></div>
                        <div class="col-xs-7">Shows yesterday's scoreboard for the default server <br/>(alternatives: !gd yday/prev)</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd today/yesterday [server]</pre></div>
                        <div class="col-xs-7">Shows the scoreboard for the given server <br/>E.g. !gd today nl74 will show the scoreboard for nl74</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd setServer [server]</pre></div>
                        <div class="col-xs-7">Set the default server to [server] <br/>E.g. !gd setServer nl74 will change the default server to nl74</div>
                    </div>

                    <hr>

                    <h3>Enemy city intelligence</h3>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd intel</pre></div>
                        <div class="col-xs-7">Links to the default intelligence index</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd userscript</pre></div>
                        <div class="col-xs-7">Links to the default intelligence userscript</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd intel [town_id]</pre></div>
                        <div class="col-xs-7">Shows the gathered town intel for [town_id]</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd intel [town_name]</pre></div>
                        <div class="col-xs-7">Shows the gathered town intel for [town_name]</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5"><pre>!gd setIndex [index_key]</pre></div>
                        <div class="col-xs-7">Set the active intelligence index key</div>
                    </div>
                    <br/>
                    <p>
                        <strong>GrepoData Bot also listens to town BBcode.</strong><br/> E.g. posting '[town]143524[/town]' will show the town intel for town 143524.
                    </p>


                    <br/>
                    <br/>
                    <div style="float: left;">
                        <a mat-button style="font-size: 18px; color: gray;" routerLink="/">
                            <span class="fa fa-backward"></span> Homepage
                        </a>
                    </div>

                    <div style="float: right;">
                        <a mat-button style="font-size: 18px; color: gray;" routerLink="/indexer">
                            <span class="fa fa-forward"></span> City Indexer
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>