<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12" style="float: none; margin: auto;">
            <div class=" alert alert-default alert-gd-1" style="padding: 0;">
                <div>
                    <div class="header" style="background:#2C3E50">
                        <div class="logo" style="background-image:url(../../assets/images/favicon_lg_white.png)"></div>
                        <div class="name-and-links">
	                        <h2 style="color: #dde6e4;">GrepoData Bot</h2>
	                        <span style="color: #dde6e4 !important;">Add GrepoData commands to your Discord server!</span>
                        </div>
                        <a target="_blank" rel="nofollow" href="https://discord.com/api/oauth2/authorize?client_id=652263344429858872&permissions=2147502080&scope=applications.commands%20bot" alt="Add GrepoData Bot to Your Discord" class="button">
	                        Add to Discord
                        </a>
                    </div>
                    <!--<div class="text-center"><h2 style=""> GrepoData Discord bot</h2>-->
                        <!--<h4><a href="https://discordapp.com/api/oauth2/authorize?client_id=652263344429858872&permissions=18432&scope=bot" target="_blank">-->
                            <!--Add GrepoBot to your server!-->
                        <!--</a></h4>-->
                    <!--</div>-->
                </div>

                <div style="padding: 30px 30px 50px 30px;">

                    <h1>List of commands</h1>

<!--                  <app-alert type="error" title="Discord bot temporarily offline" [dismissible]="false">-->
<!--                    <p>-->
<!--                      The GrepoData Discord bot is currently offline because it has exceeded the number of discord servers it can join.<br/>-->
<!--                      <strong>Please help us by removing the bot from your old inactive Discord servers</strong>; this is a short term fix while we implement bot sharding as a permanent fix.-->
<!--                    </p>-->
<!--                  </app-alert>-->

<!--                    <app-alert [type]="'warning'" [title]="'Slash commands'" [dismissible]="false">-->
<!--                      <h5>As of <strong>August 31 2022</strong>, the GrepoData discord bot will only respond to slash commands due to a <a href="https://support-dev.discord.com/hc/en-us/articles/4404772028055-Message-Content-Privileged-Intent-for-Verified-Bots" target="_blank">change in Discord's policy</a>. The old commands using the '!gd' prefix will no longer trigger a response because the bot will not see those messages. Please use these slash commands if you want to keep using the bot.</h5>-->
<!--                    </app-alert>-->

                    <hr>

                    <app-server-alert></app-server-alert>
                    <br/>

                    <h3>Configuration</h3>
                    <div class="row">
                      <div class="col-5 vcenter"><pre>/help</pre></div>
                      <div class="col-7 vcenter">Shows a list of all commands</div>
                    </div>
                    <div class="row">
                      <div class="col-5 vcenter"><pre>/world [world]</pre></div>
                      <div class="col-7 vcenter">Set the <strong>default world</strong> for your discord to [world] <br/>e.g. <span style="font-style: italic;">/world en141</span> will change the default world to en141</div>
                    </div>

                    <hr>

                    <h3>Daily scoreboard</h3>
                    <div class="row">
                        <div class="col-5 vcenter"><pre>/today</pre></div>
	                    <div class="col-7 vcenter">Shows today's <strong>scoreboard</strong> for the default world</div>
                    </div>
		                <div class="row">
			                <div class="col-5 vcenter"><pre>/today [world]</pre></div>
			                <div class="col-7 vcenter">Shows today's <strong>scoreboard</strong> for the given world <br/>E.g. '/today nl74' will show the scoreboard for nl74</div>
		                </div>

                    <br/>

                    <div class="row">
                        <div class="col-5 vcenter"><pre>/yesterday</pre></div>
                        <div class="col-7 vcenter">Shows yesterday's <strong>scoreboard</strong> for the default world</div>
                    </div>
                    <div class="row">
                      <div class="col-5 vcenter"><pre>/yesterday [world]</pre></div>
                      <div class="col-7 vcenter">Shows yesterday's <strong>scoreboard</strong> for the given world <br/>E.g. '/yesterday nl74' will show yesterday's scoreboard for nl74</div>
                    </div>

                    <br/>

                    <div class="row">
                        <div class="col-5 vcenter"><pre>/alliance</pre></div>
                        <div class="col-7 vcenter">Shows today's <strong>alliance scoreboard</strong> for the default world</div>
                    </div>
                    <div class="row">
                      <div class="col-5 vcenter"><pre>/alliance [world]</pre></div>
                      <div class="col-7 vcenter">Shows today's <strong>alliance scoreboard</strong> for the given world <br/>E.g. '/alliance nl74' will show today's alliance scoreboard for nl74</div>
                    </div>
                    <div class="row">
                      <div class="col-5 vcenter"><pre>/alliance [world] [day]</pre></div>
                      <div class="col-7 vcenter">Shows today's <strong>alliance scoreboard</strong> for the given world <br/>[day] can be 'today' or 'yesterday'<br/>E.g. '/alliance nl74 yesterday' will show yesterday's alliance scoreboard for nl74</div>
                    </div>

                    <hr>

                    <h3>Player search</h3>

                    <div class="row">
                        <div class="col-5 vcenter"><pre>/search [name]</pre></div>
                        <div class="col-7 vcenter">Search for <strong>players</strong> by name</div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
