<mat-card class="index-card">
	<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
          <h2 style="margin-top: 0;">
            My teams

            <button *ngIf="confirmed && indexes && !loading && (indexes.length - stopped_world_count) > 5" (click)="newIndex()" class="btn btn-success mr-1" style="margin-left: 3%;">
              <span class="hidden-sm hidden-xs">Create a new team</span>
              <span class="hidden-md hidden-lg">New team</span>
              &nbsp;<mat-icon>library_add</mat-icon>
            </button>

          </h2>

					<div *ngIf="!confirmed">
            <h4 class="gd-error">Please confirm your email address to start sharing intel</h4>
						<app-confirm></app-confirm>
					</div>

					<app-alert type="error" *ngIf="error">
						<h5>{{error}}</h5>
					</app-alert>

					<app-alert type="error" title="Unable to leave team" *ngIf="leave_error">
            <span [outerHTML]="leave_error"></span>
					</app-alert>

					<app-alert type="success" title="Team contribution settings updated" *ngIf="contribute_success">
						<div [outerHTML]="contribute_success"></div>
					</app-alert>

					<app-alert type="success" title="Team left successfully" *ngIf="leave_success">
						<div [outerHTML]="leave_success"></div>
					</app-alert>

					<app-alert type="success" title="New team created successfully!" *ngIf="created_index">
						<h5>
							<span *ngIf="created_index.name"><strong>Team name: </strong>{{created_index.name}}<br/></span>
							<span *ngIf="created_index.world"><strong>World: </strong><span [outerHTML]="created_index.world | WorldNamePipe"></span><br/></span>
						</h5>

						<button *ngIf="created_index.key" class="btn btn-secondary mr-1" routerLink="/profile/team/{{created_index.key}}">Go to team overview <mat-icon>launch</mat-icon></button>
					</app-alert>

					<app-alert type="info" title="What is a team?" *ngIf="confirmed && !error && !leave_error && !created_index && !contribute_success && indexes.length <= 3" [dismissible]="false">
						<p>
							A team allows you to share a collection of enemy intelligence with other users.
							You can create and share your own team, or you can contribute to an existing team.
							<br/>For example, you and your alliance members can create a team and work together to collect enemy intel.
						</p>
					</app-alert>

					<mat-progress-bar style="margin-top: -10px;" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

					<div *ngIf="confirmed && !loading && indexes.length <= 0">
						<app-alert type="warning" title="You have not yet created or joined any indexes" [dismissible]="false">
							<div style="min-height: 73px !important;">
								<h4>You can create your own team and share it with your allies or you can join an existing team by asking your allies to invite you.</h4>
								<p>You can still collect intelligence if you are not part of a team, but you will only be able to share this intel by joining a team.</p>
							</div>
						</app-alert>
					</div>

					<div *ngIf="indexes.length > 0">

						<div class="indexes-table">
							<table matSort (matSortChange)="sortData($event)" class="table">
								<thead>
								<tr>
									<th mat-sort-header="name" scope="col">Team name</th>
									<!--<th scope="col">Key (old)</th>-->
									<th mat-sort-header="world" scope="col" class="hidden-xs hidden-sm hidden-md">World</th>
									<th mat-sort-header="reports" scope="col" class="hidden-xs hidden-sm hidden-md">Total reports</th>
									<th scope="col" class="hidden-xs hidden-sm">Team Owners</th>
									<th style="text-align: center !important;" scope="col" class="hidden-xs hidden-sm">
										Contribute <mat-icon class="mat-icon-title-inline a-link" matTooltip="If you enable this toggle, your collected intell will be shared with this team. If you disable this option, you can still read the intel collected by the other team members but your own collected intel will not be shared with the other players in this team.">help_outline</mat-icon>
									</th>
									<th scope="col" class="hidden-xs hidden-sm hidden-md">
										Your role <mat-icon class="mat-icon-title-inline a-link" matTooltip="Only the owners or admins of an team can change the team settings. Members can add new intel. And read only access means you can not add new intel but you can still browse the intel in this team.">help_outline</mat-icon>
									</th>
									<th scope="col" class="text-right btn-column-th settings">Settings</th>
									<th scope="col" class="text-right btn-column-th actions hidden-xs">Actions</th>
								</tr>
								</thead>
								<tbody>
                <tr class="filter-row index-filters" *ngIf="indexes.length - stopped_world_count > 12">
                  <td><input type="text" placeholder="Filter name" [(ngModel)]="filter_index_name"></td>
                  <td class="hidden-xs hidden-sm hidden-md">
                    <select [(ngModel)]="filter_world">
                      <option value selected>All worlds</option>
                      <option value="{{world}}" *ngFor="let world of uniqueWorlds()">{{world | WorldNamePipe : false}}</option>
                    </select>
                  </td>
                  <td class="hidden-xs hidden-sm hidden-md"></td>
                  <td class="hidden-xs hidden-sm"><input class="hidden-md" type="text" placeholder="Filter owners" [(ngModel)]="filter_index_owners"></td>
                  <td class="hidden-xs hidden-sm"></td>
                  <td class="hidden-xs hidden-sm hidden-md">
                    <select [(ngModel)]="filter_role">
                      <option value selected>All</option>
                      <option value="owner">Owner</option>
                      <option value="admin">Admin</option>
                      <option value="write">Member</option>
                      <option value="read">Read only</option>
                    </select>
                  </td>
                  <td></td>
                  <td style="text-align: right !important;" class="hidden-xs">
                    <a *ngIf="filter_role || filter_world || filter_index_owners || filter_index_name" class="a-link-dialog" (click)="filter_role=''; filter_world = ''; filter_index_owners=''; filter_index_name='';">Clear filters <mat-icon style="vertical-align: middle;">close</mat-icon></a>
                  </td>
                </tr>
								<tr *ngFor="let index of indexes; let i = index;" class="index-row" [ngClass]="{'inactive-index-row': index.world_stopped}">
                  <ng-container *ngIf="
                    (!filter_index_name || index.name.includes(filter_index_name)) &&
                    (!filter_index_owners || hasOwnerFilter(index)) &&
                    (!filter_world || index.world == filter_world) &&
                    (!filter_role || index.role == filter_role) &&
                    (!index.world_stopped || show_stopped_worlds)
                  ">
									<td style="text-align: left !important;" (click)="routing('/profile/team/' + index.key)">
										<a><mat-icon style="opacity: 1; vertical-align: sub;">group</mat-icon> {{index.name || index.key}}</a>
                    <div class="hidden-lg">
                      <div [outerHTML]="index.world | WorldNamePipe"></div>
                    </div>
                    <div class="hidden-md hidden-lg">
                      <div *ngFor="let owner of index.stats.owners; let i = index;">
                        <img src="../../assets/images/ally_ico.png"/> {{owner.alliance_name}}
                      </div>
                    </div>
									</td>
									<td (click)="routing('/profile/team/' + index.key)" class="hidden-xs hidden-sm hidden-md">
										<div *ngIf="!index.world_stopped" [outerHTML]="index.world | WorldNamePipe"></div>
                    <span *ngIf="index.world_stopped">{{index.world}}&nbsp;<strong>(FINISHED)</strong></span>
                  </td>
									<td (click)="routing('/profile/team/' + index.key)" class="hidden-xs hidden-sm hidden-md">
                    <div *ngIf="index.stats && index.stats.total_reports>=0">{{index.stats.total_reports}}</div>
									</td>
									<td style="padding: 0 !important; font-size: 14px; vertical-align: middle;" (click)="routing('/profile/team/' + index.key)" class="hidden-xs hidden-sm">
										<div *ngFor="let owner of index.stats.owners; let i = index;">
											<img src="../../assets/images/ally_ico.png"/> {{owner.alliance_name}}
										</div>
									</td>
									<td style="text-align: center !important;" class="hidden-xs hidden-sm">
										<!--<mat-slide-toggle [ngModel]="index.contribute" (ngModelChange)="enableContributions(index)">Share my intel with this index</mat-slide-toggle>-->
										<mat-checkbox *ngIf="index.role!='read' && !index.world_stopped" [checked]="index.contribute" (click)="enableContributions(index)"></mat-checkbox>
                    <span *ngIf="index.role=='read' && !index.world_stopped"><mat-checkbox [checked]="false" disabled="true"></mat-checkbox></span>
									</td>
									<td (click)="routing('/profile/team/' + index.key)" class="hidden-xs hidden-sm hidden-md">
										{{index.role
										.replace('read', 'Read only')
										.replace('write', 'Member')
										.replace('owner', 'Owner')
										.replace('admin', 'Admin')
										}}
									</td>
									<td style="text-align: right !important;">
                    <div class="index-actions hidden-sm hidden-md hidden-lg">
                      <button routerLink="/profile/team/{{index.key}}" class="btn btn-success mr-1 index-btn-browse">Browse <mat-icon>launch</mat-icon></button>
                    </div>
										<div class="index-actions" *ngIf="(index.role === ROLE_ADMIN || index.role === ROLE_OWNER) && !index.world_stopped">
											<button class="btn btn-secondary mr-1 index-btn-users" (click)="openIndexMembers(index)">Users <mat-icon>admin_panel_settings</mat-icon></button>
											<button class="btn btn-secondary mr-1 index-btn-settings" (click)="openIndexSettings(index)">Settings <mat-icon>settings</mat-icon></button>
                      <button class="btn btn-primary mr-1 index-btn-share" (click)="openShareIndexDialog(index)">Share <mat-icon>group_add</mat-icon></button>
										</div>
                  </td>
									<td style="text-align: right !important;" class="hidden-xs">
										<div class="index-actions">
											<button routerLink="/profile/team/{{index.key}}" class="btn btn-success mr-1 index-btn-browse">Browse <mat-icon>launch</mat-icon></button>
											<button (click)="leaveIndex(index)" class="btn btn-danger mr-1 index-btn-leave">Leave <mat-icon>delete_forever</mat-icon></button>
										</div>
									</td>
                  </ng-container>
								</tr>
								</tbody>
							</table>
						</div>

					</div>

          <div class="index-new" *ngIf="confirmed && !loading">

            <button (click)="newIndex()" class="btn btn-success mr-1" style="margin-right: 10px;">
              Create a new team <mat-icon>library_add</mat-icon>
            </button>
            <mat-slide-toggle *ngIf="stopped_world_count > 0" [(ngModel)]="show_stopped_worlds" style="margin: 0 30px;">
              Show finished worlds ({{stopped_world_count}})
            </mat-slide-toggle>

          </div>

				</div>
			</div>

		</div>
</mat-card>

<mat-card class="index-card" *ngIf="indexes.length > 0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12" style="margin-top: -25px;">
        <app-event-list [update]="true"></app-event-list>
      </div>
    </div>
  </div>
</mat-card>
