<mat-card class="index-card">
	<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h2>My indexes</h2>

					<div *ngIf="!confirmed">
						<app-confirm></app-confirm>
					</div>

					<app-alert type="error" *ngIf="error">
						<h5>{{error}}</h5>
					</app-alert>

					<app-alert type="success" title="New index created successfully!" *ngIf="created_index">
						<h5>
							<span *ngIf="created_index.name"><strong>Index name: </strong>{{created_index.name}}<br/></span>
							<span *ngIf="created_index.world"><strong>World: </strong><span [outerHTML]="created_index.world | WorldNamePipe"></span><br/></span>
						</h5>

						<button *ngIf="created_index.key" class="btn btn-secondary mr-1" routerLink="/profile/overview/{{created_index.key}}">Go to index overview <mat-icon>launch</mat-icon></button>
					</app-alert>

					<app-alert type="info" title="What is an index?" *ngIf="confirmed && !error && !created_index" [dismissible]="false">
						<p>
							An index is a collection of enemy intelligence that can be shared with other users.
							You can create and share your own index, or you can contribute to an existing index.
							<br/>For example, you can share an index with your alliance members and work together to collect enemy intel.
						</p>
					</app-alert>

					<mat-progress-bar style="margin-top: -10px;" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

					<div *ngIf="confirmed && !loading && indexes.length <= 0">
						<app-alert type="warning" title="You have not yet created or joined any indexes" [dismissible]="false">
							<div style="min-height: 73px !important;">
								<h4>You can create your own index and share it with your allies or you can join an existing index by asking your allies to invite you.</h4>
								<p>You can still collect intelligence if you are not part of an index, but you will only be able to share this intel by adding it to an index.</p>
							</div>
						</app-alert>
					</div>

					<div *ngIf="!loading && indexes.length > 0">

						<div class="indexes-table">
							<table class="table">
								<thead>
								<tr>
									<th scope="col">Index name</th>
									<!--<th scope="col">Key (old)</th>-->
									<th scope="col">World</th>
									<th scope="col" *ngIf="'stats' in indexes[0] && 'total_reports' in indexes[0].stats">Total reports</th>
									<th scope="col" *ngIf="'stats' in indexes[0] && 'owners' in indexes[0].stats">Index Owners</th>
									<th style="text-align: center !important;" scope="col">
										Contribute <mat-icon class="mat-icon-title-inline a-link" matTooltip="If you enable this toggle, your collected intell will be shared with this index. If you disable this option, you can still read the index but your collected intel will not be shared with the other players in this index.">help_outline</mat-icon>
									</th>
									<th scope="col">
										Your role <mat-icon class="mat-icon-title-inline a-link" matTooltip="Only the owners or admins of an index can change the index settings. Members can add new intel. And read only access means you can not add new intel but you can still browse the intel in this index.">help_outline</mat-icon>
									</th>
									<th scope="col" class="text-right">Actions</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let index of indexes; let i = index;" class="index-row">
									<td style="text-align: left !important;" (click)="routing('/profile/overview/' + index.key)">
										<a><mat-icon style="opacity: 1; vertical-align: sub;">account_balance</mat-icon> {{index.name || index.key}}</a>
										<!--<a routerLink="/profile/overview/{{index.key}}" class="gd-secondary">-->
											<!--<img src="../../assets/images/grepodata_icon.ico" style="vertical-align: bottom;"/> {{index.name || index.key}}-->
										<!--</a>-->
									</td>
									<!--<td>{{index.key}}</td>-->
									<td (click)="routing('/profile/overview/' + index.key)">
										<div [outerHTML]="index.world | WorldNamePipe"></div>
									<!--<td>{{index.role.replace('read', 'read only').replace('write', 'contributor')}}</td>-->
									<td *ngIf="'stats' in index && 'total_reports' in index.stats" (click)="routing('/profile/overview/' + index.key)">
										{{index.stats.total_reports}}
									</td>
									<td style="padding: 0 !important; font-size: 14px; vertical-align: middle;" *ngIf="'stats' in index && 'owners' in index.stats" (click)="routing('/profile/overview/' + index.key)">
										<div *ngFor="let owner of index.stats.owners; let i = index;">
											<img src="../../assets/images/ally_ico.png"/> {{owner.alliance_name}}
										</div>
									</td>
									<td style="text-align: center !important;">
										<!--<mat-slide-toggle [ngModel]="index.contribute" (ngModelChange)="enableContributions(index.key)">Share my intel with this index</mat-slide-toggle>-->
										<mat-checkbox *ngIf="index.role!='read'" [checked]="index.contribute" (click)="enableContributions(index.key)">
											<!--Share my intel with this index-->
										</mat-checkbox>
									</td>
									<td (click)="routing('/profile/overview/' + index.key)">
										{{index.role
										.replace('read', 'Read only')
										.replace('write', 'Member')
										.replace('owner', 'Owner')
										.replace('admin', 'Admin')
										}}
									</td>
									<td>
										<div style="float: right;">
											<button *ngIf="index.role === ROLE_ADMIN || index.role === ROLE_OWNER" class="btn btn-secondary mr-1" (click)="openIndexMembers(index)">Users <mat-icon>admin_panel_settings</mat-icon></button>
											<button *ngIf="index.role === ROLE_ADMIN || index.role === ROLE_OWNER" class="btn btn-secondary mr-1" (click)="openIndexSettings(index)">Settings <mat-icon>settings</mat-icon></button>
											<button *ngIf="index.role === ROLE_ADMIN || index.role === ROLE_OWNER" class="btn btn-primary mr-1" (click)="openShareIndexDialog(index)">Share index&nbsp;&nbsp;<mat-icon>group_add</mat-icon></button>
											<button routerLink="/profile/overview/{{index.key}}" class="btn btn-success mr-1">Browse index <mat-icon>launch</mat-icon></button>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>

					</div>

					<div class="index-new" *ngIf="confirmed && !loading">

						<button (click)="newIndex()" class="btn btn-primary" style="margin-right: 10px;">
							Create a new index <mat-icon>library_add</mat-icon>
						</button>

					</div>

				</div>
			</div>
		</div>
</mat-card>
