<div *ngIf="!loading">
	<mat-card-title *ngIf="parentType=='alliance'">
		<div class="form-group row" style='margin: 0px;'>
			<h3 style='font-weight: 300; color: #304357; vertical-align: center;'>
				<span>
					<img src="../../assets/images/player_ico.png" style="height: 25px; margin-top: -5px; margin-right: 8px;"/>
					<a class="a-link-dialog" routerLink="/intel/player/{{world}}/{{id}}">{{playerName}}</a>
				</span>
			</h3>
		</div>
	</mat-card-title>
	<mat-card-content>
		<div *ngIf="iterator.length<=0" class="alert alert-warning text-center alert-gd-1">
			<h3>No {{tableHeader.toLowerCase()}} intel available</h3>
			<p>Index more reports about this player</p>
		</div>
		<div *ngIf="iterator.length>0" class="bb-fixed" [ngClass]="{'bb-fixed-lg':hideAvailable}">
			<div *ngIf="hideAvailable" class="togglecontainer" style="position: absolute; left: 5px; margin-top: -5px;">
				<label class="switch">
					<input type="checkbox" [(ngModel)]="showNonPriority" (change)="cdr.detectChanges(); saveDuplicateVisibility();">
					<span class="slider round"></span>
				</label>
				<span class="toggle-label" style="vertical-align: middle !important;">Show duplicate intel</span>
				<!--<span class="toggle-label" style="vertical-align: middle !important;">Show all<span class="hidden-xs hidden-sm"> (only show 1 record per town)</span></span>-->
			</div>
			<button name="open_bb" class="btn btn-success btn-xs"
			        (click)="openBBdialog()" style="position: absolute; right: 5px; margin-top: -27px;">
				<i class="fa fa-code"></i> BB code
			</button>
		</div>
		<div *ngIf="iterator.length>0" class="table intel-table">

			<div class="row_custom header header_{{type}}">

				<div class="cell" [ngClass]="{'name_cell':isSeaUnit||type=='myth'}">
					Town
				</div>
				<div class="cell" [ngStyle]="{'text-align': isSeaUnit?'left':''}">
					{{tableHeader}}
				</div>
				<div class="cell">
					Date
				</div>
			</div>

			<ng-container *ngFor="let town of iterator; let i = index;">
				<div class="row_spacer" *ngIf="hideAvailable && showNonPriority && i!=0 && town?.priority==true"></div>
				<div class='row_custom' *ngIf="(showNonPriority || (town?.priority==true&&!showNonPriority))">
					<div class="cell" [ngClass]="{'name_cell':isSeaUnit||type=='myth', 'town_sub_cell':hideAvailable && town?.priority==false}">
						<a routerLink="/intel/town/{{world}}/{{town.town_id}}" [ngClass]="{'town_sub':hideAvailable && town?.priority==false}">
							{{!hideAvailable || town?.priority==true?town.town_name:'↳'}}
						</a>

					</div>
					<div class="cell" style="text-align: left;" *ngIf="isSeaUnit" title="{{type=='fire'?'attack ship':'bireme'}}">
		        <span class="unit-icon-xs hidden-xs">
		          <div class="unit_icon40x40 {{type}}"></div>
		        </span>
						<span [outerHTML]="town.units | HideNoLossPipe"></span>
					</div>
					<div class="cell" *ngIf="isLandUnit">
						<div class="unit-row">
							<div class="unit-icon-sm" *ngFor="let unit of town.units | ValuesPipe; let i = index;" title="{{unit?.name}}">
								<div class="unit_icon40x40 {{unit.name}}"><span class="unit-val">{{unit.count}}</span></div>
								<div style="color: #d00;" *ngIf="unit.killed>0">-{{unit.killed}}</div>
							</div>
						</div>
					</div>
					<!--<div class="cell" style="width: 50%; display: flex;" *ngIf="isLandUnit">-->
            <!--<span style="transform: scale(.8); margin-right: 32px;" *ngFor="let unit of town.units | ValuesPipe; let i = index;">-->
              <!--<div class="unit_icon40x40 {{unit.name}}"></div>-->
              <!--<div class="unit-val" style="margin-right: -40px; top: 0px; background: #9898986e; height: 40px; width: 40px;">-->
                <!--<div>{{unit.count}}</div>-->
                <!--<div style="color: #d00; margin-top: -6px; text-shadow: none;" *ngIf="unit.killed>0">-{{unit.killed}}</div>-->
              <!--</div>-->
            <!--</span>-->
					<!--</div>-->
					<div class="cell date-cell">
						<span [outerHTML]="town.date | IndexDate:'html'"></span>
					</div>
				</div>
			</ng-container>

		</div>
	</mat-card-content>
</div>