.unit-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.intel-table {
  margin: auto auto 0;
  max-width: 700px;
}

.bb-fixed {
  max-width: 700px;
  position: relative;
  margin: auto auto 0;
}

.low_priority {
  //opacity: .3;
  display: none;
}

.row_spacer {
  height: 10px;
}
.town_sub_cell {
  display: flex !important;
  margin: auto !important;
}
.town_sub {
  font-size: 30px !important;
  max-height: 25px !important;
  display: flex !important;
  align-items: center !important;
  margin: auto !important;
  opacity: .6 !important;
}

.bb-fixed-lg {
  height: 18px;
  button {
    margin-top: -8px !important;
  }
  .togglecontainer {
    margin-top: -8px !important;
  }
}

@media (max-width: 1279px) {
  .bb-fixed {
    height: 20px;

    button {
      margin-top: -5px !important;
    }
  }
}

.name_cell_lg {
  max-width: 280px;
}
.name_cell {
  max-width: 240px;
}
.header_fire {
  background: #ea6153 !important;
}
.header_off {
  background: #ea6153 !important;
}
.header_myth {
  background: #ea6153 !important;
}
.header_bir {
  background: #2980b9 !important;
}
.header_trir {
  background: #ea9753 !important;
}
.header_def {
  background: #2980b9 !important;
}
