<div style="overflow-x: hidden; min-height: 100%;">

	<mat-card class="search-card" *ngIf="!embedded">
		<app-index-search></app-index-search>
	</mat-card>

	<mat-card [ngClass]="embedded?'embedded-intel-card':'index-card'">
		<div [ngClass]="{'embedded-padding': embedded}">
			<div class="card-header bg-gd-1 text-center text-white" style="margin-bottom: 0; padding: 20px 0 0 !important;" *ngIf="!embedded">

				<h2 style="cursor: pointer; margin: 0;">
          <span class="hidden-xs hidden-sm">Showing your combined intel for:&nbsp;</span>
					<div class="name-circle" (click)="copyBB()">
						<img style="height: 25px; margin-top: -5px;" src="../../assets/images/ally_ico.png"/>&nbsp;
						<span class="gd-brown">{{allianceName}}</span>
					</div>
				</h2>
        <br/>
        <app-indexer-breadcrumbs [data]="breadcrumb_data"></app-indexer-breadcrumbs>

			</div>

    <mat-card-content class="decorated-card-content" [ngClass]="{'embedded-padding': embedded}" style="padding: 0 !important;">

      <div *ngIf="err != ''">
        <br/>
        <br/>
        <div class="alert alert-gd-1 text-center">
          <h2 class="gd-primary">No alliance intel available</h2>
          <h4>
            You have not yet gained any intel on this alliance. Note: Intel about your allies (index owners) is unavailable.
          </h4>
        </div>
      </div>
      <div *ngIf="err == ''">

	      <!--<app-advertorial *ngIf="!loading && !embedded && (firePlayers | ValuesPipe).length>2"></app-advertorial>-->

	      <!--<div style="width: calc(100vw - 68px); margin: auto;">-->
		      <!--<app-index-version *ngIf="!embedded && !loading" [version]="version" [message]="message" [key]="key"></app-index-version>-->
	      <!--</div>-->

	      <div *ngIf="loading" class="text-center">
		      <div class="align-middle" style="position: relative; top: 250px; left: 25%; width: 50%;">
			      <h3 class="gd-primary"><strong>Loading alliance intel...</strong></h3>
			      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
		      </div>
	      </div>

        <div class="container-fluid" *ngIf="!noIntel && !loading" style="padding: 0 !important;">

	        <div *ngIf="mobile">
		        <mat-tab-group mat-stretch-tabs (click)="cdr.detectChanges();">
			        <mat-tab>
				        <ng-template mat-tab-label>
					        <div class="unit_icon40x40 unknown_naval" style="border-radius: 30px;"></div>&nbsp;&nbsp;Sea units
				        </ng-template>
				        <ng-container *ngTemplateOutlet="seaunits"></ng-container>
			        </mat-tab>
			        <mat-tab>
				        <ng-template mat-tab-label>
					        <div class="unit_icon40x40 unknown" style="border-radius: 30px;"></div>&nbsp;&nbsp;Land units
				        </ng-template>
				        <ng-container *ngTemplateOutlet="landunits"></ng-container>
			        </mat-tab>
		        </mat-tab-group>
	        </div>

	        <div *ngIf="!mobile" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px" style="max-width: 1700px; margin: auto;">
		        <div fxFlex="50">
			        <ng-container *ngTemplateOutlet="seaunits"></ng-container>
		        </div>
		        <div fxFlex="50">
			        <ng-container *ngTemplateOutlet="landunits"></ng-container>
		        </div>
	        </div>

        </div>

        <div *ngIf="noIntel && !loading">
          <div class="container">
            <div class="row">
              <br/>
              <br/>
              <div class="alert alert-danger text-center">
                <h3>You have not yet gained any intel on alliance <strong>{{allianceName}}</strong></h3>
              </div>
            </div>
          </div>
        </div>

      </div>

    </mat-card-content>
  </div>
	</mat-card>

  <div class="row" *ngIf="!noIntel && err=='' && !loading">
    <div class="col-lg-12 text-center">
      <h4 class="gd-secondary">Images on this page are subject to Copyright © InnoGames GmbH</h4>
    </div>
  </div>

</div>

<!--sea units-->
<ng-template #seaunits>
	<mat-card class="index-card text-center sub-card">

		<mat-card-title>
			<div class="form-group row" style='margin: 0px;'>
				<h1 style='font-weight: 300; color: #304357; margin: 0;'>
					<span class='world-title' style='color: #18BC9C;'>Sea units</span>
					<span class="hidden-xs" *ngIf="!embedded">
            &nbsp;<img src="../../assets/images/ally_ico.png" style="height: 28px; margin-top: -5px;"/>&nbsp;<span>{{allianceName}}</span>
          </span>
				</h1>
			</div>
		</mat-card-title>

		<div class="chip-list-wrapper">
			<mat-chip-list>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===0" (click)="setSeaIndex(0)"><div class="gd-icon icon-fireship"></div> {{world.substring(0, 2)=='en'?'Light ships':'Fireships'}}</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===1" (click)="setSeaIndex(1)"><div class="gd-icon icon-bireme"></div> Biremes</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===2" (click)="setSeaIndex(2)"><div class="gd-icon icon-trireme"></div> Triremes</mat-chip>
			</mat-chip-list>
		</div>

		<div *ngIf="tabsSeaIndex===0">
			<br/>
			<mat-card-title *ngIf="(firePlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterSea" (keyup)="filterPlayers('sea');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterSea != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="firePlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No fireship intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of firePlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'sea')">
						<br/>
						<intel-table [type]="'fire'" [containsDuplicates]="player.contains_duplicates" [seaTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilterSea!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="clearFilter()">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>
		<div *ngIf="tabsSeaIndex===1">
			<br/>
			<mat-card-title *ngIf="birPlayers.length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterSea" (keyup)="filterPlayers('sea');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterSea != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="birPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No bireme intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of birPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'sea')">
						<br/>
						<intel-table [type]="'bir'" [containsDuplicates]="player.contains_duplicates" [seaTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilterSea!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="clearFilter()">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>
		<div *ngIf="tabsSeaIndex===2">
			<br/>
			<mat-card-title *ngIf="trirPlayers.length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterSea" (keyup)="filterPlayers('sea');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterSea != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="trirPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No trireme intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of trirPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'sea')">
						<br/>
						<intel-table [type]="'trir'" [containsDuplicates]="player.contains_duplicates" [seaTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilterSea!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="clearFilter()">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>

	</mat-card>
</ng-template>

<!--land units-->
<ng-template #landunits>
	<mat-card class="index-card text-center sub-card">

		<mat-card-title>
			<div class="form-group row" style='margin: 0px;'>
				<h1 style='font-weight: 300; color: #304357; margin: 0;'>
					<span class='world-title' style='color: #18BC9C;'>Land units</span>
					<span class="hidden-xs" *ngIf="!embedded">
            &nbsp;<img src="../../assets/images/ally_ico.png" style="height: 28px; margin-top: -5px;"/>&nbsp;<span>{{allianceName}}</span>
          </span>
				</h1>
			</div>
		</mat-card-title>

		<div class="chip-list-wrapper">
			<mat-chip-list>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===0" (click)="setLandIndex(0)"><div class="gd-icon icon-manti"></div> Mythical units</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===1" (click)="setLandIndex(1)"><div class="gd-icon icon-slinger"></div> Offensive</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===2" (click)="setLandIndex(2)"><div class="gd-icon icon-sword"></div> Defensive</mat-chip>
			</mat-chip-list>
		</div>

		<div *ngIf="tabsLandIndex===0">
			<br/>
			<mat-card-title *ngIf="(mythPlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterLand" (keyup)="filterPlayers('land');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterLand != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="mythPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No mythical unit intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of mythPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'land')">
						<br/>
						<intel-table [type]="'myth'" [containsDuplicates]="player.contains_duplicates" [landTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilter!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="playerNameFilter=''; hasMatch=true; cdr.detectChanges();">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>
		<div *ngIf="tabsLandIndex===1">
			<br/>
			<mat-card-title *ngIf="(offPlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterLand" (keyup)="filterPlayers('land');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterLand != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="offPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No offensive unit intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of offPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'land')">
						<br/>
						<intel-table [type]="'off'" [containsDuplicates]="player.contains_duplicates" [landTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilter!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="playerNameFilter=''; hasMatch=true; cdr.detectChanges();">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>
		<div *ngIf="tabsLandIndex===2">
			<br/>
			<mat-card-title *ngIf="(defPlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterLand" (keyup)="filterPlayers('land');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterLand != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="defPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No defensive unit intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of defPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'land')">
						<br/>
						<intel-table [type]="'def'" [containsDuplicates]="player.contains_duplicates" [landTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilter!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="playerNameFilter=''; hasMatch=true; cdr.detectChanges();">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>

	</mat-card>
</ng-template>
