.index-title {
  word-wrap:break-word;
  display:inline-block;
  margin-right: 20px;
}

.embedded-padding {
  padding: 0 !important;
}

.filter-input {
  border: 1px solid #334254;
}

.sub-card {
  box-shadow: none !important;
  margin: 0 !important;
  padding: 5px !important;
}

.embedded-intel {
  margin-bottom: 0 !important;
  &.card-header {
    padding: 0 !important;
  }
}

.embedded-intel-card {
  margin-top: 10px !important;
}

.index-card {
  margin-top: 0 !important;
}
