<div style="overflow-x: hidden;">

  <mat-card class="decorated-card" [ngClass]="{'embedded-padding': embedded}" style="box-shadow: none !important;"
            [ngStyle]="{'background': !embedded?'#fbfbfb':''}">
    <mat-card-title class='decorated-card-header decorated-title' *ngIf="!embedded" style="margin-bottom: 0;">

      <div style="position: absolute; top: 10px; max-width: 200px;">
        <button mat-button class="mat-raised-button bg-gd-2" style="width: 100%; overflow: hidden; text-overflow: ellipsis;" routerLink="/indexer/{{key}}">
          <i class="fa fa-arrow-left"></i> Index: {{key}}
        </button>
      </div>

      <div class="hidden-sm hidden-md hidden-lg"><br/></div>
      <h1>
        <span class="hidden-xs hidden-sm">Showing collected intel for:&nbsp;</span>
        <i class="fa fa-group gd-secondary" aria-hidden="true"></i>&nbsp;<span>{{allianceName}}</span>
      </h1>
      <h3>
        <span class="index-title hidden-xs">
          Index: <span class='world-title'><a class="a-link-dialog" style="color: #334254 !important;" routerLink="/indexer/{{key}}">{{key}}</a></span>
        </span>
        <span class="index-title">
          World: <span class='world-title gd-secondary' *ngIf="world"><div class="bg-flag flag-inline-title flag-{{world.substr(0,2)}}"></div>&nbsp;<a class="a-link-dialog" style="color: #334254 !important;" routerLink="/points/{{world}}">{{worldName}}&nbsp;({{world}})</a></span>
        </span>
        <span class="index-title hidden-xs">
          Members: <span class='world-title gd-secondary'>{{members}}</span>
        </span>
        <span class="index-title hidden-xs">
          Rank: <span class='world-title gd-secondary'>{{rank}}</span>
        </span>
        <span class="index-title">
          Stats: <span class='world-title gd-secondary'><a class="a-link-dialog" style="color: #334254 !important;" routerLink="/alliance/{{world}}/{{id}}">View alliance statistics</a></span>
        </span>
      </h3>
    </mat-card-title>
    <mat-card-content class="decorated-card-content" [ngClass]="{'embedded-padding': embedded}" style="padding: 0 !important;">

      <app-index-search *ngIf="!embedded" [indexKey]="key"></app-index-search>

      <div *ngIf="embedded">
        <h4 class="gd-primary text-center">
          <span class="index-title">
            Index: <span class='world-title'><a class="a-link-dialog" style="color: #334254 !important;" routerLink="/indexer/{{key}}">{{key}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon></a></span>
          </span>
        </h4>
      </div>

      <div *ngIf="err != ''">
        <br/>
        <br/>
        <div class="alert alert-gd-1 text-center">
          <h2 class="gd-primary">No intel available</h2>
          <h4>
            Index {{key}} contains no intel for this alliance. Note: Intel about your allies (index owners) is unavailable.
          </h4>
        </div>
      </div>
      <div *ngIf="err == ''">

	      <!--<app-advertorial *ngIf="!loading && !embedded && (firePlayers | ValuesPipe).length>2"></app-advertorial>-->

	      <div style="width: calc(100vw - 68px); margin: auto;">
		      <app-index-version *ngIf="!embedded && !loading" [version]="version" [message]="message" [key]="key"></app-index-version>
	      </div>

        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

        <div class="container-fluid" *ngIf="!noIntel && !loading" style="padding: 0 !important;">

	        <div *ngIf="mobile">
		        <mat-tab-group mat-stretch-tabs (click)="cdr.detectChanges();">
			        <mat-tab>
				        <ng-template mat-tab-label>
					        <div class="unit_icon40x40 unknown_naval" style="border-radius: 30px;"></div>&nbsp;&nbsp;Sea units
				        </ng-template>
				        <ng-container *ngTemplateOutlet="seaunits"></ng-container>
			        </mat-tab>
			        <mat-tab>
				        <ng-template mat-tab-label>
					        <div class="unit_icon40x40 unknown" style="border-radius: 30px;"></div>&nbsp;&nbsp;Land units
				        </ng-template>
				        <ng-container *ngTemplateOutlet="landunits"></ng-container>
			        </mat-tab>
		        </mat-tab-group>
	        </div>

	        <div *ngIf="!mobile" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px" style="max-width: 1700px; margin: auto;">
		        <div fxFlex="50">
			        <ng-container *ngTemplateOutlet="seaunits"></ng-container>
		        </div>
		        <div fxFlex="50">
			        <ng-container *ngTemplateOutlet="landunits"></ng-container>
		        </div>
	        </div>

        </div>

        <div *ngIf="noIntel && !loading">
          <div class="container">
            <div class="row">
              <br/>
              <br/>
              <div class="alert alert-danger text-center">
                <h3>This index has not yet received any intel on alliance <strong>{{allianceName}}</strong></h3>
              </div>
            </div>
          </div>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

  <div class="row" *ngIf="!noIntel && err=='' && !loading">
    <div class="col-lg-12 text-center">
      <h4 class="gd-secondary">Images on this page are subject to Copyright © InnoGames GmbH</h4>
    </div>
  </div>

</div>

<!--sea units-->
<ng-template #seaunits>
	<mat-card class="text-center">

		<mat-card-title>
			<div class="form-group row" style='margin: 0px;'>
				<h1 style='font-weight: 300; color: #304357; margin: 0;'>
					<span class='world-title' style='color: #18BC9C;'>Sea units</span>
					<span class="hidden-xs" *ngIf="!embedded">
            &nbsp;<img src="../../assets/images/ally_ico.png" style="height: 28px; margin-top: -5px;"/>&nbsp;<span>{{allianceName}}</span>
          </span>
				</h1>
			</div>
		</mat-card-title>

		<div class="chip-list-wrapper">
			<mat-chip-list>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===0" (click)="setSeaIndex(0)"><div class="gd-icon icon-fireship"></div> {{world.substring(0, 2)=='en'?'Light ships':'Fireships'}}</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===1" (click)="setSeaIndex(1)"><div class="gd-icon icon-bireme"></div> Biremes</mat-chip>
			</mat-chip-list>
		</div>

		<div *ngIf="tabsSeaIndex===0">
			<br/>
			<mat-card-title *ngIf="(firePlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterSea" (keyup)="filterPlayers('sea');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterSea != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="firePlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No fireship intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of firePlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'sea')">
						<br/>
						<intel-table [type]="'fire'" [containsDuplicates]="player.contains_duplicates" [seaTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilterSea!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="clearFilter()">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>
		<div *ngIf="tabsSeaIndex===1">
			<br/>
			<mat-card-title *ngIf="birPlayers.length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterSea" (keyup)="filterPlayers('sea');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterSea != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="birPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No bireme intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of birPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'sea')">
						<br/>
						<intel-table [type]="'bir'" [containsDuplicates]="player.contains_duplicates" [seaTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilterSea!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="clearFilter()">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>

	</mat-card>
</ng-template>

<!--land units-->
<ng-template #landunits>
	<mat-card class="text-center">

		<mat-card-title>
			<div class="form-group row" style='margin: 0px;'>
				<h1 style='font-weight: 300; color: #304357; margin: 0;'>
					<span class='world-title' style='color: #18BC9C;'>Land units</span>
					<span class="hidden-xs" *ngIf="!embedded">
            &nbsp;<img src="../../assets/images/ally_ico.png" style="height: 28px; margin-top: -5px;"/>&nbsp;<span>{{allianceName}}</span>
          </span>
				</h1>
			</div>
		</mat-card-title>

		<div class="chip-list-wrapper">
			<mat-chip-list>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===0" (click)="setLandIndex(0)"><div class="gd-icon icon-manti"></div> Mythical units</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===1" (click)="setLandIndex(1)"><div class="gd-icon icon-slinger"></div> Offensive</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===2" (click)="setLandIndex(2)"><div class="gd-icon icon-sword"></div> Defensive</mat-chip>
			</mat-chip-list>
		</div>

		<div *ngIf="tabsLandIndex===0">
			<br/>
			<mat-card-title *ngIf="(mythPlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterLand" (keyup)="filterPlayers('land');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterLand != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="mythPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No mythical unit intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of mythPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'land')">
						<br/>
						<intel-table [type]="'myth'" [containsDuplicates]="player.contains_duplicates" [landTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilter!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="playerNameFilter=''; hasMatch=true; cdr.detectChanges();">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>
		<div *ngIf="tabsLandIndex===1">
			<br/>
			<mat-card-title *ngIf="(offPlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterLand" (keyup)="filterPlayers('land');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterLand != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="offPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No offensive unit intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of offPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'land')">
						<br/>
						<intel-table [type]="'off'" [containsDuplicates]="player.contains_duplicates" [landTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilter!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="playerNameFilter=''; hasMatch=true; cdr.detectChanges();">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>
		<div *ngIf="tabsLandIndex===2">
			<br/>
			<mat-card-title *ngIf="(defPlayers | ValuesPipe).length>3">
				<form class="form-inline" style="font-size: 18px; font-weight: 300;">
					<label class="gd-secondary" style="margin-right: 5px;">Filter by player name:</label>
					<input type="text" autocomplete="off" class="form-control" name="playerNameFilter"
					       [(ngModel)]="playerNameFilterLand" (keyup)="filterPlayers('land');" style="margin-right: 5px;"/>
					<label *ngIf="playerNameFilterLand != ''" class="fa fa-times" (click)="clearFilter()"></label>
				</form>
			</mat-card-title>
			<mat-card-content>
				<div *ngIf="defPlayers.length<=0" class="alert alert-warning text-center alert-gd-1">
					<h3>No defensive unit intel available</h3>
					<p>Index more reports to collect intel</p>
				</div>
				<div *ngFor="let player of defPlayers | ValuesPipe; trackBy: null">
					<span *ngIf="filterMatch(player.name, 'land')">
						<br/>
						<intel-table [type]="'def'" [containsDuplicates]="player.contains_duplicates" [landTowns]="player.towns" [key]="key" [world]="world" [id]="player.id"
						             [playerName]="player.name" [allianceName]="allianceName" [parentType]="'alliance'"></intel-table>
					</span>
				</div>
				<div *ngIf="playerNameFilter!=''&&hasMatch==false&&showNoResults" class="alert alert-warning text-center alert-gd-1">
					<h3 class="gd-secondary">No intel found for <span class="gd-primary">{{playerNameFilter}}</span> in this alliance.</h3>
					<p><a class="a-link-dialog" (click)="playerNameFilter=''; hasMatch=true; cdr.detectChanges();">
						Clear</a> your search or try a different name.</p>
				</div>
			</mat-card-content>
		</div>

	</mat-card>
</ng-template>