.gd-card {
    font-family: 'Inter', sans-serif;
    margin: 0 20px;
    border-radius: 0.375rem;
    border: 0 solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
}