<mat-card class="index-card">
	<mat-card-title>
		<mat-icon class="mat-icon-title-inline">vpn_key</mat-icon> Change password
	</mat-card-title>
	<mat-card-content>

		<div class="alert alert-gd-1" style="margin: 0 0 15px 0;">

			<div>
				<h2>Change your password</h2>
				<form *ngIf="!success" [formGroup]="passwordForm" (ngSubmit)="environment.production==true?captchaRef.execute():sendRequest()">
					<div class="form-group">
						<label for="oldpassword">Current password</label>
						<input autocomplete="off" type="password" formControlName="oldpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" />
						<div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
							<div *ngIf="f.oldpassword.errors.required">Password is required</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password">New password (At least 8 characters)</label>
						<input autocomplete="off" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
						<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
							<div *ngIf="f.password.errors.required">Password is required</div>
						</div>
					</div>
					<div class="form-group">
						<label for="password2">New password confirmation</label>
						<input autocomplete="off" type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
						<div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
							<div *ngIf="f.password2.errors.required">Password verification is required</div>
						</div>
					</div>
					<br/>
					<div class="form-group">
						<button [disabled]="loading" class="btn btn-primary">
							<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
							Change password
						</button>
					</div>

				</form>

				<app-alert type="error" *ngIf="error">
					<h5>{{error}}</h5>
				</app-alert>

				<app-alert type="success" title="Password changed successfully" *ngIf="success">
					<h5>Your password has been updated.</h5>
				</app-alert>

				<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

			</div>


		</div>

	</mat-card-content>
</mat-card>