.donate-btn {
  margin-top: 5px;
  border: none;
  color: white;
  font-weight: 500;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 25px;
  position: absolute;
  bottom: 45px;

  &.paypal {
    background-color: #142c8e;

    img {
      display: initial;
      height: 1em;
      width: 1em;
      float: left;
      margin-top: 5px;
      margin-right: 10px;
    }
  }

  &.coffee {
    background-color: #FFDD00;
    color: #272727;
  }
}

#donate_mail {
  font-weight: 100;
}

.copy-txt {
  padding-left: 15px;

  :hover {
    cursor: pointer;
  }

  mat-icon {
    font-size: 16px;
  }
}

.donate-option {
  margin-bottom: 20px;
  background: #eeeeee;
  padding: 5px 30px;
  border-radius: 25px;
  box-shadow: 8px 9px 15px 0px rgb(0 0 0 / 20%);
  min-height: 180px;
}
