$header_height: 58px;
$cmd_header_height: 40px;
$footer_height: 75px;

.ops-header {
  position: fixed;
  top: 0;
  height: $header_height;
  width: 100vw;
  z-index: 1000;
  box-shadow: 0px 0px 10px 1px #18333310 !important;
}

.op-settings-container {
  padding: 20px;
  display: flex;
  background: #fff;
  margin-top: 10px;
  max-width: 350px;
  flex-direction: column;
  box-shadow: 0px 0px 10px 1px #18333340 !important;
  gap: 10px;
}

.ops-next-refresh {
  min-width: 20px;
  display: inline-block;
}

.ops-action {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1001;
}

.commands-container {
  padding: 0 20px;
}

.ops-commands-list-container {
  margin-top: $header_height;

  h3 {
    margin: 0 !important;
    height: 30px;
  }
}

.command-viewer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 40px 20px;
  box-shadow: 0px 0px 10px 1px #18333320 !important;
  border-radius: 20px;
}

.command-sidepanel {
  width: 20%;
  background: #fff;
  padding: 20px;
}

.command-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px 0 0 10px;

  .filter-header {
    display: flex;
    justify-content: space-between;
  }

  .hr-small {
    margin: 10px !important;
  }

  p {
    margin: 15px 0 0;
    font-weight: 900;
    font-size: 14px;
    color: #5f758d;
  }

  .input {
    min-height: 30px;
  }

  .inline-filter {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5px;
    select, input {
      height: 30px;
    }
  }

  .filter-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    span {
      color: #18bc9b;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
.command-overview-container {
  width: 60%;
  font-size: 18px;
  //border: 1px solid #334254;
  box-shadow: 0px 0px 10px 1px #18333314 !important;
}
.command-comments-container {
  border-radius: 0 10px 10px 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .comment-title {
    display: flex;
  }
  .command-info {
    margin-bottom: 60px;
    p, h5 {
      margin: 0 !important;
      margin-top: 5px !important;
    }
  }
  .comments-list {
    height: calc(100% - 100px);
    max-height: max(35vh, 300px);
    overflow-y: auto;
  }
  .comment-input {
    textarea {
      width: 100%;
      height: 50px;
      padding: 4px;
      background-color: #fff;
      resize: none;
    }
    button {
      width: 100%;
      margin-top: -6px;
      border-radius: 0 0 7px 7px;
    }
  }
  .ops-comment {
    background: #ffffff;
    padding: 5px;
    display: flex;
    flex-direction: column;
    .comment-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .user {
        color: #18bc9b;
        font-weight: 500;
      }
      .time {
        font-size: 70%;
        margin-left: 15px;
      }
    }
  }
  .ops-comment:nth-child(odd) {
    background: #f8f8f8;
  }
  .ops-comment:nth-child(even) {
    background: #ededed;
  }
  .town-name-bb {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .comment-admin {
    button {
      width: 100%;
    }
  }
}
.command-overview-title {
  background-image: url(~assets/images/game/header.png);
  //background: rgb(249 171 0 / 20%);
  color: #fff;
  padding: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .server-time {
    text-align: left;
    width: 25%;
    padding: 0 5px;
    font-weight: 500;
  }
  .title {
    text-align: center;
    width: 50%;
  }
  .sync-status {
    text-align: right;
    width: 25%;
    padding: 0 5px;
    min-width: 50px;
    min-height: 30px;

    font-weight: 900;
    color: #fff;
    font-size: 20px;
    margin: 0;

    .sync-label {
      color: red;
      margin-right: 7px;
    }
    .sync-ok {
      color: #18bc9b;
    }
  }
}
.error-message {
  color: #ff4343;
  margin: 0 !important;
}
.deleted-status {
  display: flex;
  align-items: center;
  color: #b20000;
  font-weight: 900;
  margin-left: 15px;
}
.filtered {
  border: 3px solid #18bc9b;
  padding: 0 !important;
}
.total-units {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f6e7c8;
  padding: 0 3px;
  gap: 10px;
  .smaller-text {
    font-size: 13px !important;
  }
}
.command-overview-content {
  background: url(~assets/images/game/gpwindow_bg.jpg) 0 0 repeat;
  //background: #FFE19A;
  border: 2px solid #d0be97;
  min-height: calc(100vh - #{$header_height} - #{$footer_height} - #{$cmd_header_height} - 90px);
  max-height: calc(100vh - #{$header_height} - #{$footer_height} - #{$cmd_header_height} - 90px);
  overflow-y: auto;

  .command-list {
    .hidden-command {
      display: none;
    }
    .command-ngfor:nth-child(odd) {
      background: url(~assets/images/game/bg_odd.png) 0 0 repeat;
      //background: #FFE5AB;
    }
    .command-ngfor:nth-child(even) {
      background: url(~assets/images/game/bg_even.png) 0 0 repeat;
      //background: #FFEABC;
    }
    .command-ngfor {
      &:hover {
        background: rgba(249, 171, 0, 0.2) !important;
      }
    }
    .command {
      border-bottom: 1px solid #d0be97;
      padding: 1px;
      .command-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      .left {
        display: flex;
        align-items: center;
        flex-direction: row;

        .command-type {
          margin: 0 10px;
        }
      }
      .right {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
      .command-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: 400;
        .command-timing {
          font-size: 80%;
          height: 25px;
          display: flex;
          align-items: center;
          .eta {
            font-size: 120%;
            min-width: 60px;
            margin-right: 15px;
          }
          .cancel-human {
            font-size: 80%;
            margin-top: 2px;
          }
          .comments {
            margin-left: 15px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 3px;
            &:hover {
              cursor: pointer;
            }
            .comment-sneakpeek {
              display: inline;
              max-width: 120px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
.town-name:hover {
  cursor: pointer;
}
.comment-panel {
  h5 {
    margin-top: 0 !important;
  }
}
.command-overview-footer {
  background: #f9ab0033;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .command_filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px;
    .options {
      margin-left: 5px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .support_filter {
        margin-right: 5px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .refresh-timer {
    margin-right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
.command-overview-tabs {
  width: 100%;
  height: 35px;
  display: flex;
  //border: 1px solid #323f4c;
  //border-bottom: none;
  box-shadow: inset 0px 0px 5px 0px #18333330 !important;
  justify-content: flex-start;
  background: #fff;
  overflow-x: auto;
  &.many {
    height: 45px;
    font-size: 90%;
  }
  .command-tab {
    height: 100%;
    padding: 0 5px;
    border-right: 1px solid rgba(50, 63, 76, 0.3);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      background: #fbecd7;
    }
  }
  .new-tab {
    width: 40px !important;
    max-width: 40px !important;
    padding: 0 5px;
    user-select: none;
  }
  .view-tab {
    min-width: 100px;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &.active-tab {
      background: #F6E7C8;
      border: 0 !important;
      margin-left: -1px;
      font-weight: 500;
      box-shadow: 0px 0px 10px 1px #18333330 !important;
    }
  }
}
.view-actions {
  display: flex;
  justify-content: space-evenly;
}
.view-name-editor {
  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .view-no-edit:hover {
    cursor: pointer;
  }
  .view-edit {
    mat-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.overview_incoming.icon,
.overview_outgoing.icon {
  background: url(../../../../assets/images/game/arrows_small.png) no-repeat;
  width: 12px;
  height: 13px;
  display: inline-block;
  margin: 0 2px;
  vertical-align: middle;
}
.overview_incoming.icon {
  background-position: 0 0;
}
.overview_outgoing.icon {
  background-position: -12px 0;
}
.payed_iron {
  font-weight: 700;
  margin-right: 10px;
}
.command_highlight {
  background: url(../../../../assets/images/game/row_highlight.png) repeat !important;
  background-size: 100% auto !important;
}
.selected-command {
  background: #18bc9b6b !important;
}

.rotate-cont {
  min-width: 24px;
  display: inline-block;
  margin-left: 3px;
  margin-right: -3px;
}
.rotate-loader {
  transition: all 0.3s ease;
  display: none;
  opacity: .7;
  vertical-align: text-bottom;
  min-width: 15px;
}
.rotate-anim {
  display: inline-block;
  animation: rotate-anim 2s infinite ease-out;
}
@keyframes rotate-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.command-footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  text-align: center;
  width: 100%;
}
::ng-deep .multiselect-dropdown {
  .selected-item {
    background: #489384 !important;
    border: 1px solid #489384 !important;
  }
}
//::ng-deep .mat-checkbox-checked {
//  .mat-checkbox-background {
//    background: #18bc9b !important;
//  }
//}
