.command-overview-container {
  margin: 0 25%;
  background: #fff;
  border: 2px solid #334254;

  .command-list {
    .command {
      border-bottom: 1px solid grey;

      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
