<div style="width: 100% !important; min-height: 0px; padding: 5px; text-align: center" *ngIf="!mobile && !blocking">
    <ad-unit></ad-unit>
</div>

<div class="blocked" *ngIf="!mobile && blocking && !hideBlockingMsg">
    <div class="col-12 alert alert-warning text-center alert-gd-1" style="width: 100%">
        <div class="row">
            <div class="col-2">
                <mat-icon class="icon-margin">
                    <img src="../../assets/images/adblock.png" height="70" />
                </mat-icon>
            </div>
            <div class="col-8">
                <h3 style="color: #f44336">We show ads to pay for our servers</h3>
                <p style="font-size: 17px">
                    Please consider supporting us by disabling your adblocker on this site;
                    <a
                        target="_blank"
                        href="https://help.getadblock.com/support/solutions/articles/6000082125-what-do-i-do-if-a-site-forces-me-to-disable-adblock-"
                        >learn how</a
                    >
                </p>
            </div>
            <div class="col-2">
                <a (click)="hideHelp()" class="close" style="top: 18px; color: #f44336 !important"></a>
            </div>
        </div>
    </div>
</div>
