<div style="overflow-x: hidden; min-height: 100%;">

	<mat-card class="search-card" *ngIf="!embedded">
		<app-index-search></app-index-search>
	</mat-card>

	<mat-card [ngClass]="embedded?'embedded-intel-card':'index-card'" class="index-intel-card">
		<div [ngClass]="{'embedded-padding': embedded}">
			<div class="card-header bg-gd-1 text-center text-white" style="margin-bottom: 0;" *ngIf="!embedded">

				<h2 style="cursor: pointer; margin: 0;">
          <span class="hidden-xs hidden-sm">Showing your combined intel for:&nbsp;</span>
					<div class="name-circle" (click)="copyBB()">
						<img style="height: 25px; margin-top: -5px;" src="../../assets/images/player_ico.png"/>&nbsp;
						<span class="gd-brown">{{playerName}}</span>
					</div>
				</h2>
				<h3>
	        <span class="index-title" *ngIf="world">
	          World: <div class="bg-flag flag-inline-middle flag-{{world.substr(0,2)}}"></div>&nbsp;<span class='world-title' *ngIf="world"><a class="a-link-dialog gd-secondary" routerLink="/points" [queryParams]="{world: world}">{{worldName}}&nbsp;({{world}})</a></span>
	        </span>
					<span class="index-title" *ngIf="!loading && allianceId != 0">
	          Alliance: <span class='world-title'><a class="a-link-dialog gd-secondary" routerLink="/intel/alliance/{{world}}/{{allianceId}}">{{allianceName}}</a></span>
	        </span>
					<span class="index-title" *ngIf="!loading">
	          Stats: <span class='world-title'><a class="a-link-dialog gd-secondary" routerLink="/player" [queryParams]="{world: world, id: id}">View player statistics</a></span>
	        </span>
				</h3>
			</div>

	    <mat-card-content class="decorated-card-content" [ngClass]="{'embedded-padding': embedded}" style="padding: 0 !important;">

	      <!--<div *ngIf="embedded">-->
	        <!--<h4 class="gd-primary text-center">-->
	          <!--<span class="index-title">-->
	            <!--Index: <span class='world-title'><a class="a-link-dialog" style="color: #334254 !important;" routerLink="/indexer/{{key}}">{{key}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon></a></span>-->
	          <!--</span>-->
	          <!--<span class="index-title" *ngIf="allianceId != 0">-->
	            <!--Alliance intel: <span class='world-title gd-secondary'><a class="a-link-dialog" style="color: #334254 !important;" routerLink="/indexer/alliance/{{key}}/{{world}}/{{allianceId}}">{{allianceName}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon></a></span>-->
	          <!--</span>-->
	        <!--</h4>-->
	      <!--</div>-->

	      <div *ngIf="err != ''" class="text-center">
	          <div class="container">
		          <div class="row">
			          <br/>
			          <br/>
			          <br/>
			          <div class="alert alert-gd-1 text-center">
				          <h2 class="gd-primary"><strong>No player intel available.</strong> Index more reports about this player.</h2>
				          <h4>
					          Note: Intel about your allies (index owners) is unavailable.
				          </h4>
			          </div>
		          </div>
	          </div>
	      </div>

	      <div *ngIf="err == ''">

		      <!--<app-advertorial *ngIf="!loading && !embedded && totalCount > 30"></app-advertorial>-->

		      <!--<div style="width: calc(100vw - 68px); margin: auto;">-->
			      <!--<app-index-version *ngIf="!embedded && !loading" [version]="version" [message]="message" [key]="key"></app-index-version>-->
		      <!--</div>-->

		      <div *ngIf="loading" class="text-center">
			      <div class="align-middle" style="position: relative; top: 250px; left: 25%; width: 50%;">
				      <h3 class="gd-primary"><strong>Loading player intel...</strong></h3>
				      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
			      </div>
		      </div>

	        <div *ngIf="!noIntel && !loading" >

		        <div *ngIf="mobile">
			        <mat-tab-group mat-stretch-tabs (click)="cdr.detectChanges();">
				        <mat-tab>
					        <ng-template mat-tab-label>
						        <div class="unit_icon40x40 unknown_naval" style="border-radius: 30px;"></div>&nbsp;&nbsp;Sea units
					        </ng-template>
					        <ng-container *ngTemplateOutlet="seaunits"></ng-container>
				        </mat-tab>
				        <mat-tab>
					        <ng-template mat-tab-label>
						        <div class="unit_icon40x40 unknown" style="border-radius: 30px;"></div>&nbsp;&nbsp;Land units
					        </ng-template>
					        <ng-container *ngTemplateOutlet="landunits"></ng-container>
				        </mat-tab>
			        </mat-tab-group>
		        </div>

		        <div *ngIf="!mobile" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px" style="max-width: 1700px; margin: auto;">
			        <div fxFlex="50">
				        <ng-container *ngTemplateOutlet="seaunits"></ng-container>
			        </div>
			        <div fxFlex="50">
				        <ng-container *ngTemplateOutlet="landunits"></ng-container>
			        </div>
		        </div>

	        </div>

	        <!--<div *ngIf="!embedded && !loading" style="max-width: 1700px; margin: auto;">-->
	          <!--<mat-card class="index-card">-->
	            <!--<mat-card-title>-->
	              <!--<div fxLayout="row">-->
	                <!--<h3 style='font-weight: 300; color: #304357;'>-->
	                  <!--<span class='world-title' style='color: #18BC9C;'>All indexed towns</span>-->
	                <!--</h3>-->
	              <!--</div>-->
	            <!--</mat-card-title>-->
	            <!--<mat-card-content>-->
	              <!--<div class="table" id="table_all" style='margin: auto; margin-bottom: 0px;'>-->

	                <!--<div class="row_custom header bg-gd-2" >-->
	                  <!--<div class="cell">-->
	                    <!--Town-->
	                  <!--</div>-->
	                  <!--<div class="cell">-->
	                    <!--Reports collected-->
	                  <!--</div>-->
	                <!--</div>-->

	                <!--<div class='row_custom' *ngFor="let town of allCities | ValuesPipe">-->
	                  <!--<div class="cell">-->
	                    <!--<a routerLink="/indexer/town/{{key}}/{{world}}/{{town.town_id}}">{{town.name}}</a>-->
	                  <!--</div>-->
	                  <!--<div class="cell">-->
	                    <!--{{town.count}}-->
	                  <!--</div>-->
	                <!--</div>-->
	              <!--</div>-->
	            <!--</mat-card-content>-->
	          <!--</mat-card>-->
	        <!--</div>-->

	        <div *ngIf="noIntel && !loading">
	          <div class="container">
	            <div class="row">
	              <br/>
	              <br/>
	              <div class="alert alert-danger text-center">
	                <h3>You have not yet gained any intel on player <strong>{{playerName}}</strong></h3>
	              </div>
	            </div>
	          </div>
	        </div>

	      </div>

	    </mat-card-content>
	  </div>
	</mat-card>

  <div class="row" *ngIf="!noIntel && err=='' && !loading">
    <div class="col-lg-12 text-center">
      <h4 class="gd-secondary">Images on this page are subject to Copyright © InnoGames GmbH</h4>
    </div>
  </div>

</div>

<!--sea units-->
<ng-template #seaunits>
	<mat-card class="index-card text-center sub-card">

		<!--<div class="card-header bg-gd-1">-->
			<!--<div class="form-group row" style='margin: 0px;'>-->
				<!--<h1 class="entity-name gd-white">-->
					<!--<span class=''>Sea units: &nbsp;</span>-->
					<!--<span class="hidden-xs" *ngIf="!embedded">-->
						<!--<div class="icon-circle"><img src="../../assets/images/player_ico.png" style="height: 28px; margin-top: -5px;"/></div>&nbsp;<span>{{playerName}}</span>-->
          <!--</span>-->
				<!--</h1>-->
			<!--</div>-->
		<!--</div>-->

		<mat-card-title>
			<div class="form-group row" style='margin: 0px;'>
				<h1 style='font-weight: 300; color: #304357; margin: 0;'>
					<span class='world-title' style='color: #18BC9C;'>Sea units</span>
					<span class="hidden-xs" *ngIf="!embedded">
            &nbsp;<img src="../../assets/images/player_ico.png" style="height: 28px; margin-top: -5px;"/>&nbsp;<span>{{playerName}}</span>
          </span>
				</h1>
			</div>
		</mat-card-title>

		<div class="chip-list-wrapper">
			<mat-chip-list>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===0" (click)="setSeaIndex(0)"><div class="gd-icon icon-fireship"></div> {{world.substring(0, 2)=='en'?'Light ships':'Fireships'}}</mat-chip>
        <mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===1" (click)="setSeaIndex(1)"><div class="gd-icon icon-bireme"></div> Biremes</mat-chip>
        <mat-chip class="gd-chip gd-chip-lg" [selected]="tabsSeaIndex===2" (click)="setSeaIndex(2)"><div class="gd-icon icon-trireme"></div> Triremes</mat-chip>
			</mat-chip-list>
		</div>

		<div  *ngIf="tabsSeaIndex===0" style="padding-top: 16px;">
			<intel-table [type]="'fire'" [containsDuplicates]="fireCities.contains_duplicates" [seaTowns]="fireCities.towns || []" [key]="key" [world]="world" [id]="id" [playerName]="playerName" [allianceName]="allianceName"></intel-table>
		</div>
		<div  *ngIf="tabsSeaIndex===1" style="padding-top: 16px;">
			<intel-table [type]="'bir'" [containsDuplicates]="birCities.contains_duplicates" [seaTowns]="birCities.towns || []" [key]="key" [world]="world" [id]="id" [playerName]="playerName" [allianceName]="allianceName"></intel-table>
    </div>
    <div  *ngIf="tabsSeaIndex===2" style="padding-top: 16px;">
			<intel-table [type]="'trir'" [containsDuplicates]="trirCities.contains_duplicates" [seaTowns]="trirCities.towns || []" [key]="key" [world]="world" [id]="id" [playerName]="playerName" [allianceName]="allianceName"></intel-table>
		</div>
	</mat-card>
</ng-template>

<!--land units-->
<ng-template #landunits>
	<mat-card class="index-card text-center sub-card">

		<!--<div class="card-header bg-gd-1">-->
			<!--<div class="form-group row" style='margin: 0px;'>-->
				<!--<h1 class="entity-name gd-white">-->
					<!--<span class=''>Land units: &nbsp;</span>-->
					<!--<span class="hidden-xs" *ngIf="!embedded">-->
						<!--<div class="icon-circle"><img src="../../assets/images/player_ico.png" style="height: 28px; margin-top: -5px;"/></div>&nbsp;<span>{{playerName}}</span>-->
          <!--</span>-->
				<!--</h1>-->
			<!--</div>-->
		<!--</div>-->

		<mat-card-title>
			<div class="form-group row" style='margin: 0px;'>
				<h1 style='font-weight: 300; color: #304357; margin: 0;'>
					<span class='world-title' style='color: #18BC9C;'>Land units</span>
					<span class="hidden-xs" *ngIf="!embedded">
            &nbsp;<img src="../../assets/images/player_ico.png" style="height: 28px; margin-top: -5px;"/>&nbsp;<span>{{playerName}}</span>
          </span>
				</h1>
			</div>
		</mat-card-title>

		<div class="chip-list-wrapper">
			<mat-chip-list>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===0" (click)="setLandIndex(0)"><div class="gd-icon icon-manti"></div> Mythical</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===1" (click)="setLandIndex(1)"><div class="gd-icon icon-slinger"></div> Offensive</mat-chip>
				<mat-chip class="gd-chip gd-chip-lg" [selected]="tabsLandIndex===2" (click)="setLandIndex(2)"><div class="gd-icon icon-sword"></div> Defensive</mat-chip>
			</mat-chip-list>
		</div>

		<div *ngIf="tabsLandIndex===0" style="padding-top: 16px;">
			<intel-table [type]="'myth'" [containsDuplicates]="mythCities.contains_duplicates" [landTowns]="mythCities.towns || []" [key]="key" [world]="world" [id]="id" [playerName]="playerName" [allianceName]="allianceName"></intel-table>
		</div>
		<div *ngIf="tabsLandIndex===1" style="padding-top: 16px;">
			<intel-table [type]="'off'" [containsDuplicates]="offCities.contains_duplicates" [landTowns]="offCities.towns || []" [key]="key" [world]="world" [id]="id" [playerName]="playerName" [allianceName]="allianceName"></intel-table>
		</div>
		<div *ngIf="tabsLandIndex===2" style="padding-top: 16px;">
			<intel-table [type]="'def'" [containsDuplicates]="defCities.contains_duplicates" [landTowns]="defCities.towns || []" [key]="key" [world]="world" [id]="id" [playerName]="playerName" [allianceName]="allianceName"></intel-table>
		</div>

	</mat-card>
</ng-template>
