
@font-face {
    font-family: Montserrat;
    src: url("/assets/vendor/fonts/montserrat-regular-webfont.woff") format("woff");
  //font-family: Poppins;
  //font-family: Raleway;
  //src: url("/assets/vendor/fonts/Poppins-Black.ttf") format("truetype");
  //src: url("/assets/vendor/fonts/Poppins-Light.ttf") format("truetype");
  //src: url("/assets/vendor/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

//.adsense {
//    text-align: center;
//    background: #fff;
//    padding: 5px;
//}
//.green-ad {background: #18BC9C !important;}
//.white-ad {background: #fff !important;}
//
//.adsbygoogle {
//    width: 728px;
//    height: 90px;
//}
//@media (max-width: 400px) { .adsbygoogle { display: none; } }
//@media (min-width:500px) { .adsbygoogle { width: 468px; height: 60px; } }
//@media (min-width:800px) { .adsbygoogle { width: 728px; height: 90px; } }

html {
    //height: 100%;
}

.content-container {
    //height: 100%;
    //font-family: Montserrat;
  //font-family: Poppins,Helvetica,"sans-serif";
  //font-family: Raleway,Helvetica,"sans-serif";
}

//.content-component {
//    padding:        0px;
//    height:         calc(100% - 70px);
//    overflow-y:     scroll;
//    overflow-x:     hidden;
//}

router-outlet {
    height: 100%;
}

app-root {
    height: 100%;
}

.Site {
    //display: flex;
    //height: 100vh;
    //max-height: calc(100% - 70px);
    //flex-direction: column;
    //overflow-y: scroll;
}

.Site-content {
    //flex: 1;
    // 100 viewport - header - footer
    min-height: calc(100vh - 70px - 90px);
}
