<app-header *ngIf="show_header"></app-header>
<div class="Site" id="content" (scroll)="scrollContent($event)">
    <div class="Site-content">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>

<!-- <div class="overlay-msg" [hidden]="hidden_warning" (click)="hidden_warning=true">
    <app-alert [type]="'warning'" [title]="'Scheduled Server Maintenance: December 1'" [dismissible]="true">
        <h4>GrepoData will be offline on <strong>December 1, 2024 from 11:00 UTC until 13:00 UTC</strong> due to a server migration. There will likely be data loss during this period. Please check back later.</h4>
    </app-alert>
</div> -->
