.top-index-cards {
  background: #f3f3f3 !important;
  color: #334254 !important;
  border: 1px solid #18bc9c;
}

.loading-overlay {
  opacity: 0.5;
  //pointer-events: none !important;
}

.top-index-card {
  transition: all .3s ease-in-out !important;
}
.top-index-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  opacity: .9;
}
.top-index {
  padding: 10px;
  margin: 10px;
  h3 {
    padding: 0 !important;
  }
  min-height: 165px !important;
}
.launch-icon {
  position: absolute;
  right: 10px;
}
.launch-icon:hover {
  color: #233140;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.enemy-attack {
  width: 32px;
  height: 32px;
  background: url('/assets/images/game/towninfo/attack_land.png');
  margin: auto;

  &::before {
    content: '';
    background: url('/assets/images/game/towninfo/arrow_left.png');
    position: absolute;
    left: 33px;
    width: 11px;
    height: 32px;
    transform: rotate(180deg);
  }
}

.friendly-attack {
  width: 32px;
  height: 32px;
  background: url('/assets/images/game/towninfo/attack_land.png');
  margin: auto;

  &::before {
    content: '';
    background: url('/assets/images/game/towninfo/arrow_right.png');
    position: absolute;
    left: 33px;
    width: 11px;
    height: 32px;
  }
}

.conquest {
  width: 32px;
  height: 32px;
  background: url('/assets/images/game/towninfo/conquest-2.png');
  margin: auto;
}

.spy {
  width: 32px;
  height: 32px;
  background: url('/assets/images/game/towninfo/spy-2.png');
  margin: auto;
}

.support {
  width: 32px;
  height: 32px;
  background: url('/assets/images/game/towninfo/support-2.png');
  margin: auto;
}

.wisdom {
  width: 32px;
  height: 32px;
  background: url('/assets/images/game/towninfo/wisdom.png');
  margin: auto;
}