
<mat-card class="index-card index-card-sm">
	<h2 class="gd-secondary">Search in your intel</h2>
	<app-index-search></app-index-search>
</mat-card>

<mat-card class="index-card index-card-sm">
	<h2 class="gd-secondary">
		Your top indexes
		<a class="top-index-card" *ngIf="topIndexes.length > 0" routerLink="/profile/indexes" style="color: #949494; font-weight: 700; font-size: 21px; right: 70px; position: absolute;">
			<mat-icon style="opacity: 1; vertical-align: sub;" class="hidden-xs">launch</mat-icon> View all my indexes
		</a>
	</h2>

	<div fxLayout="row wrap" style="margin: 0 15px;">


		<div fxFlex.gt-sm="16" fxFlex.gt-xs="100" fxFlex="100" class="top-index-card">
			<a (click)="newIndex()">
				<mat-card class="bg-primary text-white text-center top-index">
					<div style="margin-top: 25px;">
						<h3 class="m-0">
							<i class="fa fa-plus"></i>
							<br/>
							<span class="hidden-md hidden-lg">New index</span>
							<span class="hidden-sm hidden-xs">Create a new index</span>
						</h3>
					</div>
				</mat-card>
			</a>
		</div>
		<div *ngIf="loadingIndexes" fxFlex.gt-sm="84" fxFlex.gt-xs="100" fxFlex="100" class="" style="padding: 70px;">
			<mat-progress-bar style="margin-top: -10px;" mode="indeterminate"></mat-progress-bar>
		</div>
		<div *ngIf="!loadingIndexes && topIndexes.length <= 0" fxFlex.gt-sm="84" fxFlex.gt-xs="100" fxFlex="100" style="padding: 10px;">
			<app-alert type="warning" title="You have not yet created or joined any indexes" [dismissible]="false">
				<div style="min-height: 73px !important;">
					<h4>You can create your own index and share it with your allies or you can join an existing index by asking your allies to invite you.</h4>
					<p>You can still collect intelligence if you are not part of an index, but you will only be able to share this intel by adding it to an index.</p>
				</div>
			</app-alert>
		</div>
		<ng-container *ngIf="!loadingIndexes && topIndexes.length > 0">
			<div *ngFor="let index of topIndexes" fxFlex.gt-sm="21" fxFlex.gt-xs="100" fxFlex="100" class="top-index-card">
				<a routerLink="/profile/overview/{{index.key}}">
					<mat-card class="bg-success text-white text-center top-index">
						<mat-icon class="launch-icon" style="float: right;">launch</mat-icon>
						<div>
							<h3 class="m-0"><mat-icon style="vertical-align: sub;">account_balance</mat-icon> {{index.name}}</h3>
							<div [outerHTML]="index.world | WorldNamePipe"></div>
							<div *ngFor="let owner of index.stats.owners;">
								<img src="../../assets/images/ally_ico.png"/> {{owner.alliance_name}}
							</div>
						</div>
					</mat-card>
				</a>
			</div>
		</ng-container>
	</div>
</mat-card>


<mat-card class="index-card index-card-sm">
	<h2 class="gd-secondary">Latest reports indexed by you</h2>

	<mat-card-content style="padding: 0 30px 15px;">

		<div *ngIf="loading || paging" style="padding-top: 10px;">
			<mat-progress-bar style="margin-top: -10px;" mode="indeterminate"></mat-progress-bar>
		</div>

		<div *ngIf="!loading">

			<mat-paginator *ngIf="from > 0 || num_results > 15" [length]="num_results"
			               [pageSize]="size"
			               [pageSizeOptions]="[1, 10, 20, 30, 50, 100]"
			               (page)="paginatorEvent($event)"
			               [disabled]="paging"
			               style="display: flex; justify-content: left;">
			</mat-paginator>

			<div  [ngClass]="{'loading-overlay': paging}">
				<div class="table intel-table" id="table_all">
					<div class="row_custom header bg-gd-2" >
						<div class="cell">
							World
						</div>
						<div class="cell">
							Type
						</div>
						<div class="cell">
							Town
						</div>
						<div class="cell">
							Player
						</div>
						<div class="cell">
							Alliance
						</div>
						<div class="cell">
							Date
						</div>
						<div class="cell" style="width: 50%;">
							Units
						</div>
					</div>

					<div class='row_custom' *ngFor="let town of intel" style="height: 40px;">
						<div class="cell">
							<div class="bg-flag flag-inline-middle flag-{{town?.world.substring(0, 2)}}"></div>&nbsp;<a routerLink="/points/{{town?.world}}">{{town?.world}}</a>
						</div>
						<div class="cell unit-cell-small" matTooltip="{{town.type}}" style="transform: scale(.55); margin-top: -8px;">
							<img src="../../assets/images/game/towninfo/attack.png" *ngIf="town.type === 'friendly_attack'">
							<div *ngIf="town.type === 'enemy_attack'" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: ;">
								<img src="../../assets/images/game/towninfo/attack.png">
							</div>
							<img src="../../assets/images/game/towninfo/wisdom.png" *ngIf="town.type === 'wisdom'">
							<img src="../../assets/images/game/towninfo/support.png" *ngIf="town.type === 'support'">
							<img src="../../assets/images/game/towninfo/conquer.png" *ngIf="town.type === 'attack_on_conquest'">
							<img src="../../assets/images/game/towninfo/espionage_2.67.png" *ngIf="town.type === 'spy'">
						</div>
						<div class="cell">
							<a routerLink="/intel/town/{{town?.world}}/{{town?.town_id}}">{{town?.town_name}}</a>
						</div>
						<div class="cell">
							<a routerLink="/intel/player/{{town?.world}}/{{town?.player_id}}">{{town?.player_name}}</a>
						</div>
						<div class="cell">
							<a routerLink="/intel/alliance/{{town?.world}}/{{town?.alliance_id}}">{{town?.alliance_name}}</a>
						</div>
						<div class="cell">
							{{town.date | IndexDate}}
						</div>
						<div class="cell">
							<div *ngIf="town?.parsed != true">
								<span class="gd-error">Sorry, we were unable to parse this report. Developers have been notified.</span>
							</div>
							<div style="display: flex;" *ngIf="town?.parsed == true">
                <span style="transform: scale(.8); margin-right: 32px;" *ngFor="let unit of town.units | ValuesPipe; let i = index;"
                      matTooltip="{{unit.name.replace('_',' ')}}">
                  <div class="unit_icon40x40 {{unit.name}}"></div>
                  <div class="unit-val" style="margin-right: -40px; top: 0px; background: #9898986e; height: 40px; width: 40px;">
                    <div>{{unit.count}}</div>
                    <div style="color: #d00; margin-top: -6px;" *ngIf="unit.killed>0">-{{unit.killed}}</div>
                  </div>
                </span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</mat-card-content>

</mat-card>
