<div style="font-size: 18px; width: auto; max-width: 700px; min-width: 40vw;">
	<a (click)="close()" class="close" *ngIf="building==false"></a>
	<h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>
		<span *ngIf="submitted==false && building!=true">Import an old index</span>
		<span *ngIf="submitted==false && building==true">Importing index..</span>
		<span *ngIf="submitted==true && building!=true">Index imported successfully!</span>
	</h1>

	<div mat-dialog-content *ngIf="submitted==false && building==false" style="width: 100%;">
    <h5><strong>Note: </strong> an index is now called a 'team'</h5>
		<p>Enter the 8 character index key to import an old V1 index.</p>
		<p class="gd-primary"><strong>Any index created before April 2021 is an old index (Version 1).</strong></p>
		<br/>

		<div class="alert alert-gd-1 text-center" style="margin: 0 0 15px 0;">

			<div class="container-fluid">

				<div class="row">
					<div class="col-xs-12">
            <label>Enter the old 8 character index key (For example: <span class="gd-primary">a123acb2</span>)</label>
						<mat-form-field style="width: 100% !important;">
							<input autocomplete="off" style="width: 320px !important;" [ngModel]="index_name" (ngModelChange)="index_name=$event" required matInput placeholder="_ _ _ _ _ _ _ _">
						</mat-form-field>
					</div>
				</div>

				<br/>

				<div class="row">
					<div *ngIf="error!=''" class="alert alert-danger">
						<strong>{{error}}</strong>
					</div>
					<div *ngIf="index_name.length > 8 || index_name.includes(' ')" class="alert alert-danger">
						<strong>Your input is incorrect! Please enter the old index key (must be 8 characters, without spaces)</strong>
					</div>
				</div>
			</div>

			<div fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">
				<button *ngIf="submitted==false && building==false" style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">
					Import index
				</button>
				<button *ngIf="submitted==true && building==false" style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary" (click)="dialogRef.close()">
					Close
				</button>
			</div>

		</div>

	</div>

	<div class="alert alert-gd-1" *ngIf="building==true">
		<br/>
		<br/>
		<p class="text-center">This may take a few seconds</p>
		<div class="gd-spinner">
			<div class="blob top"></div>
			<div class="blob bottom"></div>
			<div class="blob left"></div>

			<div class="blob move-blob"></div>
		</div>
	</div>

	<div *ngIf="submitted==true && createError == ''">
		<app-alert type="success" title="Your old index has been imported." [dismissible]="false">
			<h5>
				You can now contribute and read from the team (Note: an index is now called a team).
			</h5>
		</app-alert>
		<br/>
		<button *ngIf="createdIndex.key" class="btn btn-primary" routerLink="/profile/team/{{createdIndex.key}}">Go to index overview <mat-icon>launch</mat-icon></button>
		<button class="btn btn-secondary mr-1" style="float: right;" (click)="close()">Close</button>
	</div>

	<div *ngIf="submitted==true && createError != ''">
		<app-alert type="error" title="Unable to import index.">
			<h5>{{createError}}	</h5>
		</app-alert>
	</div>

	<div class="row text-center" style="text-align: -webkit-center;" *ngIf="building!=true">
		<re-captcha
			size="invisible"
			#captchaRef="reCaptcha"
			siteKey="{{recaptcha_key}}"
			(resolved)="$event && importIndex($event)">
		</re-captcha>
	</div>


</div>
