<div style="min-height: calc(100vh - 160px);">

	<mat-card class="search-card">
		<app-index-search></app-index-search>
	</mat-card>

	<mat-card class="index-card">
		<div class="card-header bg-gd-1 text-center text-white" style="margin-bottom: 0;">

      <h2 style="cursor: pointer; margin: 0;">
        Showing your combined intel for:&nbsp;
	      <div class="name-circle" (click)="copyBB()">
		      <img style="height: 25px; margin-top: -5px;" src="../../assets/images/town_ico.png"/>&nbsp;
		      <span class="gd-brown">{{townName}}</span>
	      </div>
	      <span style="display: none;" id="bbcode">[town]{{id}}[/town]</span>
	      &nbsp;<button name="open_bb" class="btn btn-primary" (click)="copyBB()">
	        <i class="fa fa-clipboard"></i>&nbsp;<span *ngIf="!copied">Copy BB</span><span *ngIf="copied">Copied!&nbsp;</span>
        </button>
      </h2>
      <h3>
	      World: <div *ngIf="world" class="bg-flag flag-inline-middle flag-{{world.substring(0, 2)}}"></div>&nbsp;<span class='world-title'><a class="a-link-dialog gd-secondary" routerLink="/points" [queryParams]="{world: world}">{{worldName}} ({{world}})</a></span>
        &nbsp;&nbsp;&nbsp;
	      Player intel: <span class='world-title'><a class="a-link-dialog gd-secondary" routerLink="/intel/player/{{world}}/{{playerId}}">{{playerName}}</a></span>
      </h3>
    </div>
    <mat-card-content class="decorated-card-content" style="padding: 0 !important;">

      <div *ngIf="err != ''" class="alert alert-danger text-center">
        {{err}}
      </div>
      <div *ngIf="err == ''">

	      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

        <div *ngIf="!noIntel && !loading">
          <div>

            <div>
              <div>


	              <div class="container-fluid">
		              <div class="row">
			              <mat-tab-group mat-stretch-tabs>
				              <mat-tab class="history-chart" style="padding: 20px 0; overflow: hidden !important;">
					              <ng-template mat-tab-label>
						              <mat-icon style="opacity: 1; vertical-align: bottom;">account_balance</mat-icon>&nbsp;<span class="hidden-xs hidden-sm">Town intelligence</span><span class="hidden-lg hidden-md">Units</span>
					              </ng-template>
					              <br/>

					              <div *ngIf="build.length > 0">
						              <h3 style='font-weight: 300; color: #304357;'>
							              <span class='world-title' style='color: #18BC9C;'>Latest building intelligence</span>
						              </h3>
						              <span class="build-cell" style="transform: scale(1.4); float: left; margin: 15px;" *ngFor="let building of build" >
			                      <div class="building_icon40x40 {{building.name}}" matTooltip="{{building.name}}: {{building.val}} ({{building.date}})">
			                        <span class="unit-val">{{building.val}}</span>
			                      </div>
			                    </span>
						              <br/><br/><br/>
					              </div>
					              <div *ngIf="!allCities.length || allCities.length <= 0">
						              <br/>
						              <br/>
						              <div class="alert alert-warning text-center alert-gd-1">
							              <h2><strong>No intel available.</strong> Index more reports about this town.</h2>
							              <p>Note: intel about allies (index contributors) is hidden by default.</p>
						              </div>
					              </div>
					              <div *ngIf="allCities.length > 0">
						              <h3 style='font-weight: 300; color: #304357;'>
							              <span class='world-title' style='color: #18BC9C;'>Unit intelligence history</span>
						              </h3>
						              <div style="overflow: auto;">
							              <div class="table intel-table" id="table_all" style="">

								              <div class="row_custom header bg-gd-2" >
									              <div class="cell" style="max-width: 10% !important; width: 10%;">
										              Type
									              </div>
									              <div class="cell" style="max-width: 20% !important; width: 20%;">
										              Date
									              </div>
									              <div class="cell text-left">
										              Units
									              </div>
									              <div class="cell text-left" *ngIf="hasHero">
										              Hero
									              </div>
									              <div class="cell text-left" *ngIf="hasGod">
										              God
									              </div>
									              <div class="cell" *ngIf="hasWall">
										              Wall
									              </div>
									              <div class="cell" *ngIf="hasStonehail">
										              Stonehail
									              </div>
									              <div class="cell" *ngIf="hasSilver">
										              Silver
									              </div>
									              <div class="cell hidden-xs hidden-sm" *ngIf="hasConquest" style="max-width: 15vw !important; width: 15vw;">
										              Siege report
									              </div>
									              <!--<div class="cell"></div>-->
								              </div>

								              <div class='row_custom' *ngFor="let town of allCities">
									              <div class="cell" matTooltip="{{town.type}}">
										              <img src="../../assets/images/game/towninfo/attack.png" *ngIf="town.type === 'friendly_attack'">
										              <div *ngIf="town.type === 'enemy_attack'" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: ;">
											              <img src="../../assets/images/game/towninfo/attack.png">
										              </div>
										              <img src="../../assets/images/game/towninfo/wisdom.png" *ngIf="town.type === 'wisdom'">
										              <img src="../../assets/images/game/towninfo/support.png" *ngIf="town.type === 'support'">
										              <img src="../../assets/images/game/towninfo/conquer.png" *ngIf="town.type === 'attack_on_conquest'">
										              <img src="../../assets/images/game/towninfo/espionage_2.67.png" *ngIf="town.type === 'spy'">
									              </div>
									              <div class="cell">
										              {{town.date | IndexDate}}
									              </div>
									              <div class="cell" style="display: flex; margin-bottom: 8px;">
						                      <span style="transform: scale(1.05); float: left; margin: 8px 12px 0 0;" *ngFor="let unit of town.units | ValuesPipe; let i = index;"
						                            matTooltip="{{unit?.name?.replace('_',' ')}}">
						                        <div class="unit_icon40x40 {{unit?.name}}"><span class="unit-val">{{unit?.count}}</span></div>
						                        <span style="color: #d00;" *ngIf="unit?.killed>0">-{{unit?.killed}}</span>
						                      </span>
									              </div>
									              <div class="cell" *ngIf="hasHero" style="min-width: 50px;">
						                      <span style="transform: scale(1.05); float: left; margin: -19px 0 0 0;"
						                            matTooltip="{{town?.hero?.replace('_',' ')}}">
						                        <div class="unit_icon40x40 {{town?.hero}}"></div>
						                      </span>
									              </div>
									              <div class="cell" *ngIf="hasGod" style="min-width: 50px;">
										              <span style="transform: scale(1.05); float: left; margin: -18px 0 0 0;"
										                    matTooltip="{{town.god}}">
						                        <div class="unit_icon40x40 {{town.god}}"></div>
						                      </span>
									              </div>
									              <div class="cell" *ngIf="hasWall" style="padding-top: 7px;">
										              <!--<span [outerHTML]="town.wall | HideNoLossPipe"></span>-->
										              <span *ngIf="town.wall!=null && town.wall!=''" class="build-cell" style="min-width: 70px;">
							                      <div class="building_icon40x40 wall" matTooltip="Wall: {{town.wall}}"></div>
											              <div>
												              <span [outerHTML]="town.wall | HideNoLossPipe"></span>
											              </div>
							                    </span>
									              </div>
									              <div class="cell" *ngIf="hasStonehail" style="padding-top: 7px;">
										              <span *ngIf="town.stonehail!=null && town.stonehail!=''" class="build-cell" style="">
							                      <div class="building_icon40x40 {{town.stonehail.building}}" matTooltip="Stonehail: {{town.stonehail.building}} {{town.stonehail.value}}"></div>
											              <div>
												              <span [outerHTML]="town.stonehail.value | HideNoLossPipe"></span>
											              </div>
							                    </span>
									              </div>
									              <div class="cell" *ngIf="hasSilver">
										              <span *ngIf="town?.silver">{{town?.silver?.replace('(+',' (+')}}</span>
									              </div>
									              <div class="cell hidden-xs hidden-sm" *ngIf="hasConquest">
										              <div *ngIf="town?.conquest_id && town?.conquest_id > 0">
											              <!--<a class="a-link-dialog" (click)="loadConquestDetails(town?.conquest_id)">View report <mat-icon style="opacity: 1; vertical-align: bottom;">launch</mat-icon></a>-->
											              <button class="gd-btn-2" (click)="loadConquestDetails(town?.conquest_id)">View report <mat-icon style="opacity: 1; vertical-align: bottom;">launch</mat-icon></button>
										              </div>
									              </div>
									              <!--<div class="cell" style="">-->
										              <!--<button *ngIf="!town.deleted || town?.deleted==false" name="open_bb" class="btn btn-danger" style=""-->
										                      <!--(click)="deleteIntel(town?.id); town.deleted = true;">-->
											              <!--<i class="fa fa-close"></i>&nbsp;Delete-->
										              <!--</button>-->
										              <!--<span *ngIf="town.deleted && town?.deleted==true" title="This record will be deleted within 24 hours.">-->
																		<!--<p style="font-size: 17px; margin: 0;" class="gd-secondary">Marked for deletion</p>-->
																		<!--<button name="open_bb" class="btn btn-primary btn-xs" style="margin-top: -6px;"-->
																		        <!--(click)="deleteIntelUndo(town?.id); town.deleted = false;">-->
																			<!--<i class="fa fa-arrow-left"></i>&nbsp;Undo-->
																		<!--</button>-->
																	<!--</span>-->
									              <!--</div>-->
								              </div>
							              </div>
						              </div>
					              </div>
				              </mat-tab>


				              <mat-tab class="history-chart" style="padding: 20px 0; overflow: hidden !important;">
					              <ng-template mat-tab-label>
						              <mat-icon style="opacity: 1; vertical-align: bottom;">speaker_notes</mat-icon>&nbsp;Notes &nbsp;
						              <div class="note-count">{{notes.length}}</div>
					              </ng-template>
					              <br/>
					              <div>
						              <h3 style='font-weight: 300; color: #304357;'>
							              <span class='world-title' style='color: #18BC9C;'>Town notes</span>
						              </h3>
						              <br/>
						              <div *ngIf="!notes.length || notes.length <= 0">
							              <div class="alert alert-warning text-center alert-gd-1">
								              <h2>There are no notes about this town</h2>
							              </div>
						              </div>
						              <div *ngIf="notes.length > 0" class="table intel-table" id="table_notes" style="text-align: left;">

							              <div class="row_custom header bg-gd-2" >
								              <div class="cell" style="width: 20%;">
									              Date
								              </div>
								              <div class="cell" style="width: 30%;">
									              Poster
								              </div>
								              <div class="cell" style="width: 50%;">
									              Note
								              </div>
								              <!--<div class="cell">-->
									              <!--Action-->
								              <!--</div>-->
							              </div>

							              <div class='row_custom' *ngFor="let note of notes" [style.opacity]="note.deleted?'0.3':'1'">
								              <div class="cell">
									              {{note.date}}
								              </div>
								              <div class="cell">
									              {{note.poster_name}}
								              </div>
								              <div class="cell">
									              {{note.message}}
								              </div>
								              <!--<div class="cell" style="margin: 5px 0;">-->
									              <!--<button name="open_bb" class="btn btn-danger btn-xs" style="" *ngIf="!note.deleted"-->
									                      <!--(click)="deleteNote(note?.note_id); note.deleted = true;">-->
										              <!--<i class="fa fa-close"></i>&nbsp;Delete-->
									              <!--</button>-->
									              <!--<span *ngIf="note.deleted">Deleted</span>-->
								              <!--</div>-->
							              </div>
						              </div>

					              </div>
				              </mat-tab>


				              <mat-tab class="history-chart" style="padding: 20px 0; overflow: hidden !important;">
					              <ng-template mat-tab-label>
						              <mat-icon style="opacity: 1; margin-top: -8px; font-weight: 900;">⚔</mat-icon>&nbsp;Conquests
					              </ng-template>

					              <app-conquest [embedded]="true" [params]="{type: 'town', world: world, id: id}"></app-conquest>

				              </mat-tab>
			              </mat-tab-group>
		              </div>
	              </div>

              </div>
            </div>
          </div>
        </div>
        <div *ngIf="noIntel && !loading">
          <div class="container">
            <div class="row">
              <br/>
              <br/>
              <div class="alert alert-danger text-center">
                <h3>No intel available for town <strong>{{townName}}</strong></h3>
              </div>
            </div>
          </div>
        </div>

      </div>

    </mat-card-content>
  </mat-card>

</div>