<div style="font-size: 18px; width: auto; min-width: 40vw; max-width: 800px;">
	<a (click)="dialogRef.close()" class="close"></a>
	<h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>I forgot my index key</h1>

	<div mat-dialog-content *ngIf="submitted==false || error !=''">
		<p class="gd-secondary">If you submit this form, you will receive a list of all indexes connected to your email address.</p>
		<p class="gd-primary">Note that this only works if you are the creator of the index!</p>
		<p class="gd-secondary">If you are not the owner of the index, ask the creator of the index for the key.</p>

		<div class="alert alert-gd-1 text-center" style="margin: 0 15px 15px 15px;">
			<p class="gd-primary">Enter the email address that was used to create the index.</p>

			<div class="container-fluid">

				<div class="row">
					<div class="col-xs-12 col-sm-10 col-sm-offset-1">
						<mat-form-field style="width: 100% !important;">
							<input autocomplete="email" [disabled]="loading" [ngModel]="contact_mail" (ngModelChange)="contact_mail=$event" matInput placeholder="Email address">
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div *ngIf="error!=''" class="alert alert-danger">
						{{error}}
					</div>
				</div>

				<div *ngIf="loading">
					<div class="alert alert-info" style="margin-bottom: 0;">
						<strong>Submitting request..</strong> This may take a few seconds
					</div>
				</div>
				<div *ngIf="!loading" fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">
					<button style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">
						Request index key overview
					</button>
				</div>

			</div>
		</div>

		<div class="row text-center" style="text-align: -webkit-center;">
			<re-captcha
				size="invisible" badge="inline"
				#captchaRef="reCaptcha"
				siteKey="{{recaptcha_key}}"
				(resolved)="$event && resolved($event)">
			</re-captcha>
		</div>

	</div>

	<div *ngIf="submitted==true && error ==''">
		<br/>
		<p>Your request was received successfully. You have received an email with your index keys <strong>(check your spam folder if needed)</strong>.</p>
		<br/>
	</div>

	<div mat-dialog-actions>
		<!--<button *ngIf="submitted==false || error != ''" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">-->
		<!--Send confirmation email-->
		<!--</button>-->
		<!--<button *ngIf="submitted==false" mat-button class="mat-raised-button" (click)="dialogRef.close()">-->
		<!--Close-->
		<!--</button>-->
		<button *ngIf="submitted==true" mat-button class="mat-raised-button mat-primary" (click)="dialogRef.close()">
			Close
		</button>
	</div>


</div>
