<div class="container" style="margin-top: 30px;">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12" style="float: none; margin: auto;">
      <div class=" alert text-center alert-gd-1" style="padding-bottom: 50px;">
        <h3>Contact us</h3>

	      <div *ngIf="submitted==false">
          <p>Please use this form to get in touch or drop us a line at admin@grepodata.com.</p>
          <br/>
          <div fxLayout="column" fxLayoutAlign="center center" style="width: 100% !important;">
            <mat-form-field style="width: 70% !important;">
              <textarea [ngModel]="contact_message" (ngModelChange)="contact_message=$event" required matInput placeholder="Message" rows="4"></textarea>
            </mat-form-field>
            <mat-form-field style="width: 70% !important;">
              <input [ngModel]="contact_name" (ngModelChange)="contact_name=$event" matInput placeholder="Name (optional)">
            </mat-form-field>
            <mat-form-field style="width: 70% !important;">
              <input autocomplete="email" [ngModel]="contact_mail" (ngModelChange)="contact_mail=$event" matInput placeholder="Email (optional)">
            </mat-form-field>
            <re-captcha
                size="invisible" badge="inline"
                #captchaRef="reCaptcha"
                siteKey="{{recaptcha_key}}"
                (resolved)="$event && resolved($event)">
            </re-captcha>
            <br/>
          </div>

          <div *ngIf="error!=''" class="alert alert-danger">
            <strong>Invalid input!</strong> {{error}}.
          </div>

          <div *ngIf="loading">
            <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
          </div>

        </div>

        <div *ngIf="submitted==true">
          <p>Thanks for reaching out! We will respond as soon as possible.</p>
        </div>

        <div *ngIf="submitted==false" style="float: right;">
          <a (click)="captchaRef.execute()" mat-button class="mat-raised-button bg-gd-2" style="font-size: 18px; color: white;">
            <span class="fa fa-send"></span> Send Message
          </a>
        </div>

        <div style="float: left;">
          <a mat-button style="font-size: 18px; color: gray;" routerLink="/">
            <span class="fa fa-backward"></span> Homepage
          </a>
        </div>
      </div>
    </div>
  </div>
</div>