<div style="font-size: 18px; max-height: 75vh; min-height: 40vh; overflow: hidden; min-width: 40vw; max-width: 90vw;">
    <a (click)="dialogRef.close()" class="close"></a>

    <!--<h1 class="mat-primary" style="text-align: center; color: #18BC9C; margin-top: 0px;" mat-dialog-title>Points gained by <a routerLink="/alliance/{{world}}/{{alliance_id}}">{{alliance_name}}</a> on {{date}}</h1>-->

		<div class="text-center" style="width: 100%;">
			<h2 mat-dialog-title>Points gained by <a routerLink="/alliance/{{world}}/{{alliance_id}}"><img src="../../assets/images/ally_ico.png" style="height: 28px; margin-top: -5px;"/> {{alliance_name}}</a> on <span class="gd-primary">{{date}}</span></h2>
		</div>

    <mat-progress-bar *ngIf="loading" mode="indeterminate" style="margin: 25px 0px;"></mat-progress-bar>


    <div mat-dialog-content style="overflow-y: auto; overflow-x: hidden; max-height: 85%; height: 85%; padding: 10px;">

        <div *ngIf="error">
            Unable to load data for this alliance.
        </div>

        <div *ngIf="!loading && !error" style="display: flex; align-content: center;">
            <div class="container-fluid">
	            <div class="row" style="overflow: hidden; max-width: 60vw; min-width: 60vw; width: 60vw;">
		            <div #overviewDay class="col-sm-12">
			            <div class="overview-container-scroll">
	                  <ngx-charts-bar-horizontal-2d
		                  [animations]="false"
	                    [view]="[overviewDay.offsetWidth, 120 + data.length * 40]"
	                    [scheme]="{domain: ['#ea6153', '#297fb9']}"
	                    [results]="data"
	                    [gradient]="false"
	                    [xAxis]="true"
	                    [yAxis]="true"
	                    [legend]="true"
	                    [showXAxisLabel]="true"
	                    [showYAxisLabel]="true"
	                    [roundDomains]="true"
	                    [barPadding]="1"
	                    [noBarWhenZero]="true"
	                    [groupPadding]="10"
	                    [showDataLabel]="true"
	                    [xAxisLabel]="'Score'"
	                    [yAxisLabel]="'Player'"
	                    (select)="onSelect($event)">
	                  </ngx-charts-bar-horizontal-2d>
                  </div>
                </div>
            </div>
        </div>
    </div>


</div>
