<app-search [compare]="true"></app-search>

<div style="width: 100% !important; background: #fff;">
	<app-advertorial></app-advertorial>
</div>

<div style="width: 100% !important;" (scroll)="clearTip()">

  <!--<div class="ticker-label">-->
    <!--Attack points (last hour):-->
  <!--</div>-->
  <div class="ticker-wrap" *ngIf="!mobile && !loadingDiffs && playerDiffs != ''">
    <div class="ticker">
      <div class="ticker__item" *ngIf="playerDiffs.att">
        <span class="item-red">Attack points in last update: &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngFor="let d of playerDiffs.att">
          {{d.name}} <span class="item-red">+{{d.diff | NumberFilter}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
        </span>
      </div>
      <div class="ticker__item" *ngIf="playerDiffs.def">
        <span class="item-blue">Defence points in last update: &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngFor="let d of playerDiffs.def">
          {{d.name}} <span class="item-blue">+{{d.diff | NumberFilter}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
        </span>
      </div>
      <div class="ticker__item" *ngIf="playerDiffs.att">
        <span class="item-red">Attack points in last update: &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngFor="let d of playerDiffs.att">
          {{d.name}} <span class="item-red">+{{d.diff | NumberFilter}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
        </span>
      </div>
      <div class="ticker__item" *ngIf="playerDiffs.def">
        <span class="item-blue">Defence points in last update: &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngFor="let d of playerDiffs.def">
          {{d.name}} <span class="item-blue">+{{d.diff | NumberFilter}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
        </span>
      </div>
      <div class="ticker__item" *ngIf="playerDiffs.att">
        <span class="item-red">Attack points in last update: &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngFor="let d of playerDiffs.att">
          {{d.name}} <span class="item-red">+{{d.diff | NumberFilter}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
        </span>
      </div>
      <div class="ticker__item" *ngIf="playerDiffs.def">
        <span class="item-blue">Defence points in last update: &nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngFor="let d of playerDiffs.def">
          {{d.name}} <span class="item-blue">+{{d.diff | NumberFilter}}</span> &nbsp;&nbsp;|&nbsp;&nbsp;
        </span>
      </div>
    </div>
  </div>

  <div class="scoreboard" id="pagehead" style="width: 100% !important;">
    <mat-card style="width: 100% !important; box-shadow: none !important;">
      <mat-card-title style="margin-top: 5px;">

        <!--<div style="margin-bottom: 5px; width: 100% !important;" *ngIf="nextUpdate != ''">-->
          <!--<app-advertorial></app-advertorial>-->
        <!--</div>-->

        <div class="container-fluid">
          <div class="row" id="timeline">

            <div class="col-12 col-sm-12 col-md-12 col-lg-6 scoreboard-title-container">
              <h2 style='font-weight: 300; color: #304357;display: flex;gap:2px;'>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>&nbsp;Daily</span><span class="d-none d-sm-block"> Grepolis</span> <span>scoreboard&nbsp;</span><span class='world-title' style='color: #18BC9C;'>{{world}} ({{worldName}})</span>
              </h2>
              <h3 style='font-weight: 300; color: #304357;'>
                Showing points gained <span class='world-title' style='color: #18BC9C;'>{{scoreboardDateInfo}}</span>
              </h3>
              <h4 *ngIf="nextUpdate != ''" style='font-weight: 300; color: #304357;' class="d-none d-sm-block">
                {{nextUpdate}}&nbsp;<i class="fa fa-history" aria-hidden="true"></i>
              </h4>
              <h4 *ngIf="!loadingPlayers && nextUpdate == ''" style='font-weight: 300; color: #304357;' class="d-none d-sm-block">
                <span class="label label-danger">You are viewing historic data</span> Go to <a class="a-link-dialog" routerLink="/points" [queryParams]="{world: world}">today</a>
              </h4>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right scoreboard-controls-container">

              <div class="row">
                <div class="col-12">
	                <mat-icon class="icon-margin input-icon"><div class="bg-flag flag-{{server}}"></div></mat-icon>
                  <mat-form-field class="input-server">
                    <mat-select placeholder="Server" [ngModel]="server" (ngModelChange)="updateWorlds($event)" #select>
                      <mat-option *ngFor="let s of servers" value="{{s}}">
	                      <div class="bg-flag flag-inline flag-{{s}}"></div>&nbsp;{{s}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>&nbsp;
                  <mat-form-field class="input-world">
                    <mat-select placeholder="World" [ngModel]="world" (ngModelChange)="setWorld($event)">
                      <mat-option *ngFor="let w of worlds" value="{{w.id}}">{{w.id}} ({{w.name}})</mat-option>
                    </mat-select>
                  </mat-form-field>&nbsp;
                  <mat-form-field class="input-date">
                    <input matInput (ngModelChange)="setDate($event)" [matDatepicker]="picker" [ngModel]="selectedDate" [min]="minDate" [max]="maxDate" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-12 noselect">
                  <mat-chip-list class="scoreboard-control-chips" style="float: right;" [multiple]="true" [selectable]="true" [disabled]="loadingPlayers">
                    <mat-chip style="cursor: pointer" class="btn-chip" (click)="prevDay()"><mat-icon matChipAvatar>chevron_left</mat-icon>Previous day</mat-chip>
                    <mat-chip style="cursor: pointer" class="btn-chip" *ngIf="nextUpdate == ''" (click)="nextDay()">Next day<mat-icon matChipRemove style="color: #fff; opacity: 1;">chevron_right</mat-icon></mat-chip>
                    <mat-chip style="cursor: pointer" class="btn-chip" *ngIf="nextUpdate == ''" (click)="today()">Today<mat-icon matChipRemove style="color: #fff; opacity: 1;">last_page</mat-icon></mat-chip>
                    <mat-chip style="cursor: pointer" class="btn-chip" *ngIf="nextUpdate != ''" (click)="refresh()">Refresh<mat-icon matChipRemove style="color: #fff; opacity: 1;">refresh</mat-icon></mat-chip>
                  </mat-chip-list>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-title>

      <mat-card-content style="width: 100% !important;">

        <hr/>

<!--        <app-alert type="error" title="Discord bot temporarily offline (July 29, 2022)" [dismissible]="false">-->
<!--          <p>-->
<!--            The GrepoData Discord bot is currently offline because it has exceeded the number of discord servers it can join.<br/>-->
<!--            <strong>Please help us by removing the bot from your old inactive Discord servers</strong>; this is a short term fix while we implement bot sharding as a permanent fix.-->
<!--          </p>-->
<!--        </app-alert>-->

        <div class="container-fluid text-center" id="player_scoreboard" style="width: 100% !important;">
          <div *ngIf="loadingPlayers" style="position: relative; top: -40px; height: 0px;">
            <br/><mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
          <h1 class="mat-title table-title d-none d-md-block">Players</h1>
          <div class="row" *ngIf="noticePlayer != ''">
            <div class="col-8 offset-2">
              <div class="alert alert-warning text-center">
                <strong>Not found</strong> {{noticePlayer}}.
              </div>
            </div>
          </div>

<!--          <app-alert type="error" title="Grepolis API Offline: Data Unavailable" *ngIf="server=='en'||server=='pt'" [dismissible]="false">-->
<!--            <h3>-->
<!--              The Grepolis API for the EN and PT servers is offline. We have to wait for Grepolis to fix the issue.<br/>-->
<!--              As a result, the scoreboard can not be updated and all players in this world will start to show as inactive.<br/>-->
<!--              We are sorry for the inconvenience, but there is nothing we (as a third party) can do about the issue.-->
<!--            </h3>-->
<!--          </app-alert>-->

	        <div style="display: flex; place-content: center; width: 100%;" [ngClass]="{'loading-overlay':loadingPlayers}">
	          <div style="max-width: 100%;"
	               #overviewContainer class="row d-none d-sm-block text-center"
	               *ngIf="!noPlayerData && playerData.overview && playerData.overview.length > 2"
	               [ngStyle]="{'width': (150*playerData.overview.length)+'px'}">
	            <ngx-charts-bar-vertical-stacked
	                    [view]="[overviewContainer.offsetWidth,140]"
	                    [scheme]="{domain: ['#ea6153', '#297fb9']}"
	                    [results]="data_default"
	                    [gradient]="false"
	                    [animations]="false"
	                    [xAxis]="true"
	                    [yAxis]="false"
	                    [legend]="false"
	                    [showXAxisLabel]="false"
	                    [showYAxisLabel]="true"
	                    [roundDomains]="true"
	                    [barPadding]="1"
	                    [xAxisLabel]="'Hour'"
	                    [yAxisLabel]="'Score'"
	                    (select)="onOverviewSelect($event)">
	            </ngx-charts-bar-vertical-stacked>
	          </div>
	        </div>
          <div class="row row-gap-5 mb-5" *ngIf="!noPlayerData">
            <div class="col-12">
              <h2>Players</h2>
            </div>
              <scoreboard-player-fighter-table
                [world]="playerData.world"
                [isLoading]="loadingPlayers"
                [attackerStatistics]="playerData.att"
                [defenderStatistics]="playerData.def">
              </scoreboard-player-fighter-table>
              <scoreboard-player-cities-table
                [world]="playerData.world"
                [isLoading]="loadingPlayers"
                [cityConquestStatistics]="playerData.con"
                [cityLossStatistics]="playerData.los">
              </scoreboard-player-cities-table>
              <div class="col-12">
                <h2>Alliances</h2>
              </div>
              <scoreboard-alliance-fighter-table
                [world]="playerData.world"
                [isLoading]="loadingPlayers"
                [attackerStatistics]="allianceData.att"
                [defenderStatistics]="allianceData.def">
              </scoreboard-alliance-fighter-table>
              <scoreboard-alliance-cities-table
                [world]="playerData.world"
                [isLoading]="loadingPlayers"
                [cityConquestStatistics]="allianceData.con"
                [cityLossStatistics]="allianceData.los">
              </scoreboard-alliance-cities-table>
              <scoreboard-alliance-changes-table
                [world]="playerData.world"
                [isLoading]="loadingPlayers"
                [changeStatistics]="allianceChangesData"
              ></scoreboard-alliance-changes-table>
          </div>
        </div>

	      <div class="text-center">
		      <h4 class="gd-secondary">Official data can have a delay of up to 120 minutes. All times are in the same timezone as the local Grepolis server.</h4>
	      </div>
      </mat-card-content>
    </mat-card>

  </div>

</div>


