//::ng-deep .ngx-charts {
//    text {
//        font-size: 18px !important;
//    }
//    .textDataLabel::first-letter {
//        color: #fff !important;
//    }
//}

#timeline {
    min-height: 100px;
    height: 100px;
}

.scoreboard-table {
    //padding-left: 8px !important;
    //padding-right: 8px !important;
    //padding-bottom: 15px !important;
  padding: 0 !important;
}

.score-expand {
  color: #5e7a92;
}
.score-expand:hover {
  cursor: pointer;
  text-decoration: underline;
}
//.score-expand::after {
//  content: "⭷";
//}
.expand-icon {
  width: 20px !important;
  padding: 0 !important;
}

.loading_cell {
  opacity: 1;
  animation: fade 2s infinite linear;
}

.loading-overlay {
  opacity: .5;
}

@keyframes fade {
  0%,100% { opacity: .5 }
  50% { opacity: 1 }
}

.search-row {

}
.search-cell {
    padding: 5px;
    background: #f6f6f6;

    input {
        width: 100%;
    }
}

.hidden-cell {
    display: none !important;
}

$duration: 130s;

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {

    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 3rem;
    background-color: rgba(#000, 0.85);
    padding-left: 80%;  // offset items to begin
    z-index: 1000;

}

//.ticker-label {
//    color: #ea6153;
//    position: fixed;
//    bottom: 0;
//    left: 0;
//    overflow: hidden;
//    height: 4rem;
//    //background-color: rgba(#000, 0.9);
//    z-index: 1001;
//    padding: 6px;
//    font-size: 2rem;
//    display: inline-block;
//
//}

.item-red {color: #ea6153;}
.item-blue {color: #2980b9;}

.ticker {

    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap; // display items in a line
    padding-right: 100%; // ensure items go before animations repeat (taken from parent due to inline-block)

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {

        display: inline-block;

        padding: 0 1.6rem;
        font-size: 1.6rem;
        color: white;

    }

}

@media (max-width: 1400px) {
  .scoreboard-title-container {
    h2 {
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 992px) {
  .scoreboard-title-container {
    text-align: center;
    margin-top: -10px;
  }
  .scoreboard-controls-container {
    text-align: center;
  }
  .scoreboard-control-chips {
    float: none !important;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  ::ng-deep .ngx-charts {
    text {
      font-size: 16px !important;
    }
    .textDataLabel::first-letter {
      color: #fff !important;
    }
  }
}

.filter-dropdown-btn {
  position: absolute;
  top: 28px;
  left: 30px;
  .rotated {
    transform: rotate(180deg);
  }
  span {
    position: absolute;
    left: 35px;
    width: 150px;
  }
}
.filter-dropdown-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.hour-diff-filter-container {
  background: #e5e5e5de;
  padding: 5px 15px;
  position: absolute;
  width: calc(100% - 30px);
}

.hour-diff-title {
  background: #e5e5e5;
  margin-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 5px;
  margin-top: 20px;

  h3 {
    margin: unset !important;
  }
}

::ng-deep .legend-label-text {
  color: black !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.diff-filter-alliance {
  margin-right: 10px;
}

.overview-container-scroll {
  min-height: 30vh !important;
  max-height: 60vh !important;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f1f1f1;
  padding-bottom: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.overview-container {
  background: #f1f1f1;
  padding: 15px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.map-container {
  width: 100%;
  //max-width: 100%;
  max-width: 1250px;
  min-height: 200px;
  max-height: 1000px;
  //border: 1px solid black;
  //border: 2px solid #009688;
  //background: whitesmoke;
  background: url("../../assets/images/m/bg.png");
  overflow: hidden;
  position: relative;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.map-overlay {
  background: linear-gradient(to left, whitesmoke 20%,whitesmoke 20%,whitesmoke 20%,#ffffff00 20%);
}

.map-controls {
  position: absolute;
  width: calc(80% - 15px);
}

.static-controls {
  position: absolute;
  z-index: 100;
  padding: 5px;
}

.nav-controls {
  width: 100%;
  height: 100%;
  position: absolute;
}

.map-nav {
  z-index: 99;
  position: absolute;
  mat-icon {
    font-size: 40px;
  }
  &.up {
    top: 0;
    width: 100%;
    height: 40px;
  }
  &.down {
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  &.right {
    right: 0;
    height: 100%;
    width: 40px;
    mat-icon {
      right: 15px;
      top: calc(50% - 20px);
      position: absolute;
    }
  }
  &.left {
    left: 0;
    height: 100%;
    width: 40px;
    mat-icon {
      left: 0;
      top: calc(50% - 20px);
      position: absolute;
    }
  }
}
.map-nav:hover {
  background: rgba(245, 245, 245, 0.3);
  cursor: pointer;
}

.events-list {
  width: 100%;
  min-height: 20px;
  border: none;
  border-radius: 7px;
  overflow: hidden;

  .event {
    height: 30px;

    padding: 0 10px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .event-date {
      color: #334254;
      margin-right: 10px;
      min-width: 80px;
    }

    .event-part.entity {
      color: #18BC9C;
    }

    .mat-icon {
      vertical-align: bottom;
    }
  }

  .event.odd {
    background: #fbfbfb !important;
  }

  a:hover {
    cursor: pointer;
  }
}

::ng-deep {
  .mat-select-min-line, .mat-form-field-autofill-control {
    text-shadow: 0 0 black !important;
    color: #2c3e50 !important;
    font-weight: 500 !important;
  }
}


.scoreboard {
  font-family: Montserrat !important;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player_ico {
  content:url("~assets/images/player_ico.png");
  height: 18px;
  margin-top: -3px;
  margin-right: 5px;
  display: none;
}
.ally_ico {
  content:url("~assets/images/ally_ico.png");
  height: 18px;
  margin-top: -3px;
  margin-right: 5px;
  display: none;
}
.gd-brown {
  font-size: 80% !important;
}

.txt-large {
  font-size: 34px;
  font-weight: 700;
}

.txt-md {
  font-size: 26px;
  font-weight: 500;
}

.txt-sm {
  font-size: 18px;
  font-weight: 300;
}

.txt-shadow {
  text-shadow: 0px 0px 10px #00000080;
}

.scoreboard-header {
  display: flex;
  //background: #18bc9b;
  border-radius: 7px;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  height: 140px;

  //background-color: rgba(211, 193, 215, 52%);
  //background-color: rgba(191, 183, 193, 34%);;
  background-color: rgba(255, 255, 255, 25%);;

  .title-text {
    color: #fff;
    font-weight: 900;
    text-shadow: 0 0 17px #3d1f5d;
  }

  .header-left {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .header-inputs {
    margin-bottom: -20px !important;
    text-shadow: unset !important;
  }
}

.title-container {
  display: flex;
  align-items: baseline;
  gap: 20px;
  .title-text {
    text-shadow: 0 0 20px #14141430;
  }
  .settings {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      color: #18bc9b;
    }
  }
}

.scoreboard-header-banner {
  //min-height: 200px;

  box-shadow: 0px 0px 10px 1px #18333330 !important;
  border-radius: 7px;

  margin: 0 8px 15px 8px !important;

  background-image: url("../../assets/images/scoreboard_banner.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.scoreboard-section {
  margin: 10px 40px;
}

.search-container {
  ::ng-deep {
    .top-container {
      margin: 0 8px 15px 8px !important;
      border-radius: 7px;
      box-shadow: 0px 0px 10px 1px #18333330 !important;
    }
  }
}

.sb-btn-primary {
  //padding: 8px 22px;
  //font-size: 125%;
  //border-radius: 20px;
  //.mat-icon {
  //  vertical-align: text-bottom !important;
  //}
}

.sb-table {
  box-shadow: 0px 0px 10px 1px #18333330 !important;
  border-radius: 7px;

  margin: 0 8px 15px 8px !important;

  .title {
    color: #ffffff;
    text-align: center;
    border-radius: 7px 7px 0 0;
    padding: 10px;

    border: 6px solid #ffffff61;
    border-bottom: none;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      position: absolute;
      right: 23px;
      top: 10px;

      img {
        height: 38px;
      }
    }

    .info {
      margin-right: 7px;
    }

    &.red {
      background: #ea6153;
    }
    &.blue {
      background: #2980b9;
    }
    &.green {
      background: #497949;
    }
    &.black {
      background: #233140;
    }
    &.default {
      background: rgb(130 149 169 / 13%);
      color: #334254;
      border: none;
      border-bottom: 1px solid #c3c3c3;
    }
  }
  .content {
    .row_custom {
      background: #fff !important;
      .cell:first-child {
        color: #d9d9d9 !important;
      }
      .cell:last-child, .score-expand {
        //opacity: .3 !important;
        font-family: "Roboto", sans-serif !important;
      }
    }
    .row_custom:nth-of-type(odd) {
      background: #fbfbfb !important;
    }
    .row_custom:hover {
      background: #f6f6f6 !important;
      .player_ico, .ally_ico {
        display: inline;
      }
    }
    &.about {
      padding: 0 20px;
      p {
        text-align: justify;
      }
    }
  }
  .footer {
    background: #f4f4f4;
    border-radius: 0 0 7px 7px;
    padding: 3px 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .input-wrapper {
      display: flex;
      align-items: baseline;
      gap: 5px;
    }
  }
}
.published-sieges {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;

  ::ng-deep {
    .conquest-title {
      //display: none !important;
      background: #c7e1f2 !important;
      //border: 6px solid #ffffff61 !important;
      border-bottom: none !important;
      border-radius: 0 !important;
    }
    .conquest-contents {
      box-shadow: none !important;
      margin-bottom: -7px;
      border-radius: 0 !important;
      background: #e9f2f8 !important;
    }
  }
}
.siege-towns-list {
  min-width: 170px;
  overflow-y: auto;
  background: #fff;
  box-shadow: 5px 0px 10px -6px #18333330 !important;
  //border-bottom-left-radius: 7px;
  max-height: 450px;
  direction: rtl;
  .siege-town {
    direction: ltr;
    font-family: Montserrat !important;
    background: #fff;
    padding: 5px;
    padding-bottom: 10px;
    &:hover {
      cursor: pointer;
      background: #e5e5e5 !important;
    }
    &.active {
      background: #c7e1f2 !important;
      border: 6px solid #ffffff61 !important;
      border-right: none !important;
    }
    div {
      margin-left: 10px;
      img {
        margin-top: -3px;
        margin-right: 3px;
      }
    }
    div:first-child {
      //margin-left: 0 !important;
    }
    &.hint {
      color: rgba(35, 49, 64, 0.15);
      text-align: center;
      padding: 20px 10px;
      display: flex;
      align-items: center;
      .mat-icon {
        //font-size: inherit;
        vertical-align: middle;
      }
    }
  }
  .siege-town:nth-of-type(odd) {
    background: #f5f5f5;
  }
}
.selected-siege {
  //padding: 20px;
  border: 7px solid #dcecf7;
  background: #e9f2f8 !important;
  //border-bottom-right-radius: 7px;
}
.percentage-bar {
  width: 0;

  //height: 5px;
  //margin-top: -5px;

  height: 20px;
  margin-top: -24px;

  &.red {
    background: rgba(234, 97, 83, 0.2);
  }
  &.blue {
    background: rgba(41, 128, 185, 0.1);
  }
}

::ng-deep .oversized .tick text[text-anchor='middle'] { transform: rotate(40deg); }

::ng-deep {
  .mat-select-panel {
    max-height: 400px !important;
  }
}

@media (max-width: 768px) {
  .scoreboard-section {
    margin: 10px !important;
  }
  .scoreboard-header {
    background-color: hsl(0deg 0% 100% / 74%) !important;
    justify-content: center !important;
  }
  .header-inputs {
    transform: scale(1.2) !important;
  }
  .percentage-bar {
    height: 15px;
    margin-top: -15px;
  }
}
