//::ng-deep .ngx-charts {
//    text {
//        font-size: 18px !important;
//    }
//    .textDataLabel::first-letter {
//        color: #fff !important;
//    }
//}

#timeline {
    min-height: 100px;
    height: 100px;
}

.scoreboard-table {
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-bottom: 15px !important;
}

.score-expand {
  color: #5e7a92;
}
.score-expand:hover {
  cursor: pointer;
  text-decoration: underline;
}
//.score-expand::after {
//  content: "⭷";
//}
.expand-icon {
  width: 20px !important;
  padding: 0 !important;
}

.search-row {

}
.search-cell {
    padding: 5px;
    background: #f6f6f6;

    input {
        width: 100%;
    }
}

.hidden-cell {
    display: none !important;
}

$duration: 130s;

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {

    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 3rem;
    background-color: rgba(#000, 0.85);
    padding-left: 80%;  // offset items to begin
    z-index: 1000;

}

//.ticker-label {
//    color: #ea6153;
//    position: fixed;
//    bottom: 0;
//    left: 0;
//    overflow: hidden;
//    height: 4rem;
//    //background-color: rgba(#000, 0.9);
//    z-index: 1001;
//    padding: 6px;
//    font-size: 2rem;
//    display: inline-block;
//
//}

.item-red {color: #ea6153;}
.item-blue {color: #2980b9;}

.ticker {

    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap; // display items in a line
    padding-right: 100%; // ensure items go before animations repeat (taken from parent due to inline-block)

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: $duration;
    animation-duration: $duration;

    &__item {

        display: inline-block;

        padding: 0 1.6rem;
        font-size: 1.6rem;
        color: white;

    }

}

@media (max-width: 1400px) {
  .scoreboard-title-container {
    h2 {
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 992px) {
  .scoreboard-title-container {
    text-align: center;
    margin-top: -10px;
  }
  .scoreboard-controls-container {
    text-align: center;
  }
  .scoreboard-control-chips {
    float: none !important;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  ::ng-deep .ngx-charts {
    text {
      font-size: 16px !important;
    }
    .textDataLabel::first-letter {
      color: #fff !important;
    }
  }
}

.overview-container-scroll {
  max-height: 60vh !important;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f1f1f1;
  padding-bottom: 15px;
}

.map-container {
  width: 100%;
  //max-width: 100%;
  max-width: 1250px;
  min-height: 200px;
  max-height: 1000px;
  border: 1px solid black;
  //border: 2px solid #009688;
  //background: whitesmoke;
  background: url("../../assets/images/m/bg.png");
  overflow: hidden;
  position: relative;
}

.map-overlay {
  background: linear-gradient(to left, whitesmoke 20%,whitesmoke 20%,whitesmoke 20%,#ffffff00 20%);
}

.map-controls {
  position: absolute;
  width: calc(80% - 15px);
}

.static-controls {
  position: absolute;
  z-index: 100;
  padding: 5px;
}

.nav-controls {
  width: 100%;
  height: 100%;
  position: absolute;
}

.map-nav {
  z-index: 99;
  position: absolute;
  mat-icon {
    font-size: 40px;
  }
  &.up {
    top: 0;
    width: 100%;
    height: 40px;
  }
  &.down {
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  &.right {
    right: 0;
    height: 100%;
    width: 40px;
    mat-icon {
      right: 15px;
      top: calc(50% - 20px);
      position: absolute;
    }
  }
  &.left {
    left: 0;
    height: 100%;
    width: 40px;
    mat-icon {
      left: 0;
      top: calc(50% - 20px);
      position: absolute;
    }
  }
}
.map-nav:hover {
  background: rgba(245, 245, 245, 0.3);
  cursor: pointer;
}