.alliance-cards {
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
}

.loading-overlay {
  opacity: 0.2;
  pointer-events: none !important;
}

mat-card-title {
  margin-bottom: 0px !important;
}

//player activity
.form-inline > * {
  margin:5px 3px;
}
