.alliance-cards {
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
}

.loading-overlay {
  opacity: 0.2;
  pointer-events: none !important;
}

mat-card-title {
  margin-bottom: 0px !important;
}

mat-tab-body .mat-tab-body-content {
  overflow-x: hidden !important;
}

.table {
  font-size: 16px !important;
}

.hidden-cell {
  display: none !important;
}
@media (min-width:820px) and (max-width:1279px) {
  .hidden-cell {
    display: table-cell !important;
  }
}
@media (min-width:1600px) {
  .hidden-cell {
    display: table-cell !important;
  }
}

//player activity
.form-inline > * {
  margin:5px 3px;
}
