<app-search [compare]="true" [detach_cdr]="true"></app-search>

<div style="padding: 1px; overflow-x: auto;">

  <div>
    <div id="pagehead"></div>
    <mat-card-content *ngIf="notFound===true">
      <div class="alert alert-warning text-center">
        <br/>
        <br/>
        <h3><strong>This alliance no longer exists!</strong> No alliance found with id {{id}} in world {{world}}</h3>
	      <p>Try the search function to find alliances.</p>
        <br/>
        <br/>
      </div>
    </mat-card-content>
    <mat-card-content *ngIf="!notFound">

      <div class="alliance-cards" style="margin-bottom: 0 !important;" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="5px">
        <mat-card class="dense-card" fxFlex="25">
          <div class="card-header bg-gd-1 text-center" style="padding-bottom: 20px !important;">
            <h1 class="gd-white entity-name">
	            <div class="icon-circle"><img style="height: 25px; margin-top: -5px;" src="../../assets/images/ally_ico.png"/></div> {{allianceName}}
            </h1>
	          <div *ngIf="loadingInfo || loadingHistory || loadingMembers" style="position: relative; top: 10px; height: 0px; margin: 0px -30px;">
		          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
	          </div>
          </div>


          <mat-card-content [ngClass]="{'loading-overlay': loadingInfo}">
            <table class="table table-no-more alliance-info">
              <tbody>
	              <tr>
		              <th>World</th>
		              <td><div class="bg-flag flag-inline flag-{{world.substr(0,2)}}"></div>&nbsp;
			              <a style="vertical-align: super;" routerLink="/points" [queryParams]="{world: world}">{{worldName}}&nbsp;({{world}})</a></td>
	              </tr>
	              <tr>
	                <th>Rank</th>
	                <td><a routerLink="/ranking/alliance/{{world}}/points/{{rank}}/{{id}}">{{rank}} <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon></a></td>
	              </tr>
	              <tr>
	                <th>Members</th>
	                <td style="padding-bottom: 0;">
		                <div style="position: absolute;">{{members}}</div>
		                <div *ngIf="!loadingInfo"
		                     title="Get a list of player names" style="float: right; margin-top: -5px;">
			                <mat-chip [selected]="true" (click)="openMailListPopup()">
				                <i class="fa fa-address-book-o"></i><span class="hidden-xs">&nbsp;&nbsp;Mail List</span>
			                </mat-chip>
		                </div>
	                </td>
	              </tr>
	              <tr>
	                <th>Towns</th>
	                <td>{{towns | NumberFilter}}</td>
	              </tr>
	              <tr>
	                <th>Points</th>
	                <td>{{points | NumberFilter}}</td>
	              </tr>
	              <tr>
	                <th>Attack points</th>
	                <td *ngIf="att">{{att | NumberFilter}}</td>
	                <td *ngIf="!att">0</td>
	              </tr>
	              <tr>
	                <th>Defence points</th>
	                <td *ngIf="def">{{def | NumberFilter}}</td>
		              <td *ngIf="!def">0</td>
	              </tr>
	              <tr *ngIf="hasIndex">
	                  <th>Town intelligence</th>
	                  <td>
	                      <a (click)="openIntelTab()" class="a-link">Browse intel <i class="fa fa-arrow-circle-right"></i></a>
	                  </td>
	              </tr>
              </tbody>
            </table>

            <br/>
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1 text-center">

                  <mat-expansion-panel hideToggle="true" [expanded]="compareOpened">
                    <mat-expansion-panel-header *ngIf="!compareOpened" class="gd-btn-1" (click)="addToCompare()">
                      <mat-panel-title class="gd-secondary" fxLayoutAlign="center center">
                        <mat-icon><i class="fa fa-plus"></i></mat-icon>&nbsp;&nbsp;Compare
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <h4 *ngIf="compareOpened" fxLayoutAlign="center center">
                      Currently comparing:
                    </h4>

                    <table class="table table-no-more">
                      <tbody>
                      <tr *ngFor="let a of comparedAlliances; let i = index;">
                        <th><a routerLink="/alliance" [queryParams]="{world: world, id: a.id}">{{a.name}}</a></th>
                        <td>
                          <i class="fa fa-trash" (click)="removeFromCompare(a.id, world)"></i>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                    <br/>
                    <button routerLink="/compare/alliance/{{world}}" class="gd-btn-1" style="height: 40px; width: 100%; overflow: hidden; text-overflow: ellipsis;">
                      View comparison &nbsp; <i class="fa fa-arrow-circle-right"></i>
                    </button>
                  </mat-expansion-panel>

                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>

        <mat-card class="dense-card" fxFlex="75" style="padding-bottom: 0px !important; padding-top: 10px !important;">
	        <div #infoTabs style="width: 100%;"></div>
          <mat-tab-group mat-stretch-tabs animationDuration="0ms" [selectedIndex]="tabsIndex"
                         (click)="cdr.detectChanges();" (selectedTabChange)="onTabClick($event)">
            <mat-tab style="padding: 20px 0; overflow: hidden;">
              <ng-template mat-tab-label>
                <mat-icon style="opacity: 1; vertical-align: bottom;">timeline</mat-icon>&nbsp;History
              </ng-template>
              <br/>
              <!--<mat-card-title>-->
                <!--<div fxLayout="row">-->
	                <!--<h3 style='font-weight: 700; color: #304357;'><span class='world-title' style='color: #18BC9C;'>Alliance history</span></h3>-->
                  <!--<mat-spinner style="margin-left: 30px;" *ngIf="loadingMembers" strokeWidth="3" [diameter]="30"></mat-spinner>-->
                <!--</div>-->
              <!--</mat-card-title>-->
              <mat-card-content [ngClass]="{'loading-overlay': loadingHistory}">
	              <mat-progress-bar style="margin-top: -10px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" *ngIf="loadingMembers" mode="indeterminate"></mat-progress-bar>
                <div *ngIf="historyError" class="alert alert-warning text-center alert-gd-1">
                  <h3>Unable to load history. Try again later.</h3>
                </div>
                <div class="ngx-chart-container" *ngIf="!firstRun && !historyError" (mousemove)="cdr.detectChanges();">
                  <ngx-charts-line-chart
                          [scheme]="colorScheme"
                          [results]="data_default"
                          [gradient]="gradient"
                          [xAxis]="showXAxis"
                          [yAxis]="showYAxis"
                          [legend]="showLegend"
                          [animations]="animations"
                          [showXAxisLabel]="showXAxisLabel"
                          [showYAxisLabel]="showYAxisLabel"
                          [xAxisLabel]="xAxisLabel"
                          [yAxisLabel]="yAxisLabel"
                          [autoScale]="autoScale">
                    <!--[view]="view"-->
                  </ngx-charts-line-chart>
                </div>
                <br/>
                <div *ngIf="!loadingHistory && (allianceHistoryJson.length > 25 || selectionChanged)" fxLayout="row" fxLayoutAlign="space-evenly center">
                  <div>
                    <mat-chip-list>
                      <mat-chip *ngIf="allianceHistoryJson.length >= 30" [selected]="dayRange==='30'" (click)="selectDayRange('30')">last 30 days</mat-chip>
                      <mat-chip *ngIf="allianceHistoryJson.length >= 90" [selected]="dayRange==='90'" (click)="selectDayRange('90')">last 90 days</mat-chip>
                      <mat-chip *ngIf="allianceHistoryJson.length > 30" [selected]="dayRange==='all'" (click)="selectDayRange('all')">All time</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </mat-card-content>
            </mat-tab>
	          <mat-tab style="overflow: hidden;">
		          <ng-template mat-tab-label>
			          <mat-icon style="opacity: 1; vertical-align: bottom;">watch_later</mat-icon>&nbsp;Activity<span class="hidden-xs">&nbsp;heatmap</span>
		          </ng-template>
		          <mat-card-content style="overflow: hidden;">
                <div style="text-align: center; margin-top: 40px;">
                  <h2 style='font-weight: 300; color: #304357;'><span class='world-title' style='color: #18BC9C;'>Sorry, the heatmap feature has been removed.</span></h2>
                  <h4><strong>Due to privacy concerns, the activity heatmap feature has been removed from GrepoData entirely.</strong><br/>
                    <br/>
                    Instead of the heatmap, we will now show the last time this player has been active. This is indicated by one of these labels on the left panel: <br/>
                  </h4>
                  <div style="display: inline-grid; font-size: 16px;">
                    <div style="display: inline-flex; margin-bottom: 5px;">
                      <div class="btn-success btn-xs">Active</div> &nbsp; Player has gained attack or town points within the last 24 hours.
                    </div>
                    <div style="display: inline-flex; margin-bottom: 5px;">
                      <div class="btn-warning btn-xs">Inactive</div> &nbsp; Player has gained attack or town points within the last 72 hours.
                    </div>
                    <div style="display: inline-flex;">
                      <div class="btn-danger btn-xs">Inactive</div> &nbsp; Player has not gained any attack or town points for at least 72 hours or more.
                    </div>
                  </div>
                </div>
		          </mat-card-content>
	          </mat-tab>
            <mat-tab style="overflow: hidden;">
              <ng-template mat-tab-label>
	              <mat-icon style="opacity: 1; vertical-align: bottom;">compare_arrows</mat-icon>&nbsp;
	              <span class="hidden-xs">Alliance changes</span>
	              <span class="hidden-md hidden-sm hidden-lg">Changes</span>
              </ng-template>
              <br/>
              <mat-card-content style="overflow: hidden;">
                <div *ngIf="playerAllianceChanges.length <= 0" class="alert alert-warning text-center alert-gd-1">
                  <h3>No alliance changes found.</h3>
                </div>
                <div class="table-container" *ngIf="playerAllianceChanges.length > 0">
                  <div class="table" id="player_changes_table" style="">
                    <div class="row_custom header default">
                      <div class="cell">Date</div>
                      <div class="cell">Player</div>
                      <div class="cell">Old alliance</div>
                      <div class="cell hidden-sm hidden-xs"></div>
                      <div class="cell">New alliance</div>
                      <div class="cell hidden-sm hidden-xs">Player rank</div>
                      <div class="cell hidden-md hidden-sm hidden-xs">Player points</div>
                    </div>

                    <div class="row_custom" *ngFor="let c of playerAllianceChanges; let i = index;">
                      <div class="cell">
                        {{c.date.date | Datex : "D MMM YYYY"}}
                        <br/>
                        {{c.date.date | Datex : "HH"}}:00
                      </div>

                      <div class="cell formatted-cell">
                        <a routerLink="/player" [queryParams]="{world: world, id: c.player_grep_id}">
                          <span class="diff-pos" *ngIf="c.new_alliance_grep_id==id">{{c.player_name}}</span>
                          <span class="diff-neg" *ngIf="c.old_alliance_grep_id==id">{{c.player_name}}</span>
                        </a>
                      </div>

                      <div class="cell formatted-cell">
                        <a routerLink="/alliance" [queryParams]="{world: world, id: c.old_alliance_grep_id}">
                          {{c.old_alliance_name}}
                        </a>
                      </div>
                      <div class="cell hidden-sm hidden-xs">
                        <span class="diff-pos" *ngIf="c.new_alliance_grep_id==id"><span class="fa fa-angle-double-right fa-2x"></span></span>
                        <span class="diff-neg" *ngIf="c.old_alliance_grep_id==id"><span class="fa fa-angle-double-right fa-2x"></span></span>
                      </div>
                      <div class="cell formatted-cell">
                        <a routerLink="/alliance" [queryParams]="{world: world, id: c.new_alliance_grep_id}">
                          {{c.new_alliance_name}}
                        </a>
                      </div>

                      <div class="cell hidden-sm hidden-xs">{{c.player_rank}}</div>
                      <div class="cell hidden-md hidden-sm hidden-xs">{{c.player_points | NumberFilter}}</div>
                    </div>
                  </div>
                </div>
	              <div>
		              <h3 style='font-weight: 700; color: #304357; height: 20px;'>
			              <a *ngIf="playerAllianceChanges.length >= 10" routerLink="/changes/alliance/{{world}}/{{id}}" style="color: #949494; right: 20px; position: absolute;">
				              <mat-icon style="opacity: 1; vertical-align: sub;" class="hidden-xs">launch</mat-icon> Show all changes
			              </a>
		              </h3>
	              </div>
              </mat-card-content>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  <mat-icon style="opacity: 1; vertical-align: bottom;">account_balance</mat-icon>&nbsp;
	              <span class="hidden-xs">Town intelligence</span>
	              <span class="hidden-md hidden-sm hidden-lg">Intel</span>
              </ng-template>
              <app-index-alliance *ngIf="bShowIntel && hasIndex" [world]="world" [id]="id" [embedded]="true"></app-index-alliance>
	            <h3 style="padding: 30px;" *ngIf="!bShowIntel && hasIndex"><a class="a-link-dialog" style="color: #334254 !important;" (click)="bShowIntel = true;">Load town intelligence..</a></h3>
	            <div *ngIf="!bShowIntel || !hasIndex" style="padding: 20px;">
		            <div class="container-fluid">
			            <div class="row">
				            <div class="col-xs-12 col-sm-8">
					            <div class="alert alert-gd-1 text-center">
						            <p>When you sign in with a GrepoData city indexer account, we will be able to show collected intelligence about this alliance here.</p>
						            <h3>
							            <a class="gd-primary a-link-dialog" routerLink="/indexer">
                            Sign in to your GrepoData account <mat-icon style="opacity: 1; vertical-align: bottom;" class="hidden-xs">launch</mat-icon>
							            </a>
						            </h3>
					            </div>
				            </div>
				            <div class="col-sm-4 hidden-xs">
					            <img class="lib-img" style="max-width: 100%; display: block;" src="../../assets/images/indexer_town_sm.png" alt="Grepolis town intel">
					            <h5 class="gd-secondary" style="float: right;">Images copyright © InnoGames GmbH</h5>
				            </div>
			            </div>
		            </div>
	            </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card>

      </div>

	    <!--TODO: alliance wars-->
	    <!--<div class="alliance-cards" style="" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="5px">-->
		    <!--<mat-card class="dense-card" fxFlex="100" style="padding-bottom: 0px !important; padding-top: 10px !important;">-->
			    <!--<mat-card-title>-->
				    <!--<div fxLayout="row">-->
					    <!--<h3 style='font-weight: 700; color: #304357;'><span class='world-title' style='color: #18BC9C;'>Alliance wars (conquests)</span></h3>-->
					    <!--<mat-spinner style="margin-left: 30px;" *ngIf="loadingWars" strokeWidth="3" [diameter]="30"></mat-spinner>-->
				    <!--</div>-->
			    <!--</mat-card-title>-->
			    <!--<mat-card-content>-->
				    <!--<div class="conquest-card-container">-->
					    <!--<div class="conquest-card" *ngFor="let war of allianceWars">-->
						    <!--<div class="war-title">-->
							    <!--<div class="title-left">{{allianceName}}</div>-->
							    <!--<div class="title-right"><a routerLink="/alliance" [queryParams]="{world: world, id: war?.alliance_id}">{{war?.alliance_name}}</a></div>-->
						    <!--</div>-->
						    <!--<div class="war-icon">-->
							    <!--<mat-icon style="font-weight: 900;">⚔</mat-icon>-->
						    <!--</div>-->
						    <!--<div class="war-score">-->
							    <!--<div class="score-left" ngClass="{{(war.towns_gained_from>=war.towns_lost_to) ? 'pos':'neg'}}">{{war?.towns_gained_from}}</div>-->
							    <!--<div class="score-right" ngClass="{{(war.towns_gained_from>=war.towns_lost_to) ? 'neg':'pos'}}">{{war?.towns_lost_to}}</div>-->
						    <!--</div>-->
					    <!--</div>-->
				    <!--</div>-->

			    <!--</mat-card-content>-->
		    <!--</mat-card>-->
	    <!--</div>-->

	    <!--<div style="margin: -5px 17px" *ngIf="!loadingInfo && (members > 20 || rank < 50)">-->
		    <!--<app-advertorial></app-advertorial>-->
	    <!--</div>-->

      <div class="alliance-cards" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="5px">

        <mat-card class="dense-card" fxFlex="60" fxFlex.gt-md="60" fxFlex.gt-xs="100">
          <mat-card-title>
            <div fxLayout="row">
	            <h3 style='font-weight: 700; color: #304357;'><span class='world-title' style='color: #18BC9C;'>Alliance members</span></h3>
            </div>
          </mat-card-title>
          <mat-card-content [ngClass]="{'loading-overlay': loadingMembers}">

	          <mat-progress-bar *ngIf="loadingMembers" mode="indeterminate" style="	margin: 0;"></mat-progress-bar>
            <div *ngIf="!loadingMembers && !membersError && allianceMembersData.members.length <= 0" class="alert alert-default alert-gd-1 text-center" style="margin-top: 10px;">
              <h3>This alliance no longer has any members</h3>
            </div>
            <p *ngIf="membersError">Unable to load alliance members at this time. Try again later.</p>
            <mat-tab-group animationDuration="0ms" mat-stretch-tabs *ngIf="!loadingMembers && !membersError && allianceMembersData.members.length > 0"
                           (selectedTabChange)="activeMemberTabChange($event)" (click)="cdr.detectChanges();">
              <mat-tab>
                  <ng-template mat-tab-label>
                      <mat-icon style="opacity: 1; vertical-align: bottom;">timeline</mat-icon>&nbsp;
	                  <span class="hidden-xs">Player points</span>
	                  <span class="hidden-md hidden-sm hidden-lg">Points</span>
                  </ng-template>
                <br/>
	              <div class="table-container">
	                <div class="table" id="alliance_members_table_points" style="">
	                  <div class="row_custom header default">
		                  <div class="cell hidden-xs">#</div>
	                    <div class="cell">Rank</div>
	                    <div class="cell sticky-cell">Player</div>
	                    <div class="cell">Activity</div>
	                    <div class="cell">Points</div>
	                    <div *ngFor="let date of allianceMembersData.dates; let i = index;" class="cell">
	                      {{date | Datex : "D MMM"}}
	                    </div>
	                  </div>

	                  <div class="row_custom" *ngFor="let m of allianceMembersData.members; let i = index;">
		                  <div class="cell hidden-xs">{{i+1}}</div>
	                    <div class="cell">{{m.rank}}</div>
	                    <div class="cell formatted-cell sticky-cell">
                        <a routerLink="/player" [queryParams]="{world: world, id: m.id}">{{m.name}}</a>
                      </div>
                      <div class="cell">
                        <app-player-activity [hours_inactive]="m.hours_inactive" [tooltip]="'basic'" [player_name]="m.name" [show_active]="true"></app-player-activity>
                      </div>
	                    <div class="cell formatted-cell">{{m.points | NumberFilter}}</div>
	                    <div *ngFor="let h of m.history.slice().reverse(); let i = index;" class="cell">
	                      <a routerLink="/points" [queryParams]="{world: world, date: h.date}">
	                        <span [innerHTML]="h.points | DiffFilter"></span>
	                      </a>
	                    </div>
	                  </div>
	                </div>
	              </div>
              </mat-tab>
              <mat-tab>
                  <ng-template mat-tab-label>
                      <mat-icon style="margin-top: -8px; font-weight: 900;">⚔</mat-icon>&nbsp;
	                  <span class="hidden-xs">Attack points</span>
	                  <span class="hidden-md hidden-sm hidden-lg">Attacking</span>
                  </ng-template>
                <br/>
	              <div class="table-container">
	                <div class="table" id="alliance_members_table_att" style="">
	                  <div class="row_custom header">
		                  <div class="cell hidden-xs">#</div>
		                  <div class="cell"><span class="hidden-xs hidden-sm">Attack rank</span><span class="hidden-md hidden-lg">Rank</span></div>
	                    <div class="cell sticky-cell">Player</div>
	                    <div class="cell">Attack points</div>
	                    <div *ngFor="let date of allianceMembersData.dates; let i = index;" class="cell{{i<2 ? ' hidden-cell' : ''}}">
	                      {{date | Datex : "D MMM"}}
	                    </div>
	                  </div>

	                  <div class="row_custom" *ngFor="let m of allianceMembersData.members; let i = index;">
		                  <div class="cell hidden-xs">{{i+1}}</div>
	                    <div class="cell">{{m.att_rank}}</div>
	                    <div class="cell formatted-cell sticky-cell"><a routerLink="/player" [queryParams]="{world: world, id: m.id}">{{m.name}}</a></div>
	                    <div class="cell">{{m.att | NumberFilter}}</div>
	                    <div *ngFor="let date of allianceMembersData.dates; let i = index;" class="cell{{i<2 ? ' hidden-cell' : ''}}">
	                      <span *ngFor="let h of m.history; let i = index;">
	                        <a routerLink="/points" [queryParams]="{world: world, date: h.date}">
	                          <span *ngIf="h.date==date" [outerHTML]="h.att | DiffFilter"></span>
	                        </a>
	                      </span>
	                    </div>
	                  </div>
	                </div>
                </div>
              </mat-tab>
              <mat-tab>
                  <ng-template mat-tab-label>
                      <mat-icon style="margin-top: -8px; font-weight: 900;">🛡</mat-icon>&nbsp;
	                  <span class="hidden-xs">Defence points</span>
	                  <span class="hidden-md hidden-sm hidden-lg">Defending</span>
                  </ng-template>
                <br/>
	              <div class="table-container">
	                <div class="table" id="alliance_members_table_def" style="">
	                  <div class="row_custom header blue">
		                  <div class="cell hidden-xs">#</div>
		                  <div class="cell"><span class="hidden-xs hidden-sm">Defence rank</span><span class="hidden-md hidden-lg">Rank</span></div>
	                    <div class="cell sticky-cell">Player</div>
	                    <div class="cell">Defence points</div>
	                    <div *ngFor="let date of allianceMembersData.dates; let i = index;" class="cell{{i<2 ? ' hidden-cell' : ''}}">
	                      {{date | Datex : "D MMM"}}
	                    </div>
	                  </div>

	                  <div class="row_custom" *ngFor="let m of allianceMembersData.members; let i = index;">
		                  <div class="cell hidden-xs">{{i+1}}</div>
	                    <div class="cell">{{m.def_rank}}</div>
	                    <div class="cell formatted-cell sticky-cell"><a routerLink="/player" [queryParams]="{world: world, id: m.id}">{{m.name}}</a></div>
	                    <div class="cell">{{m.def | NumberFilter}}</div>
	                    <div *ngFor="let date of allianceMembersData.dates; let i = index;"  class="cell{{i<2 ? ' hidden-cell' : ''}}">
	                      <span *ngFor="let h of m.history; let i = index;">
	                        <a routerLink="/points" [queryParams]="{world: world, date: h.date}">
	                          <span *ngIf="h.date==date" [outerHTML]="h.def | DiffFilter"></span>
	                        </a>
	                      </span>
	                    </div>
	                  </div>
	                </div>
                </div>
              </mat-tab>
              <mat-tab>
                  <ng-template mat-tab-label>
                      <mat-icon style="opacity: 1; vertical-align: bottom;">account_balance</mat-icon>&nbsp;
	                  <span class="hidden-xs">Towns gained</span>
	                  <span class="hidden-md hidden-sm hidden-lg">Towns</span>
                  </ng-template>
                <br/>
	              <div class="table-container">
	                <div class="table" id="alliance_members_table_towns" style="">
	                  <div class="row_custom header green">
	                    <div class="cell hidden-xs">#</div>
	                    <div class="cell">Rank</div>
	                    <div class="cell sticky-cell">Player</div>
	                    <div class="cell">Towns</div>
	                    <div *ngFor="let date of allianceMembersData.dates; let i = index;" class="cell{{i<2 ? ' hidden-cell' : ''}}">
	                      {{date | Datex : "D MMM"}}
	                    </div>
	                  </div>

	                  <div class="row_custom" *ngFor="let m of allianceMembersData.members; let i = index;">
	                    <div class="cell hidden-xs">{{i+1}}</div>
	                    <div class="cell">{{m.rank}}</div>
	                    <div class="cell formatted-cell sticky-cell"><a routerLink="/player" [queryParams]="{world: world, id: m.id}">{{m.name}}</a></div>
	                    <div class="cell">{{m.towns}}</div>
	                    <div *ngFor="let date of allianceMembersData.dates; let i = index;" class="cell{{i<2 ? ' hidden-cell' : ''}}">
	                      <span *ngFor="let h of m.history; let i = index;">
	                        <a routerLink="/points" [queryParams]="{world: world, date: h.date}">
	                          <span *ngIf="h.date==date" [outerHTML]="h.towns | DiffFilter"></span>
	                        </a>
	                      </span>
	                    </div>
	                  </div>
	                </div>
                </div>
              </mat-tab>
            </mat-tab-group>

          </mat-card-content>
        </mat-card>

        <mat-card class="dense-card" fxFlex="40">
          <mat-card-content>

	          <app-conquest [embedded]="true" [params]="{type: 'alliance', world: world, id: id}"></app-conquest>

          </mat-card-content>
        </mat-card>

      </div>

	    <br/>

    </mat-card-content>
  </div>

</div>
