<div>

  <div class="decorated-card">
    <div class='decorated-card-header decorated-title'>
      <h1>
        Showing alliance changes for: &nbsp; &nbsp; &nbsp;
        <i *ngIf="type == 'town'" class="fa fa-university gd-secondary" aria-hidden="true"></i>
        <i *ngIf="type == 'player'" class="fa fa-user gd-secondary" aria-hidden="true"></i>
        <i *ngIf="type == 'alliance'" class="fa fa-group gd-secondary" aria-hidden="true"></i>
        &nbsp;
        <a *ngIf="type!='town'" routerLink="/{{type}}/{{world}}/{{id}}"><span class="gd-secondary">{{name}}</span></a>
        <span *ngIf="type=='town'" class="gd-secondary">{{name}}</span>
      </h1>
      <h3>
        World: <span class='world-title gd-secondary'><div class="bg-flag flag-inline-title flag-{{world.substr(0,2)}}"></div>&nbsp;<a class="a-link-dialog" style="color: #334254 !important;" routerLink="/points" [queryParams]="{world: world}">{{world}}</a></span>
      </h3>
    </div>
    <app-search></app-search>
    <div style="margin-top: 5px;" class="decorated-card-content">


      <div>

        <mat-card>
          <mat-card-title>
            <div *ngIf="!loading">
              <div class="row" *ngIf="!noData">
                <div class="col-xs-12 col-sm-4 col-md-6" style="padding-top: 20px;">
                  <h3 class="mat-title table-title" style="margin-bottom: 0px; text-align: left;">Browse alliance changes:
                    <a *ngIf="type!='town'" routerLink="/{{type}}/{{world}}/{{id}}"><span class="gd-primary">{{name}}</span></a>
                    <span *ngIf="type=='town'" class="gd-primary">{{name}}</span>
                  </h3>
                </div>

                <div class="col-xs-12 col-sm-8 col-md-6" *ngIf="!noData && data.length>=size">
                  <mat-paginator [length]="count"
                                 [pageSize]="size"
                                 [pageIndex]="from/size"
                                 [pageSizeOptions]="[10, 30, 50, 100, 200]"
                                 (page)="paginatorEvent($event)">
                  </mat-paginator>
                </div>
              </div>
            </div>
            <mat-progress-bar *ngIf="loading" mode="indeterminate" style="margin: 25px 0px;"></mat-progress-bar>
          </mat-card-title>
          <mat-card-content>

            <div *ngIf="noData && !loading">
              <div class="container">
                <div class="row">
                  <br/>
                  <br/>
                  <div class="alert alert-warning text-center alert-gd-1">
                    <h3>We have not yet detected any changes for this {{type}}.</h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-container" *ngIf="!noData && (!loading || data.length>0)">
              <div class="table" id="table_alliance_changes" style="">
                <div class="row_custom header dark">
                  <div class="cell">Player</div>
                  <div class="cell">Old alliance</div>
                  <div class="cell hidden-xs"> </div>
                  <div class="cell">New alliance</div>
                  <div class="cell hidden-xs">Time</div>
                </div>

                <div class="row_custom" *ngFor="let p of data; let i = index;">
                  <div class="cell formatted-cell">
                    <a routerLink="/player" [queryParams]="{world: world, id: p.player_grep_id}">{{p.player_name}}</a>
                    <br/>
                    {{p.player_points | NumberFilter}} points - rank {{p.player_rank}}
                  </div>
                  <div class="cell formatted-cell">
                    <span *ngIf="p.old_alliance_grep_id != 0">
                      <a routerLink="/alliance" [queryParams]="{world: world, id: p.old_alliance_grep_id}">{{p.old_alliance_name}}</a>
                      <br/>
                      rank {{p.old_alliance_rank}}
                    </span>
                    <span *ngIf="p.old_alliance_grep_id == 0" class="diff-null">
                      None
                    </span>
                  </div>
                  <div class="cell hidden-xs">
                    <i class="fa fa-arrow-right" aria-hidden="true" ngClass="{{type=='alliance'&&p.old_alliance_grep_id==id?'diff-neg':'diff-pos'}}"></i>
                  </div>
                  <div class="cell formatted-cell">
                    <span *ngIf="p.new_alliance_grep_id != 0">
                      <a routerLink="/alliance" [queryParams]="{world: world, id: p.new_alliance_grep_id}">{{p.new_alliance_name}}</a>
                      <br/>
                      rank {{p.new_alliance_rank}}
                    </span>
                    <span *ngIf="p.new_alliance_grep_id == 0" class="diff-null">
                      None
                    </span>
                  </div>
                  <div class="cell hidden-xs">
                    {{p.date.date | Datex : "D MMM ~HH:mm"}}
                  </div>
                </div>

              </div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

    </div>
  </div>

</div>