<div style="font-size: 18px; width: auto; max-width: 800px; min-width: 50vw;">
	<a (click)="close()" class="close" *ngIf="building==false"></a>
	<h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>
		<span *ngIf="submitted==false && building!=true">Create a new team</span>
		<span *ngIf="submitted==false && building==true">Creating team..</span>
		<span *ngIf="submitted==true && building!=true">Team created successfully!</span>
	</h1>

	<!--<div mat-dialog-content *ngIf="login_required" style="width: 100%;">-->
	<!--<app-login [embedded]="true" [embeddedCallback]="login_callback"></app-login>-->
	<!--</div>-->
	<!--<div mat-dialog-content *ngIf="!login_required && submitted==false && building==false" style="width: 100%;">-->

	<div mat-dialog-content *ngIf="submitted==false && building==false" style="width: 100%;">
		<p>Submit this form to create a new city indexer team.</p>
		<p class="gd-primary"><strong>After creating a team, you can invite your allies to join.</strong></p>
		<br/>

		<div class="alert alert-gd-1 text-center" style="margin: 0 0 15px 0;">

			<div class="container-fluid">

				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<mat-form-field style="margin-right: 15px; width: 70% !important;">
							<mat-select placeholder="Server" [ngModel]="server" (ngModelChange)="updateWorlds($event)" #select>
								<mat-option *ngFor="let s of servers" value="{{s}}">
									<div class="bg-flag flag-inline flag-{{s}}"></div>&nbsp;{{s}}
								</mat-option>
							</mat-select>
						</mat-form-field>
						<mat-icon class="icon-margin" *ngIf="server" style="display: contents; width: calc(30% - 15px) !important;">
							<div class="bg-flag flag-inline flag-{{server}}" style="vertical-align: middle;"></div>
						</mat-icon>
					</div>

					<div class="col-xs-12 col-sm-8">
						<mat-form-field style="margin-right: 10px; width: 100% !important;">
							<mat-select placeholder="Select a world" [ngModel]="world" required (ngModelChange)="world = $event">
								<mat-option *ngFor="let w of worlds" value="{{w.id}}">{{w.id}} ({{w.name}})</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<mat-form-field style="width: 100% !important;">
							<input autocomplete="off" style="width: 320px !important;" [ngModel]="index_name" (ngModelChange)="index_name=$event" required matInput placeholder="Enter a name for your team (e.g. your alliance name)">
						</mat-form-field>
					</div>
				</div>

				<br/>

				<div class="row">
					<div *ngIf="error!=''" class="alert alert-danger">
						<strong>{{error}}</strong>
					</div>
				</div>
			</div>

			<div fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">
				<button *ngIf="submitted==false && building==false" style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">
					Create team
				</button>
			</div>

		</div>

	</div>

	<div class="alert alert-gd-1" *ngIf="building==true">
		<br/>
		<br/>
		<p class="text-center">This may take a few seconds</p>
		<div class="gd-spinner">
			<div class="blob top"></div>
			<div class="blob bottom"></div>
			<div class="blob left"></div>

			<div class="blob move-blob"></div>
		</div>
	</div>

	<div *ngIf="submitted==true && createError == ''">
		<app-alert type="success" title="Your new team has been created." [dismissible]="false">
			<h5>
				All reports that you index in world <strong><span [outerHTML]="createdIndex.world | WorldNamePipe"></span></strong> will now be added to this team.
				<br/>
			</h5>
      <div *ngIf="createdIndex.share_link && createdIndex.share_link != 'Unauthorized' && !clickedShare">
        <div class="row">
          <div class="col-xs-12 gd-share-link-container">
            <br/>
            <h5 style="margin-bottom: 0;"><strong>Tip:</strong> send this link to your allies to give them access to this team:</h5>
            <br/>
            <div class="row invite-link-container" (click)="copyLink()">
              <input #shareLink
                     [ngClass]="{ 'copied': copied }"
                     [disabled]="true"
                     class="col-xs-9 col-sm-8 col-md-7 col-lg-7 ur share-link-actual"
                     type="url"
                     value="https://grepodata.com/invite/{{createdIndex.key}}{{createdIndex.share_link}}"
                     id="siegeShareUrl"
                     aria-describedby="inputGroup-sizing-default"
                     style="height: 40px; font-size: 20px !important; color: #009688; font-weight: 900;">
              <button class="cpy" (click)="copyLink()"><i class="fa fa-clone"></i> Copy</button><span class="message" *ngIf="copied"> Link copied!</span>
            </div>
          </div>
        </div>
      </div>
		</app-alert>
		<br/>
		<button *ngIf="createdIndex.key" class="btn btn-primary mr-1" (click)="showShareDialog()">Invite users <mat-icon>group_add</mat-icon></button>
		<button *ngIf="createdIndex.key" class="btn btn-secondary mr-1" style="float: right;" routerLink="/profile/team/{{createdIndex.key}}">Go to team overview <mat-icon>launch</mat-icon></button>
	</div>

	<div *ngIf="submitted==true && createError != ''">
		<app-alert type="error" title="Unable to create team.">
			<h5>{{createError}}	</h5>
		</app-alert>
	</div>

	<div class="row text-center" style="text-align: -webkit-center;" *ngIf="building!=true">
		<re-captcha
			size="invisible"
			#captchaRef="reCaptcha"
			siteKey="{{recaptcha_key}}"
			(resolved)="$event && createNewIndex($event)">
		</re-captcha>
	</div>


</div>
