::ng-deep .custom-selected {
  a {
    background: #18BC9C !important;
    border-radius: 4px !important;
    color: #ffffff !important;
  }
  mat-icon {
    color: #ffffff !important;
  }
}

.unicode-icon {
  width: 24px !important;
  margin-right: 8px !important;
}

.a-menu-item {
  margin: -5px 0 5px !important;
}

@media (max-width:768px) {
  .sidebar-list-item {
    margin-top: -10px;

    a {
      height: 35px !important;
    }
  }
}

