<div style="font-size: 18px; max-width: 900px;" *ngIf="action == 'reset'">
  <a (click)="dialogRef.close()" class="close"></a>
  <h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>Reset index owners</h1>

  <div mat-dialog-content *ngIf="submitted == false || error != ''">
    <p class="gd-secondary">Confirm your email address to reset the index owners. <strong>You will receive an email to confirm this action.</strong></p>
    <p class="gd-secondary">This action will erase current owner data. Afterward, index some new reports to determine the new owner.</p>
    <br/>


    <!--<div style="display: flex; flex-direction: column;">-->
    <div class="alert alert-gd-1 text-center" style="margin: 0 15px 15px 15px;">

	    <p class="gd-primary">Enter the email address that was used to create this index.</p>

	    <div class="container-fluid">

		    <div class="row">
			    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
				    <mat-form-field style="width: 100% !important;">
					    <input autocomplete="email" [disabled]="loading" [ngModel]="contact_mail" (ngModelChange)="contact_mail=$event" required matInput placeholder="Email address">
				    </mat-form-field>
			    </div>
		    </div>

		    <br/>

		    <div class="row">
			    <div *ngIf="error!=''" class="alert alert-danger">
				    {{error}}
			    </div>
		    </div>
	    </div>

		  <div *ngIf="!loading" fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">
			  <button *ngIf="submitted==false || error != ''" style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">
				  Send confirmation email
			  </button>
		  </div>

	    <div *ngIf="loading">
		    <div class="alert alert-info" style="margin-bottom: 0;">
			    <strong>Submitting request..</strong> This may take a few seconds
		    </div>
	    </div>

    </div>
  </div>

	<div *ngIf="submitted==false || error != ''" class="row text-center" style="text-align: -webkit-center;">
		<re-captcha
			size="invisible" badge="inline"
			#captchaRef="reCaptcha"
			siteKey="{{recaptcha_key}}"
			(resolved)="$event && resolved($event)">
		</re-captcha>
	</div>

  <div *ngIf="submitted==true && error ==''">
    <br/>
	  <p class="gd-secondary">Your request was received successfully: click the link in the email you received to confirm the action<br/>
		  <strong>(check your spam folder if needed)</strong>.</p>
    <br/>
  </div>

  <div mat-dialog-actions>
    <!--<button *ngIf="submitted==false || error != ''" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">-->
      <!--Send confirmation email!-->
    <!--</button>-->
    <!--<button *ngIf="submitted==false" mat-button class="mat-raised-button" (click)="dialogRef.close()">-->
      <!--Close-->
    <!--</button>-->
    <button *ngIf="submitted==true" mat-button class="mat-raised-button mat-primary" (click)="dialogRef.close()">
      Close
    </button>
  </div>


</div>

<div style="font-size: 18px;" *ngIf="action == 'exclude'">
  <a (click)="dialogRef.close()" class="close"></a>
  <h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>Remove index owner: {{alliance_name}}</h1>

  <div mat-dialog-content *ngIf="submitted==false || error !=''">
    <p class="gd-secondary">Confirm your email address to remove <span class="gd-primary">{{alliance_name}}</span> from the list of owners.</p>
	  <p class="gd-secondary">After submitting this form, you will receive an email to confirm this action.</p>

	  <div class="alert alert-gd-1 text-center" style="margin: 0 15px 15px 15px;">
		  <p class="gd-primary">Enter the email address that was used to create this index.</p>

		  <div class="container-fluid">

			  <div class="row">
				  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
					  <mat-form-field style="width: 100% !important;">
						  <input autocomplete="email" [disabled]="loading" [ngModel]="contact_mail" (ngModelChange)="contact_mail=$event" matInput placeholder="Email address">
					  </mat-form-field>
				  </div>
			  </div>

			  <div class="row">
				  <div *ngIf="error != ''" class="alert alert-danger">
					  {{error}}
				  </div>
			  </div>

			  <div *ngIf="!loading" fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">
				  <button style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">
					  Send confirmation email
				  </button>
			  </div>

			  <div *ngIf="loading">
				  <div class="alert alert-info" style="margin-bottom: 0;">
					  <strong>Submitting request..</strong> This may take a few seconds
				  </div>
			  </div>

		  </div>
	  </div>

	  <div class="row text-center" style="text-align: -webkit-center;">
		  <re-captcha
			  size="invisible"
			  badge="inline"
			  #captchaRef="reCaptcha"
			  siteKey="{{recaptcha_key}}"
			  (resolved)="$event && resolved($event)">
		  </re-captcha>
	  </div>

	  <br/>

  </div>
  <div *ngIf="submitted==true && error ==''">
    <br/>
    <p class="gd-secondary">Your request was received successfully: click the link in the email you received to confirm the action<br/>
	    <strong>(check your spam folder if needed)</strong>.</p>
    <br/>
  </div>

  <div mat-dialog-actions>
    <!--<button *ngIf="submitted==false || error != ''" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">-->
      <!--Send confirmation email!-->
    <!--</button>-->
    <!--<button *ngIf="submitted==false" mat-button class="mat-raised-button" (click)="dialogRef.close()">-->
      <!--Cancel-->
    <!--</button>-->
    <button *ngIf="submitted==true" mat-button class="mat-raised-button mat-primary" (click)="dialogRef.close()">
      Close
    </button>
  </div>

</div>

<div style="font-size: 18px; width: auto; min-width: 40vw; max-width: 800px;" *ngIf="action == 'include'">
  <a (click)="dialogRef.close()" class="close"></a>

  <h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>Add new index owner</h1>

  <div mat-dialog-content *ngIf="submitted==false || error != ''">
    <p class="gd-secondary">Complete the form to add a new owner.</p>
    <br/>

    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Find an alliance to add</ng-template>

          <div style="position: relative;width: 100%;background: #18BC9C;color: #fff;z-index: 11;min-width: 60px;height: 50px;float: right;overflow: hidden;-webkit-transition: width 0.3s;-moz-transition: width 0.3s;transition: width 0.3s;-webkit-backface-visibility: hidden;margin: 2px 0;">
            <form>
              <input autocomplete="off" class="sb-search-input" placeholder="Search alliance name..." type="search" value="" name="search" id="search-alliances" (keyup)="searchAlliances($event)" style="position: absolute;top: 0;right: 0;border: none;outline: none;background: #f3f3f3;width: 100%;height: 49px;margin: 0;z-index: 10;padding: 15px 55px 15px 15px;font-family: inherit;font-size: 20px;color: #2c3e50;">
              <input class="sb-search-submit" type="button" value="" style="width: 50px;height: 50px;display: block;position: absolute;right: 0;top: 0;padding: 0;margin: 0;line-height: 50px;text-align: center;cursor: pointer;opacity: 0;color: transparent;border: none;outline: none;z-index: -1;background: #fff;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';filter: alpha(opacity=0);">
              <span class="sb-icon-search" (click)="doSearchAlliances()" style="width: 50px;height: 50px;display: block;position: absolute;right: 0;top: 0;padding: 0;margin: 0;line-height: 50px;text-align: center;cursor: pointer;color: #fff;background: #18BC9C;z-index: 90;font-size: 22px;font-family: 'Montserrat';speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;-webkit-font-smoothing: antialiased;">
                            <i class="fa fa-group"></i>
                        </span>
            </form>
          </div>

          <!--Alliance results-->
          <mat-progress-bar *ngIf="searching" mode="indeterminate"></mat-progress-bar>
          <div *ngIf="searched">
            <hr>
            <br/>
            <br/>
            <div *ngIf="alliances?.length < 1 && !searching" class="text-center">
              <h3>No alliances found for your search <span class="gd-primary">'{{allianceInput}}'</span></h3>
            </div>
            <div *ngIf="!searching" class="table" id="search_output_alliances" style="">
              <div class="row_custom header default">
                <div class="cell custom-cell">Alliance name</div>
                <div class="cell hidden-sm">Rank</div>
                <div class="cell">Members</div>
                <div class="cell" style="min-width: 100px;">Action</div>
              </div>

              <div *ngFor="let alliance of alliances" class="row_custom">
                <div class="cell custom-cell">
                  <a routerLink="/alliance" [queryParams]="{world: alliance?.world, id: alliance?.id}">{{alliance?.name}}</a>
                </div>
                <div class="cell hidden-sm">
                  {{alliance?.members}}
                </div>
                <div class="cell">
                  {{alliance?.rank}}
                </div>
                <!--<div class="cell">-->
                  <!--{{alliance?.points | NumberFilter}}-->
                <!--</div>-->
                <!--<div class="cell hidden-sm">-->
                  <!--{{alliance?.towns}}-->
                <!--</div>-->
                <div class="cell">
                  <!--<button mat-button matStepperNext>Add alliance</button>-->
                  <button class="btn btn-success" style="overflow: hidden; text-overflow: ellipsis; margin: 5px 0;" (click)="selectAlliance(alliance?.id, alliance?.name, stepper)">
                    <i class="fa fa-plus"></i> Add
                  </button>
                </div>
              </div>


            </div>
          </div>

        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Confirm your email address</ng-template>
          <div *ngIf="alliance_id != '' && alliance_name != ''">
            <p class="gd-secondary">Confirm your email address to add <span class="gd-primary">{{alliance_name}}</span> to the list of owners.</p>
            <p class="gd-secondary">After submitting this form, you will receive an email to confirm this action.</p>
            <!--<div class="alert alert-warning">-->
              <!--<p class="gd-secondary"><i class="fa fa-exclamation-triangle"></i> Please use the same address that was used while creating this index.</p>-->
            <!--</div>-->

	          <div class="alert alert-gd-1 text-center" style="margin: 0 15px 15px 15px;">

		          <p class="gd-primary">Enter the email address that was used to create this index.</p>

		          <div class="container-fluid">

			          <div class="row">
				          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
					          <mat-form-field style="width: 100% !important;">
						          <input autocomplete="email" matInput placeholder="Email address" formControlName="secondCtrl">
					          </mat-form-field>
				          </div>
			          </div>

			          <div class="row">
				          <div *ngIf="error != ''" class="alert alert-danger">
					          <strong>Error processing request</strong> {{error}}
				          </div>
			          </div>

			          <br/>

			          <div *ngIf="!loading" fxLayout="column" fxLayoutAlign="center" style="width: 100% !important;">
				          <button *ngIf="submitted==false || error != ''" style="font-size: 22px; padding: 8px; width: 100%;" mat-button class="mat-raised-button mat-primary" (click)="captchaRef.execute()">
					          Send confirmation email
				          </button>
			          </div>

			          <div *ngIf="loading">
				          <div class="alert alert-info" style="margin-bottom: 0;">
					          <strong>Submitting request..</strong> This may take a few seconds
				          </div>
			          </div>

		          </div>
	          </div>

	          <div *ngIf="submitted==false || error != ''" class="row text-center" style="text-align: -webkit-center;">
	            <re-captcha
	                size="invisible"
	                badge="inline"
	                #captchaRef="reCaptcha"
	                siteKey="{{recaptcha_key}}"
	                (resolved)="$event && resolved($event)">
	            </re-captcha>
	          </div>

	          <div>
		          <br/>
		          <button [disabled]="loading" mat-button class="mat-raised-button bg-gd-2 gd-white" matStepperPrevious>
			          <i class="fa fa-arrow-left"></i> Back to alliance select
		          </button>
	          </div>

          </div>

          <div *ngIf="alliance_id == '' || alliance_name == ''">
            <h4>Select an alliance in the previous step to continue..</h4>

            <button mat-button class="mat-raised-button bg-gd-2 gd-white" matStepperPrevious>
              <i class="fa fa-arrow-left"></i> Back
            </button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>

  </div>

  <div *ngIf="submitted==true && error == ''">
    <br/>
	  <p class="gd-secondary">Your request was received successfully: click the link in the email you received to confirm the action<br/>
		  <strong>(check your spam folder if needed)</strong>.</p>
    <br/>
  </div>

  <div mat-dialog-actions>
    <!--<button *ngIf="submitted==false || error != ''" mat-button class="mat-raised-button mat-primary" (click)="sendRequest()">-->
    <!--Remove alliance from owners-->
    <!--</button>-->
    <!--<button *ngIf="submitted==false" mat-button class="mat-raised-button" (click)="dialogRef.close()">-->
      <!--Cancel-->
    <!--</button>-->
    <button *ngIf="submitted==true" mat-button class="mat-raised-button mat-primary" (click)="dialogRef.close()">
      Close
    </button>
  </div>


</div>