<div style="font-size: 18px; width: auto; max-width: 50vw; min-width: 50vw; min-height: 40vh; max-height: 70vh; height: auto;">
  <a (click)="dialogRef.close()" class="close"></a>
  <h1 class="mat-primary" style="color: #18BC9C; margin-top: 0px;" mat-dialog-title>Siege list</h1>

	<div class="report-container container-fluid">

		<div class="row">

			<div class="col-xs=12 text-center" *ngIf="loading">
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
				<strong>Loading siege list..</strong>
			</div>

			<div class="col-xs-12" *ngIf="!loading && error">
				<h2>Sorry, we can not load the siege list for this index at the moment. try again later.</h2>
			</div>

			<div class="col-xs-12" style="padding: 0 !important;" *ngIf="!loading && !error">
				<div class="conquests-container container-fluid">
					<div class="conquests-list row" style="margin: 0 !important;">

						<div class="conquest-item col-xs-12" *ngFor="let conquest of sieges" style="max-width: 100%; !important; padding-bottom: 20px;">
							<div class="conquest-contents" style="max-width: 100%; !important;">
								<div class="col-xs-12 text-center conquest-title">
									<strong>
										<a routerLink="/indexer/town/{{key}}/{{world}}/{{conquest?.town_id}}">
											<img src="../../assets/images/town_ico.png"/>&nbsp;{{conquest.town_name}}
										</a>
										<span *ngIf="conquest.player_name!='' || conquest.alliance_name!=''">(</span>
										<span *ngIf="conquest.player_name!=''"><a routerLink="/indexer/player/{{key}}/{{world}}/{{conquest?.player_id}}">
											        <img src="../../assets/images/player_ico.png"/>&nbsp;{{conquest.player_name}}
										        </a></span>
										<span *ngIf="conquest.alliance_name!=''"><span *ngIf="conquest.player_name!=''">, </span>
											        <a routerLink="/indexer/alliance/{{key}}/{{world}}/{{conquest?.alliance_id}}">
											        <img src="../../assets/images/ally_ico.png"/>&nbsp;{{conquest.alliance_name}}
										        </a></span>
										<span *ngIf="conquest.player_name!='' || conquest.alliance_name!=''">)</span>
									</strong>
								</div>
								<div class="col-xs-12 conquest-belligerents">
									<div class="row">
										<div class="col-xs-12 text-center" style="position: absolute;">
											<div><strong>{{conquest.last_attack_date | Datex : "D MMM YYYY"}}</strong></div>
											<mat-icon style="font-weight: 900;">⚔</mat-icon>
										</div>
										<div class="col-xs-6 text-left left att">
											Attacking
											<div *ngFor="let bell of conquest.belligerent_all">
												<a routerLink="/indexer/alliance/{{key}}/{{world}}/{{bell.alliance_id}}">
													<img src="../../assets/images/ally_ico.png"/>&nbsp;{{bell.alliance_name}}
												</a>
											</div>
										</div>
										<div class="col-xs-6 text-right right def">
											Siege lead by
											<div *ngIf="conquest.belligerent_player_name != ''">
												<a routerLink="/player" [queryParams]="{world: world, id: conquest.belligerent_player_id}">
													{{conquest.belligerent_player_name}}&nbsp;<img src="../../assets/images/player_ico.png"/>
												</a>
											</div>
											<div *ngIf="conquest.belligerent_alliance_name != ''">
												<a routerLink="/alliance" [queryParams]="{world: world, id: conquest.belligerent_alliance_id}">
													{{conquest.belligerent_alliance_name}}&nbsp;<img src="../../assets/images/ally_ico.png"/>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 conquest-losses">
									<div class="row">
										<div class="col-xs-12 text-center">
											<strong>Losses</strong> (after {{conquest.num_attacks_counted}} attacks)
										</div>
										<div class="col-xs-6 text-left left att">
											<div class="unit-row">
												<div class="unit-icon-md" *ngFor="let unit of objectKeys(conquest.total_losses_att)" title="{{unit}}">
													<div class="unit_icon40x40 {{unit}}"><span class="unit-val">{{conquest.total_losses_att[unit]}}</span></div>
												</div>
											</div>
										</div>
										<div class="col-xs-6 text-right right def">
											<div class="unit-row" style="float: right;">
											        <span *ngFor="let unit of objectKeys(conquest.total_losses_def)">
												        <div class="unit-icon-md" *ngIf="conquest.total_losses_def[unit] > 20 || conquest.total_losses_def.length <= 5 || unit=='colonize_ship'" title="{{unit}}">
													        <div class="unit_icon40x40 {{unit}}"><span class="unit-val">{{conquest.total_losses_def[unit]}}</span></div>
												        </div>
											        </span>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-12 conquest-result">
									<div class="">
										<div class="text-left" style="float: left; padding: 3px 0;">
											<strong>Result:&nbsp;</strong>
											<span *ngIf="conquest.cs_killed">siege broken by attackers</span>
											<span *ngIf="!conquest.cs_killed && !conquest.new_owner_player_id">unresolved</span>
											<span *ngIf="!conquest.cs_killed && conquest.new_owner_player_id">Successful conquest by defenders</span>
										</div>
										<div class="text-right" style="float: right;">
											<a class="a-link-dialog" (click)="loadConquestDetails(conquest)">Detailed report <mat-icon style="opacity: 1; vertical-align: bottom;">launch</mat-icon></a>
										</div>
									</div>
								</div>


							</div>
						</div>

					</div>
				</div>

			</div>

		</div>

	</div>

</div>
