<div id="pagehead" style="height: 100%;">

	<div class="no-index-container">
		<mat-card class="no-index-card decorated-card main-card">
			<mat-card-title class='decorated-card-header-secondary decorated-title header'>
				<h1 class="title">
					<strong class="gd-secondary">USERSCRIPT:</strong>
          ENEMY CITY INDEXER
				</h1>
				<h4 class="gd-tertiary hidden-xs subtitle">Collect and share intelligence with your own private team</h4>
			</mat-card-title>
			<mat-card-content>

        <div style="margin-top: -110px;">
          <app-login-register></app-login-register>
        </div>

        <div class="container hidden-xs hidden-sm">
          <br/>
          <br/>

          <div class="row bs-wizard" style="border-bottom:0;">

            <div class="col-xs-3 bs-wizard-step complete" matTooltip="An account is required to collect and share enemy city intelligence">
              <div class="text-center bs-wizard-stepnum">Step 1</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a class="bs-wizard-dot"></a>
              <a class="bs-wizard-pulsate"></a>
              <div class="bs-wizard-info text-center"><strong>Create</strong><span class="hidden-xs hidden-sm hidden-md"> a GrepoData account</span><span class="hidden-lg"> an account</span></div>
            </div>

            <div class="col-xs-3 bs-wizard-step" matTooltip="The userscript adds in-game functionality and links to your GrepoData account"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Step 2</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a class="bs-wizard-dot inactive"></a>
              <div class="bs-wizard-info text-center"><strong>Join</strong> a <span class="hidden-xs hidden-sm hidden-md">GrepoData </span><strong>Team</strong></div>
            </div>

            <div class="col-xs-3 bs-wizard-step" matTooltip="Upload new reports while playing the game by clicking the 'Index +' button on forum and inbox reports"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Step 3</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a class="bs-wizard-dot inactive"></a>
              <div class="bs-wizard-info text-center"><strong>Install</strong> the <a href="https://api.grepodata.com/script/indexer.user.js" target="_blank">userscript <span class="fa fa-download"></span></a></div>
            </div>

            <div class="col-xs-3 bs-wizard-step" matTooltip="Create a team and invite your allies to share the collected intel"><!-- complete -->
              <div class="text-center bs-wizard-stepnum">Step 4</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a class="bs-wizard-dot inactive"></a>
              <div class="bs-wizard-info text-center">Index <strong>reports</strong> or share <strong>commands</strong></div>
            </div>

          </div>
        </div>

				<br/>
				<br/>


        <div class="container" *ngIf="stats != '' && show_stats">
          <div class="col-xs-12 text-center">
            <h2 #databaseStats style="font-family: Montserrat !important;" class="gd-primary">
              Usage Statistics
              <a class="a-link" style="color:#6d6d6d" routerLink="/analytics">
                <mat-icon style="opacity: 1; vertical-align: middle;">launch</mat-icon>
              </a>
            </h2>
            <br/>
            <div class="" *ngIf="show_stats">
              <div class="">
                <div class="col-xs-12" style="margin-left: -12px;">
                  <ngx-charts-number-card
                    [scheme]="colorScheme"
                    [results]="stats_data"
                    [cardColor]="cardColor"
                    [valueFormatting]="formatStatValue"
                    (select)="viewDetails()"
                  >
                  </ngx-charts-number-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>


        <div class="container">
          <div class="col-xs-12 text-center">
            <br/>
            <h2 style="font-family: Montserrat !important;" class="gd-primary">
              City Indexer Preview
            </h2>
            <img class="img-thumbnail" src="../../assets/images/indexer_overview.png?v=1" alt="GrepoData City Indexer Team Overivew">
            <img class="img-thumbnail" src="../../assets/images/indexer_operations.png?v=1" alt="GrepoData City Indexer Team Operations">
            <img class="img-thumbnail" src="../../assets/images/indexer.png?v=1" alt="GrepoData City Indexer My Intel">
          </div>
        </div>

        <br/>
        <br/>
        <br/>

				<!--FaQ-->
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
							<mat-card class="decorated-card">
								<mat-card-title class='decorated-card-header-secondary decorated-title text-center' style="margin-bottom: 0px;">
									<h3><i class="fa fa-question-circle"></i> Frequently asked questions</h3>
								</mat-card-title>
								<mat-card-content class="decorated-card-content" style="border: 1px solid #138F77;">
									<br/>
									<app-faq></app-faq>
								</mat-card-content>
							</mat-card>
						</div>
					</div>
				</div>

        <br/>

				<br/>
				<br/>
				<div class="container text-center">
					<div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
						<button (click)="scrollTop()" style="font-size: 30px; padding: 10px; width: 100%;" mat-button class="mat-raised-button mat-primary btn-no-index">
							Sign up today!
						</button>
					</div>
				</div>
				<br/>
				<br/>

			</mat-card-content>
		</mat-card>
	</div>

</div>
