@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
        primary: #18bc9c
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GrepodataFrontend-primary: mat-palette($mat-teal);
$GrepodataFrontend-accent: mat-palette($mat-teal, 500, 900, A100);

// The warn palette is optional (defaults to red).
$GrepodataFrontend-warn: mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$GrepodataFrontend-theme: mat-light-theme($GrepodataFrontend-primary, $GrepodataFrontend-accent, $GrepodataFrontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($GrepodataFrontend-theme);

@import "../node_modules/bootstrap/scss/bootstrap";

/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f8f8f8;
}

.loading-bar {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.table-container {
  margin: 0 5px;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table__thead {
  background-color: #eee;
}

.table__th {
  color: #9eabb4;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  border: 0 !important;
  padding: 15px 8px;

  &:hover {
    color: #01b9d1;
  }
}

.table-row {
  border-bottom: 1px solid #e4e9ea;
  background-color: #fff;
}

.table--select-all {
  width: 18px;
  height: 18px;
  padding: 0 !important;
  border-radius: 50%;
  border: 2px solid #becad2;
}
.table-row__td {
  padding: 12px !important;
  vertical-align: middle !important;
  color: #53646f;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  line-height: 18px !important;
  border: 0 !important;
}

.table-row__info {
  display: inline-block;
  padding-left: 12px;
  vertical-align: middle;
}

.table-row__name {
  color: #53646f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px;
}

.table-row__small {
  color: #9eabb4;
  font-weight: 300;
  font-size: 12px;
}

.search-rows {
  app-search-row {
    height: 50px;

    &:nth-of-type(2n) {
      .row {
        height: 50px;
        background-color: #ffffff;
      }
    }

    &:nth-of-type(2n + 1) {
      .row {
        height: 50px;
        background-color: #f9f9f9;
      }
    }
  }
}

.alert-gd-1 {
  background-color: #fafafa;
  border: 2px solid #cdcdcd;
  color: #334254 !important;

  h1, h2, h3 {
    margin-top: 0px; color: #18BC9C
  }
  p {
    color: #334254 !important;
  }
}

@media screen and (max-width: 991px) {
  .table__thead {
    display: none;
  }

  .table__tbody {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .table-row {
    display: inline-block;
    border: 1px solid #e4e9ea;
    background-color: #fff;
    width: calc(33.3% - 13px);
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .table-row__img {
    width: 42px;
    height: 42px;
    margin-bottom: 10px;
  }

  .table-row__td:before {
    content: attr(data-column);
    color: #9eabb4;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
  }

  .table-row__info {
    display: block;
    padding-left: 0;
  }

  .table-row__td {
    display: block;
    text-align: center;
    padding: 8px !important;
  }
  .table-row--red {
    background-color: #fff2f2;
  }
  .table__select-row {
    display: none;
  }

  .table-row--overdue {
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(0%);
    height: 4px;
  }
}

@media screen and (max-width: 680px) {
  .table-row {
    width: calc(50% - 13px);
  }
}

@media screen and (max-width: 480px) {
  .table-row {
    width: 100%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
