<div mat-dialog-content style="min-width: 90%; min-height: 70%;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<a (click)="dialogRef.close()" class="close"></a>
				<h2 class="gd-secondary">User list for team <span class="gd-primary"><mat-icon style="opacity: 1; vertical-align: sub; font-size: 40px; margin-right: 10px;">account_balance</mat-icon>&nbsp;{{index.name}}</span></h2>

				<div class="alert alert-gd-1">
					<h5 *ngIf="!loading_users && !updating_roles">These users have access to your team. You can manage their access rights here.</h5>

					<mat-progress-bar *ngIf="loading_users || updating_roles" style="margin-top: 8px; z-index: 122222;" mode="indeterminate"></mat-progress-bar>

					<app-alert type="error" title="Unable to update user" *ngIf="user_error!=''" [dismissible]="false">
						<h4>{{user_error}}</h4>
					</app-alert>

					<app-alert type="success" title="User removed" *ngIf="user_removed!=''">
						<h4 class="gd-secondary">User <span class="gd-primary">{{user_removed}}</span> has been removed from this team.</h4>
					</app-alert>

					<div class="text-center" *ngIf="!loading_users">
						<table class="table">
							<thead>
							<tr>
								<th scope="col" class="text-center">#</th>
								<th scope="col" class="text-center">GrepoData username</th>
								<th scope="col" class="text-center" matTooltip="Remove a user to deny their read access to this team">Can read intel</th>
								<th scope="col" class="text-center" matTooltip="Default role for new members: these users can index new reports and add town notes">Can add intel</th>
								<th scope="col" class="text-center" matTooltip="Team admins can change the index settings. They can also share the team with new users or remove users from the team.">Can manage team settings</th>
								<th scope="col" class="text-center" matTooltip="Team owners have full control over the team and its settings.">Is team owner</th>
								<th scope="col" class="text-center" matTooltip="When you remove a user, they will no longer be able to read the intel in this team">Remove user</th>
							</tr>
							</thead>
							<tbody>
							<tr *ngFor="let user of users; let i = index;" [ngClass]="{'highlighted-user':user.user_id===my_id}">
								<td>
									{{i+1}}
								</td>
								<td class="gd-primary">
									<i class="fa fa-user" ></i>
									<!--<img src="../../assets/images/grepodata_icon.ico" style="vertical-align: bottom;"/>-->
									&nbsp;{{user.username}}
								</td>
								<td matTooltip="Read only: remove a user to deny their read access on this team">
									<mat-checkbox [checked]="true" disabled="true"></mat-checkbox>
								</td>
								<td matTooltip="Member: these users can index new reports and add town notes"
								>
									<mat-checkbox
										[checked]="[ROLE_OWNER, ROLE_ADMIN, ROLE_WRITE].includes(user.role)"
										(click)="toggleUserRole(user, ROLE_WRITE)"
										[disabled]="updating_roles || user.user_id === my_id || ((user.role == ROLE_ADMIN || user.role == ROLE_OWNER) && my_role != '' && my_role != ROLE_OWNER)">
									</mat-checkbox>
								</td>
								<td matTooltip="Admin: team admins can manage other users and delete intel. They can also share the team with new users."
								>
									<mat-checkbox
										[checked]="[ROLE_OWNER, ROLE_ADMIN].includes(user.role)"
										(click)="toggleUserRole(user, ROLE_ADMIN)"
										[disabled]="updating_roles || user.user_id === my_id || (my_role != '' && my_role != ROLE_OWNER)">
									</mat-checkbox>
								</td>
								<td
									matTooltip="Owner: team owners have full control over the team and its settings."
								>
									<mat-checkbox
										[checked]="[ROLE_OWNER].includes(user.role)"
										(click)="toggleUserRole(user, ROLE_OWNER)"
										[disabled]="updating_roles || user.user_id === my_id || (my_role != '' && my_role != ROLE_OWNER)">
									</mat-checkbox>
								</td>
								<td matTooltip="When you remove a user, they will no longer be able to read the intel in this team">
									<button (click)="removeUser(user)"
									        class="btn btn-danger"
									        [disabled]="updating_roles || user.user_id === my_id || ((user.role == ROLE_ADMIN || user.role == ROLE_OWNER) && my_role != '' && my_role != ROLE_OWNER)">
										Remove user
									</button>
								</td>
							</tr>
							<tr>
								<td></td>
								<td>
									<button mat-button class="mat-focus-indicator mat-raised-button bg-gd-1 text-white mat-button mat-button-base" (click)="showShareDialog()">
										Invite a new user <mat-icon>group_add</mat-icon>
									</button>
								</td>
								<td colspan="5"></td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div mat-dialog-actions class="dialog-action">-->
	<!--<div class="container-fluid">-->
		<!--<div class="row">-->
			<!--<div class="col-xs-12">-->
				<!--<button mat-button class="mat-focus-indicator mat-raised-button bg-gd-1 text-white mat-button mat-button-base" (click)="showShareDialog()">-->
					<!--Invite a new user <mat-icon>group_add</mat-icon>-->
				<!--</button>-->
				<!--&lt;!&ndash;<button mat-button class="mat-focus-indicator mat-raised-button bg-gd-1 text-white mat-button mat-button-base" (click)="close()" style="float: right;">Apply changes</button>&ndash;&gt;-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
