<!--<div *ngIf="hide_search" class="show-search-btn" (click)="showSearch()">-->
<!--<div class="show-search-btn" (click)="showSearch()">-->
  <!--<span class="fa fa-search gd-primary" aria-hidden="true"></span> Search-->
<!--</div>-->

<!--Search-->
<div class="top-container" *ngIf="!hide_search" (click)="cdr.detectChanges()" [ngClass]="{'search-shadow': !searching_players && !searching_alliances}">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px">
    <mat-card fxFlex [ngClass]="(secondary==true)?'search-secondary search':'search'">
      <mat-card-content>

        <div [ngClass]="(secondary==true)?'container':'container-fluid'">

          <div class="row">
            <!--<div *ngIf="compare" class="col-xs-12 text-center">-->
              <!--<h2 style='font-weight: 300; color: #304357;'>-->
                <!--<i class="fa fa-compress" aria-hidden="true"></i>-->
                <!--Search players or alliances to compare them-->
              <!--</h2>-->
            <!--</div>-->
            <div class="col-xs-6 search-group" *ngIf="!(mobile && searching_alliances)">
              <div id="sb-search-players" class="sb-search">
                <form>
                  <input autocomplete="off" class="sb-search-input" placeholder="Search players..." type="search" value="" name="search" id="search-players" (keyup)="searchPlayers($event)">
                  <input class="sb-search-submit" type="button" value="">
                  <span class="sb-icon-search" (click)="doSearchPlayers()"><i class="fa fa-user" ></i></span>
                  <mat-progress-bar *ngIf="!mobile && searching_players && loading" class="searching-loading" mode="indeterminate"></mat-progress-bar>
                </form>
              </div>
            </div>
            <div class="col-xs-6 search-group" *ngIf="!(mobile && searching_players)">
              <div id="sb-search-alliances" class="sb-search">
                <form>
                  <input autocomplete="off" class="sb-search-input" placeholder="Search alliances..." type="search" value="" name="search" id="search-alliances" (keyup)="searchAlliances($event)">
                  <input class="sb-search-submit" type="button" value="">
                  <span class="sb-icon-search" (click)="doSearchAlliances()"><i class="fa fa-group" ></i></span>
                  <mat-progress-bar *ngIf="!mobile && searching_alliances && loading" class="searching-loading" mode="indeterminate"></mat-progress-bar>
                </form>
              </div>
            </div>
          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--Results-->
<div class="" *ngIf="!hide_search && (searching_players || searching_alliances)" (click)="cdr.detectChanges()">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="5px">
    <mat-card fxFlex [ngClass]="(secondary==true)?'search-secondary':''" style="padding: 0 20px 20px 20px !important;">
      <mat-card-content>

        <div [ngClass]="{'container':secondary, 'container-fluid':!secondary, 'search-container':!mobile}">

          <div class="row">

            <!--Player results-->
            <div *ngIf="!mobile && searching_players" class="container-fluid">
              <div class="row" *ngIf="hide_results">
                <div class="btn-group" role="group" style="margin-top: 10px;">
                  <button type="button" class="btn btn-link search-control" (click)="hide_results = false; cdr.detectChanges();">
                    Show results <i class="fa fa-caret-down"></i>
                  </button>
                  <button type="button" class="btn btn-link search-control" (click)="hide_results = true; searching_players = false; cdr.detectChanges();">
                    Close results <i class="fa fa-close"></i>
                  </button>
                </div>
              </div>

              <div *ngIf="players?.length < 1 && !loading" class="text-center">
                <hr>
                <h3>No players found matching your search <span class="gd-primary">'{{playerInput}}'</span></h3>
              </div>

              <div *ngIf="!hide_results && num_results > 0" id="search_output"  [ngClass]="{'loading-results-overlay':loading}">

	              <div class="row">

		              <!--Filters-->
		              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" *ngIf="filters_active && showFilter">

			              <h1 class="gd-primary">Filters:</h1>

                    <mat-form-field style="margin-right: 10px;" (click)="cdr.detectChanges();" >
                      <mat-select placeholder="Server" [ngModel]="server" (ngModelChange)="setServer($event)" #select>
	                      <mat-option value="" (click)="cdr.detectChanges();">All servers</mat-option>
                        <mat-option *ngFor="let s of form.servers" value="{{s.key}}" (click)="cdr.detectChanges();">
	                        <div class="bg-flag flag-inline flag-{{s.key}}"></div>&nbsp;{{s.key}} [{{s.doc_count}} results]
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field style="margin-right: 10px;" (click)="cdr.detectChanges();">
                      <mat-select placeholder="World" [ngModel]="world" (ngModelChange)="setWorld($event)">
	                      <mat-option value="" (click)="cdr.detectChanges();">All worlds</mat-option>
                        <mat-option *ngFor="let w of form.worlds" value="{{w.key}}" (click)="cdr.detectChanges();">{{w.key}} [{{w.doc_count}} results]</mat-option>
                      </mat-select>
                    </mat-form-field>
											<br/>
                    <button type="button" class="btn btn-link search-control" (click)="clearFilter()">
                      Clear filters <i class="fa fa-filter"></i>
                    </button>
                    <button type="button" class="btn btn-link search-control" (click)="toggleFilter()">
                      Hide filters <i class="fa fa-caret-up"></i>
                    </button>
		              </div>

		              <!--Result table-->
		              <div class="col-xs-12 col-sm-12" [ngClass]="{'col-md-10': filters_active && showFilter}">
			              <div class="row" *ngIf="players?.length > 0" [ngClass]="(hide_results==true)?'hidden-search-control':''">
				              <div class="col-sm-12 col-md-12 col-lg-6">
					              <h3 style="margin:3px;">
						              Found {{num_results}} <span style='color: #18BC9C;'>player{{num_results!=1? 's':''}}</span> for '<span style='color: #18BC9C;'>{{playerInputSearching}}</span>'
						              <button *ngIf="filters_active && !showFilter" type="button" class="btn btn-link search-control" (click)="toggleFilter()">
							              Show filters <i class="fa fa-caret-down"></i>
						              </button>
						              <button type="button" class="btn btn-link search-control" (click)="clearFilter()" *ngIf="world != '' || server != ''">
							              Clear filters <i class="fa fa-close"></i>
						              </button>
						              <button *ngIf="!secondary" type="button" class="btn btn-link search-control" (click)="hide_results = true; cdr.detectChanges();">
							              Hide results <i class="fa fa-caret-up"></i>
						              </button>
						              <button type="button" class="btn btn-link search-control" (click)="hide_results = true; searching_players = false; cdr.detectChanges();">
							              Close results <i class="fa fa-close"></i>
						              </button>
					              </h3>

				              </div>
				              <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="players?.length >= size" style="padding-top: 12px;">
					              <mat-paginator [length]="num_results"
					                             [pageSize]="size"
					                             [pageSizeOptions]="[10, 30, 50, 100, 200]"
					                             (page)="paginatorEvent($event)"
					                             (click)="cdr.detectChanges()"
					              style="max-height: 40px; margin-top: -18px; background: none;">
					              </mat-paginator>
				              </div>
			              </div>
			              <div class="row">
				              <div class="table">
					              <div class="row_custom header default">
						              <div class="cell custom-cell">Player name</div>
						              <div class="cell">World</div>
						              <div class="cell">Alliance</div>
						              <div class="cell hidden-xs hidden-sm">Rank</div>
						              <div class="cell">Points</div>
						              <div class="cell hidden-xs hidden-sm">Towns</div>
						              <div class="cell" *ngIf="compare">Action</div>
					              </div>

					              <div *ngFor="let player of players" class="row_custom">
						              <div class="cell custom-cell">
							              <a routerLink="/player" [queryParams]="{world: player?.world, id: player?.id}" (click)="hide_results = true; cdr.detectChanges();">{{player?.name}}</a>
						              </div>
						              <div class="cell">
							              <div class="bg-flag flag-inline-middle flag-{{player?.server}}"></div>&nbsp;<a routerLink="/points" [queryParams]="{world: player?.world}">{{player?.world}}</a>
						              </div>
						              <div class="cell">
							              <a routerLink="/alliance" [queryParams]="{world: player?.world, id: player?.alliance_id}" (click)="hide_results = true; cdr.detectChanges();">{{player?.alliance_name}}</a>
						              </div>
						              <div class="cell hidden-xs hidden-sm">
							              {{player?.rank}}
						              </div>
						              <div class="cell">
							              {{player?.points | NumberFilter}}
						              </div>
						              <div class="cell hidden-xs hidden-sm">
							              {{player?.towns}}
						              </div>
						              <div class="cell" *ngIf="compare">
							              <div class="form-group row" style="margin: 0px !important;">
								              <button style="width: 48%; margin-right: 4%;" name="add_compare" class="btn btn-success btn-xs" (click)="compareService.addPlayer(player?.id, player?.name, player?.world)">
									              <i class="fa fa-plus"></i>&nbsp;<span class="hidden-xs">Compare</span><span class="hidden-sm hidden-md hidden-lg">Compare</span>
								              </button>
								              <button style="width: 48%;" name="add_compare" class="btn btn-info btn-xs" routerLink="/player" [queryParams]="{world: player?.world, id: player?.id}">
									              <i class="fa fa-arrow-circle-right"></i>&nbsp;View
								              </button>
							              </div>
						              </div>
					              </div>
				              </div>
			              </div>
		              </div>

	              </div>

              </div>
            </div>

            <!--Alliance results-->
            <div *ngIf="!mobile && searching_alliances">
              <hr>
              <div *ngIf="alliances?.length < 1 && !loading" class="text-center">
                <h3>No alliances found for your search <span class="gd-primary">'{{allianceInput}}'</span></h3>
              </div>
              <div *ngIf="alliances?.length > 0 && !loading" class="row">
	              <div class="col-xs-12">
		              <h3>
			              Found {{num_results}} <span style='color: #18BC9C;'>alliance{{num_results!=1? 's':''}}</span> for '<span style='color: #18BC9C;'>{{allianceInput}}</span>'
			              <button *ngIf="hide_results" type="button" class="btn btn-link search-control" (click)="hide_results = false;">
				              Show results <i class="fa fa-caret-down"></i>
			              </button>
			              <button *ngIf="!hide_results" type="button" class="btn btn-link search-control" (click)="hide_results = true;">
				              Hide results <i class="fa fa-caret-up"></i>
			              </button>
			              <button type="button" class="btn btn-link search-control" (click)="searching_alliances = false;">
				              Close results <i class="fa fa-close"></i>
			              </button>
		              </h3>
		              <mat-spinner class="search-control" *ngIf="loading" strokeWidth="4" [diameter]="40"></mat-spinner>
	              </div>
              </div>
              <div *ngIf="!hide_results && num_results > 0" class="table" id="search_output_alliances" style="">
                <div class="row_custom header default">
                  <div class="cell custom-cell">Alliance name</div>
                  <div class="cell">World</div>
                  <div class="cell hidden-sm">Rank</div>
                  <div class="cell hidden-sm">Members</div>
                  <div class="cell">Points</div>
                  <div class="cell hidden-sm">Towns</div>
                  <div class="cell" *ngIf="compare">Action</div>
                </div>

                <div *ngFor="let alliance of alliances" class="row_custom">
                  <div class="cell custom-cell">
                    <a routerLink="/alliance" [queryParams]="{world: alliance?.world, id: alliance?.id}" (click)="hide_results = true; cdr.detectChanges();">{{alliance?.name}}</a>
                  </div>
                  <div class="cell">
	                  <div class="bg-flag flag-inline-middle flag-{{alliance?.server}}"></div>&nbsp;<a routerLink="/points" [queryParams]="{world: player?.world}">{{alliance?.world}}</a>
                  </div>
                  <div class="cell hidden-sm">
	                  {{alliance?.rank}}
                  </div>
                  <div class="cell hidden-sm">
	                  {{alliance?.members}}
                  </div>
                  <div class="cell">
                    {{alliance?.points | NumberFilter}}
                  </div>
                  <div class="cell hidden-sm">
                    {{alliance?.towns}}
                  </div>
                  <div class="cell" *ngIf="compare">
                    <div class="form-group row" style="margin: 0px !important;">
                      <button style="width: 48%; margin-right: 4%;"  name="add_compare" class="btn btn-success btn-xs" (click)="compareService.addAlliance(alliance?.id, alliance?.name, alliance?.world)">
                        <i class="fa fa-plus"></i>&nbsp;<span class="hidden-xs">Compare</span><span class="hidden-sm hidden-md hidden-lg">Compare</span>
                      </button>
                      <button style="width: 48%;"  name="add_compare" class="btn btn-info btn-xs" routerLink="/alliance" [queryParams]="{world: alliance?.world, id: alliance?.id}">
	                      <i class="fa fa-arrow-circle-right"></i>&nbsp;View
                      </button>
                    </div>
                  </div>
                </div>


              </div>
            </div>

	          <!--Mobile results-->
	          <div *ngIf="mobile && (searching_alliances || searching_players) && !hide_results">
		          <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

		          <div *ngIf="searching_players && players?.length < 1 && !loading" class="text-center">
			          <h3>No players found for <span class="gd-primary">'{{playerInput}}'</span></h3>
		          </div>
		          <div *ngIf="searching_alliances && alliances?.length < 1 && !loading" class="text-center">
			          <h3>No alliances found for <span class="gd-primary">'{{allianceInput}}'</span></h3>
		          </div>

		          <div *ngIf="((searching_players && players?.length > 0) || (searching_alliances && alliances?.length) > 0) && !loading"
		               class="mobile-hide-search text-center">
			          <a (click)="hideMobileResults();">
				          Hide search results&nbsp;<i class="fa fa-caret-up"></i>
			          </a>
		          </div>

		          <div class="table" *ngIf="players?.length > 0 && !loading && searching_players">
			          <div *ngFor="let player of players" class="row_custom">
				          <div class="cell custom-cell">
					          <a routerLink="/player" [queryParams]="{world: player?.world, id: player?.id}" (click)="hide_results = true; cdr.detectChanges();">{{player?.name}}</a>
				          </div>
				          <div class="cell">
					          {{player?.points | NumberFilter}}
				          </div>
				          <div class="cell">
					          <div class="bg-flag flag-inline-middle flag-{{player?.server}}"></div>&nbsp;<a routerLink="/points" [queryParams]="{world: player?.world}">{{player?.world}}</a>
				          </div>
			          </div>
		          </div>

		          <div class="table" *ngIf="alliances?.length > 0 && !loading && searching_alliances">
			          <div *ngFor="let alliance of alliances" class="row_custom">
				          <div class="cell custom-cell">
					          <a routerLink="/alliance" [queryParams]="{world: alliance?.world, id: alliance?.id}" (click)="hide_results = true; cdr.detectChanges();">{{alliance?.name}}</a>
				          </div>
				          <div class="cell">
					          {{alliance?.points | NumberFilter}}
				          </div>
				          <div class="cell">
					          <div class="bg-flag flag-inline-middle flag-{{alliance?.server}}"></div>&nbsp;<a routerLink="/points" [queryParams]="{world: player?.world}">{{alliance?.world}}</a>
				          </div>
			          </div>
		          </div>

	          </div>

            <div class="text-center" *ngIf="!mobile">
              <button *ngIf="num_results > 0 && !hide_results" type="button" class="btn btn-link search-control" (click)="hide_results = true; cdr.detectChanges(); window.scrollTo(0, 0);">
                Hide search results <i class="fa fa-caret-up"></i>
              </button>
            </div>

          </div>

        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
