mat-card {
    padding: 20px;
    border-radius: 0px !important;
    box-shadow: 0 5px 5px -5px #333 !important;
}

.search-icon {
  font-size: 34px;
  position: absolute;
  left: 8px;
  top: 9px;
}
#sb-search-players {
  .mat-icon {
    left: 10px !important;
  }
}

::ng-deep {
  .mat-option-text {
    line-height: 2 !important;
  }
}
@media (min-width:1200px) {
  .top-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 68px;
    z-index: 999;
    max-height: calc(100vh - 68px);
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.loading-results-overlay {
  opacity: .6;
  transition: opacity .1s;
}

.searching-loading {
  z-index: 10;
  bottom: 0px;
  position: absolute;
}

.search-shadow {
  box-shadow: 0 5px 5px -5px #333!important;
}

.no-shadow {
  box-shadow: unset !important;
}

//.search-container {
//  margin-top: -20px;
//}

.mobile-hide-search {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  z-index: 999;
  background: #fff;
  height: 30px;
  padding: 5px;
}

.table {
    text-align: left !important;
    font-size: 20px !important;
}

.show-search-btn {
    position: fixed;
    //top: 100px;
    //right: 0px;
    width: 200px;
    height: 50px;
    background: #334254;
    color: #fff;
    z-index: 100;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 24px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

hr {
    margin: 0px !important;
}

.search-secondary {
    //background: #334254 !important;
    //background: #18BC9C !important;
    //color: #fff !important;
}

.search {
  margin: 0 !important;
}

.hidden-search-control {
    display: none !important;
}

.custom-cell {
    padding-left: 20px !important;
}

.search-control {
    margin: 5px;
}

.index-search-title {
    margin-top: 0px !important;
}

.sb-search {
    font-family: 'Montserrat';
    position: relative;
    width: 100%;
    background: #18BC9C;
    color: #fff;
    z-index: 11;
    min-width: 60px;
    height: 50px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    margin: 2px 0;
}

.sb-search-input {
    font-family: 'Montserrat';
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #f3f3f3;
    width: 100%;
    height: 49px;
    margin: 0;
    z-index: 10;
    padding: 15px 55px 15px 15px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

.sb-search-input::-webkit-input-placeholder {color: #12bba1;}
.sb-search-input:-moz-placeholder {color: #12bba1;}
.sb-search-input::-moz-placeholder {color: #12bba1;}
.sb-search-input:-ms-input-placeholder {color: #12bba1;}

.sb-icon-search,
.sb-search-submit  {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #18BC9C;
    z-index: 90;
    font-size: 22px;
    font-family: 'Montserrat';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

mat-paginator {
    font-size: 15px;
}

@media (max-width:550px) {
  .search-group {
    width: 100% !important;
    padding: 0 !important;
  }
  mat-card {
    padding: 5px !important;
  }
  .sb-search {
    height: 35px !important;
  }
  .sb-search-input {
    font-size: 16px !important;
    height: 35px !important;
  }
  .sb-icon-search {
    font-size: 16px !important;
    height: 35px !important;
    line-height: 35px !important;
  }
  .table {
    font-size: 16px !important;
  }
  .search-icon {
    top: 0 !important;
  }
}
