<mat-card class="index-card">
	<mat-card-title>
		<mat-icon class="mat-icon-title-inline">code</mat-icon> Install the in-game city indexer userscript using Tampermonkey
	</mat-card-title>
	<mat-card-content>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">


					<div class="alert alert-gd-1">
						<h3><strong>Step 1:</strong> Install Tampermonkey</h3>
						<p class="gd-secondary">Tampermonkey is the world's most popular userscript manager.</p>
						<br/>
						<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center">
							<div fxLayout="column" fxLayoutAlign="center center" style="width: 20%;">
								<i style="font-size: 54px;" class="fa fa-chrome"></i><div>Chrome</div>
								<a tabindex="-1" href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="_blank">Install</a>
							</div>
							<div fxLayout="column" fxLayoutAlign="center center" style="width: 20%;">
								<i style="font-size: 54px;" class="fa fa-safari"></i><div>Safari</div>
								<a tabindex="-1" href="https://tampermonkey.net/?browser=safari" target="_blank">Install</a>
							</div>
							<div fxLayout="column" fxLayoutAlign="center center" style="width: 20%;">
								<i style="font-size: 54px;" class="fa fa-firefox"></i><div>Firefox</div>
								<a tabindex="-1" href="https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/?src=ss" target="_blank">Install</a>
							</div>
							<div fxLayout="column" fxLayoutAlign="center center" style="width: 20%;">
								<i style="font-size: 54px;" class="fa fa-opera"></i><div>Opera</div>
								<a tabindex="-1" href="https://addons.opera.com/en/extensions/details/tampermonkey-beta/" target="_blank">Install</a>
							</div>
							<div fxLayout="column" fxLayoutAlign="center center" style="width: 20%;">
								<i style="font-size: 54px;" class="fa fa-edge"></i><div>Edge</div>
								<a tabindex="-1" href="https://tampermonkey.net/?browser=edge" target="_blank">Install</a>
							</div>
						</div>
						<br/>
						<h3 class="gd-secondary">Restart your browser if you just installed Tampermonkey.</h3>
					</div>

					<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 5px;">
						<i class="fa fa-arrow-down"></i>
					</div>

					<div class="alert alert-gd-1">
						<h3><strong>Step 2:</strong> Install the userscript</h3>
						<br/>
						<a tabindex="-1" mat-button class="mat-raised-button bg-gd-2"
						   style="font-size: 20px; padding: 8px; width: 100%; color: white; overflow: hidden; text-overflow: ellipsis;"
						   href="https://api.grepodata.com/script/indexer.user.js" target="_blank"
						   (click)="clicked=true">
							<span class="fa fa-download"></span> Install userscript <span class="gd-primary" style="vertical-align: baseline;">{{key}}</span>
						</a>
					</div>

					<div fxLayout="row" fxLayoutAlign="center center" style="margin-bottom: 5px;">
						<i class="fa fa-arrow-down"></i>
					</div>

					<div class="alert alert-gd-1">
						<h3><strong>Step 3:</strong> Enter your token to link the userscript to your account</h3>
						<br/>
						<div class="row">
							<div class="col-xs-12">
								<p>When you have installed the script, open your game and enter the following token into the GrepoData popup window that will appear.</p>
							</div>
							<div class="col-xs-12 gd-share-link-container">
								<label style="font-weight: 600">Private script synchronization token:</label>
								<br/>
								<button *ngIf="!token_opened" (click)="token_opened=true;" class="btn btn-primary">
									Show private token <mat-icon>vpn_key</mat-icon>
								</button>
								<div class="row" *ngIf="token_opened">
									<input #shareLink [ngClass]="{ 'copied': copied }" [disabled]="true" class="col-xs-8 ur" type="url" value="{{token}}" id="siegeShareUrl" aria-describedby="inputGroup-sizing-default" style="height: 40px;">
									<button class="cpy" (click)="copyLink(shareLink)"><i class="fa fa-clone"></i> Copy</button><span class="message" *ngIf="copied"> Token copied!</span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
	</mat-card-content>
</mat-card>