<div id="pagehead" style="height: 100%; margin: -12px 10px 0 !important;">

	<div *ngIf="loading" class="text-center">
		<div class="align-middle" style="position: relative; top: 250px; left: 25%; width: 50%;">
			<h3 class="gd-primary"><strong>Loading team...</strong></h3>
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
	</div>

  <div *ngIf="key != '' && !loading && error">
    <div class="container" style="max-width: 100%;">
      <div class="row" style="padding: 4% 0 2%;">
        <div class="alert alert-warning alert-gd-2 alert-gd-error text-center">
          <div class="row" style="display: flex;">
            <div class="col-xs-2" style="display: flex;">
              <mat-icon style="color: #18bc9c; font-size: 70px;">report</mat-icon>
            </div>
            <div class="col-xs-10">
              <div [outerHTML]="error"></div>
              <p>Team key: {{index_name}}</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center" style="padding-top: 50px;">
          <button routerLink="/profile" class="btn btn-lg btn-success mr-1">
            <mat-icon>keyboard_arrow_left</mat-icon> Back to my intel
          </button>
        </div>

      </div>
    </div>
  </div>

	<div *ngIf="key != '' && !loading && !error">

    <!-- FINISHED WORLD -->
    <app-alert *ngIf="world_stopped" title="This game world is no longer active" type="error" [dismissible]="false">
      Game world <strong>{{world}}</strong> is finished and all detailed data related to this world has been deleted from our database. This team overview is still available but the underlying intel has been removed.
    </app-alert>

    <!-- MISSING OWNER -->
    <app-alert *ngIf="missing_v1_owner" title="This team does not have a registered owner" type="error" [dismissible]="false">
      This team was imported from an old index (created before April 2021). This team does not currently have an active registered owner. If you created this index, you have to register for a GrepoData account using the same email address that you used to create the index. This is the only way to become the owner of this team.
      If this is not possible for you, please <a class="a-link-dialog" (click)="showContactDialog()">contact us</a>.
    </app-alert>

    <!-- UNCOMMITTED INTEL -->
    <div *ngIf="mobileQuery.matches && contribute && commit_complete" style="padding: 8px 12px 8px;">
      <app-alert title="Previous intel import completed" type="info" [dismissible]="false">
        <h4><strong>Import complete.</strong> We have successfully imported your existing intel to this team.</h4>
        <button style="!important; display: flex;" class="btn btn-secondary" (click)="commitPrevIntel('ignore')">
          Hide this message
        </button>
      </app-alert>
    </div>
    <div *ngIf="mobileQuery.matches && has_uncommitted_intel > 5 && contribute && !commit_complete" style="padding: 8px 12px 8px;">
      <app-alert title="You have previous intel available that can be shared with this team" type="info" [dismissible]="false">
        <h5 *ngIf="!committing_prev_intel">Before you joined this team, you had already indexed <strong>{{has_uncommitted_intel}} reports</strong> that have not yet been shared with this team.
          <br/>Use the button below to <strong>import your intel and share it with this team</strong>. This can not be undone.</h5>

        <div *ngIf="committing_prev_intel">
          <h4>We are processing your request, this may take a while.. Please contact us if this takes longer than an hour. You can safely close this page.</h4>
          <mat-progress-bar style="opacity: .3;" mode="indeterminate"></mat-progress-bar>
        </div>

        <div *ngIf="committing_error">
          <h3 style="color: #f07057;">{{committing_error}}</h3>
        </div>

        <div class="index-options-container row" *ngIf="!committing_prev_intel">
          <div class="col-xs-12 col-sm-6">
            <button style="" class="btn btn-secondary" (click)="commitPrevIntel('commit')">
              Yes, I want to share my previous intel<span class="hidden-sm hidden-md"> with this team ({{has_uncommitted_intel}} reports)</span>
              &nbsp;<mat-icon>share</mat-icon>
            </button>
          </div>
          <div class="col-xs-12 col-sm-6">
            <button style="color: #334254 !important; display: flex;" class="btn btn-link" (click)="commitPrevIntel('ignore')">
              No, I don't want to share my intel. Don't show this message again
            </button>
          </div>
        </div>
      </app-alert>
    </div>

    <!-- OVERVIEW -->
		<div class="index-overview">

			<div class="">

				<div *ngIf="data.total_reports != 0">

					<!--<app-index-version *ngIf="data.total_reports != 0 && !loading"-->
					<!--[version]="data.latest_version" [message]="data.update_message" [key]="key"></app-index-version>-->

					<div *ngIf="!mobileQuery.matches">
						<mat-card class="dense-card">
							<mat-tab-group mat-stretch-tabs>
								<mat-tab>
									<ng-template mat-tab-label>
										<img style="height: 20px; margin-top: 0;" src="../../assets/images/player_ico.png"/>&nbsp;Players
									</ng-template>
									<ng-container *ngTemplateOutlet="players"></ng-container>
								</mat-tab>
								<mat-tab>
									<ng-template mat-tab-label>
										<img style="height: 20px; margin-top: 0;" src="../../assets/images/ally_ico.png"/>&nbsp;Alliances
									</ng-template>
									<ng-container *ngTemplateOutlet="allys"></ng-container>
								</mat-tab>
								<mat-tab>
									<ng-template mat-tab-label>
										<mat-icon style="opacity: 1; vertical-align: bottom;">group</mat-icon>&nbsp;
										<span class="hidden-xs">Team info</span>
										<span class="hidden-md hidden-sm hidden-lg">Info</span>
									</ng-template>
									<ng-container *ngTemplateOutlet="info"></ng-container>
								</mat-tab>
							</mat-tab-group>
						</mat-card>
					</div>

					<div *ngIf="mobileQuery.matches" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="0" style="margin-bottom: -25px;">


						<div fxFlex="35" fxFlex.gt-lg="30" fxLayout="column" fxLayoutGap="5px">
							<ng-container *ngTemplateOutlet="info"></ng-container>
							<br/>
						</div>
						<div fxFlex="65" fxFlex.gt-lg="70">

              <!-- This is only shown if the team is small (low number of contributors and very few reports) -->
              <div *ngIf="is_admin && contributors && contributors.length <= 1 && data.total_reports < 50" class="hidden-xs hidden-sm" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="0" style="margin-bottom: -25px;">
                <div fxFlex="100">
                  <mat-card class="dense-card index-card-info" style="margin-bottom: 30px !important;">
                    <ng-container *ngTemplateOutlet="inviteAllies"></ng-container>
                  </mat-card>
                </div>
              </div>

              <div class="hidden-xs hidden-sm" fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="0" style="margin-bottom: -25px;">
                <div fxFlex="50">
                  <ng-container *ngTemplateOutlet="players"></ng-container>
                </div>
                <div fxFlex="50">
                  <ng-container *ngTemplateOutlet="allys"></ng-container>
                </div>
              </div>

              <!--recent conquests-->
              <div *ngIf="!loading && recent_conquests && recent_conquests.length > 0" class="hidden-xs hidden-sm">
                <ng-container *ngTemplateOutlet="sieges"></ng-container>
              </div>

              <!--recent latest intel-->
              <div *ngIf="latest_intel && latest_intel.length>0" class="hidden-xs hidden-sm">
                <ng-container *ngTemplateOutlet="recentIntel"></ng-container>
              </div>

						</div>
					</div>


				</div>

				<ng-template #inviteAllies>
          <h2 class="gd-secondary text-left" style="margin-top: 0px">
            🤗 Invite your allies
          </h2>
          <app-alert class="" type="success" title="" [dismissible]="false" [showIcon]="false">
            <div class="text-left">
              <h5>
                This team allows you to share collected intelligence with other users.
                <br/>Send the following link to your allies to give them access to this team:
              </h5>
              <div class="" title="">
                <div class="row">
                  <div class="col-xs-12 gd-share-link-container" style="margin-left: -14px;">
                    <br/>
                    <div class="row invite-link-container" (click)="copyLink()">
                      <input #shareLink
                             [ngClass]="{ 'copied': copied }"
                             [disabled]="true"
                             class="col-xs-9 col-sm-8 col-md-7 col-lg-7 ur share-link-actual"
                             type="url"
                             value="https://grepodata.com/invite/{{key}}{{share_link}}"
                             id="siegeShareUrl"
                             aria-describedby="inputGroup-sizing-default"
                             style="height: 40px; font-size: 20px !important; color: #009688; font-weight: 900;">
                      <button class="cpy" (click)="copyLink()"><i class="fa fa-clone"></i> Copy</button><span class="message" *ngIf="copied"> Link copied!</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </app-alert>
        </ng-template>

				<ng-template #recentIntel>
          <mat-card class="dense-card" style="margin-top: 35px !important;">
            <mat-card-title>
              <div class="form-group row" style='margin: 0px;'>
                <h3 style='font-weight: 300; color: #304357; margin-top: 0px;'><span class='world-title' style='color: #18BC9C;'>Latest reports indexed</span></h3>
              </div>
            </mat-card-title>
            <mat-card-content>
              <div>
                <div class="table intel-table" id="table_all">
                  <div class="row_custom header bg-gd-2" >
                    <div class="cell">
                      Type
                    </div>
                    <div class="cell">
                      Town
                    </div>
                    <div class="cell">
                      Date
                    </div>
                    <div class="cell" style="width: 50%;">
                      Units
                    </div>
                  </div>

                  <div class='row_custom' *ngFor="let town of latest_intel" style="height: 40px;">
                    <div class="cell unit-cell-small" matTooltip="{{town.type}}">
                      <img src="../../assets/images/game/towninfo/attack.png" *ngIf="town.type === 'friendly_attack'">
                      <div *ngIf="town.type === 'enemy_attack'" style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: ;">
                        <img src="../../assets/images/game/towninfo/attack.png">
                      </div>
                      <img src="../../assets/images/game/towninfo/wisdom.png" *ngIf="town.type === 'wisdom'">
                      <img src="../../assets/images/game/towninfo/support.png" *ngIf="town.type === 'support'">
                      <img src="../../assets/images/game/towninfo/conquer.png" *ngIf="town.type === 'attack_on_conquest'">
                      <img src="../../assets/images/game/towninfo/espionage_2.67.png" *ngIf="town.type === 'spy'">
                    </div>
                    <div class="cell intel-cell-town">
                      <img style="height: 18px; margin-top: -5px;" src="../../assets/images/town_ico.png"/>&nbsp;<a routerLink="/intel/town/{{world}}/{{town?.town_id}}">{{town?.town_name}}</a><br/>
                      <img style="height: 18px; margin-top: -5px;" src="../../assets/images/player_ico.png"/>&nbsp;<a routerLink="/intel/player/{{world}}/{{town?.player_id}}">{{town?.player_name}}</a>
                      &nbsp;(<img style="height: 18px; margin-top: -5px;" src="../../assets/images/ally_ico.png"/>&nbsp;<a routerLink="/intel/alliance/{{world}}/{{town?.alliance_id}}">{{town?.alliance_name}}</a>)
                    </div>
                    <div class="cell intel-cell-town">
                      {{town.date | IndexDate}}
                    </div>
                    <div class="cell">
                      <div class="unit-row">
                        <div class="unit-icon-sm" *ngFor="let unit of town.units | ValuesPipe; let i = index;" title="{{unit?.name}}">
                          <div class="unit_icon40x40 {{unit.name}}"><span class="unit-val">{{unit.count}}</span></div>
                          <div style="color: #d00;" *ngIf="unit.killed && unit.killed!=0">-{{unit.killed}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-template>

				<ng-template #sieges>
          <mat-card class="dense-card conquests-card" style="margin-top: 35px !important; margin-bottom: -10px !important;">
            <mat-card-title>
              <div class="form-group row" style='margin: 0px;'>
                <h3 class="gd-secondary" style='font-weight: 500; margin-top: 0 !important;'>
                  Recent Sieges
                  <button name="open_bb" style="float: right;" class="btn btn-secondary" (click)="loadSiegeListDialog()">
                    Show all sieges&nbsp;<mat-icon style="vertical-align: inherit; font-size: 20px;">launch</mat-icon>
                  </button>
                </h3>
              </div>
            </mat-card-title>
            <mat-card-content>
              <div class="conquests-list-vertical gd-scrollbar">
                <div class="conquest-item" *ngFor="let conquest of recent_conquests">
                  <app-siege
                    *ngIf="conquest.conquest_id"
                    [embedded]="true"
                    [isCard]="true"
                    [conquest]="conquest"
                    [conquestId]="conquest?.conquest_id"
                    [world]="world"
                    [key] = "key">
                  </app-siege>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-template>

				<ng-template #info>
					<mat-card class="dense-card index-card-info">
						<div class="card-header bg-gd-4" [ngClass]="{'index-team-title': data.total_reports > 0}">
							<h1 class="entity-name gd-white title-city-indexer">City Indexer Team</h1>
							<h3 class="gd-primary title-team-name">
								<mat-icon style="vertical-align: sub;">group</mat-icon>&nbsp;{{index_name}}
							</h3>

							<div *ngIf="is_admin" class="a-link card-action gd-white" matTooltip="Index settings" (click)="showSettingsDialog()">
								<mat-icon>settings</mat-icon>
							</div>
						</div>
						<mat-card-content>
							<div>
								<table class="table table-no-more intel-info-table">
									<tbody>
									<tr>
										<th>Team name</th>
										<td>
                      <span *ngIf="!editting_name" (click)="doEditName()">
                        <a>{{index_name}}
                        <mat-icon class="edit-owner" style="vertical-align: sub;" *ngIf="is_admin">create</mat-icon></a>
                      </span>
                      <span *ngIf="editting_name">
                        <form (submit)="saveIndexName()">
                          <input autocomplete="off" name="teamname" maxlength="24" [(ngModel)]="index_name_edit">
                        </form>
                        <mat-icon style="vertical-align: sub;" class="edit-owner gd-primary" (click)="saveIndexName()" *ngIf="index_name_edit!=index_name">save</mat-icon>
                        <mat-icon style="vertical-align: sub;" class="edit-owner gd-primary" (click)="editting_name=false;index_name_edit=index_name;">clear</mat-icon>
                      </span>

                      <span *ngIf="name_saved" class="gd-primary">
                        <br/><mat-icon style="vertical-align: bottom;">check_circle_outline</mat-icon>
                        Team name updated
                      </span>
                      <span *ngIf="saving_name" class="gd-primary">
                        <br/>
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                      </span>
                      <span *ngIf="saving_error" class="gd-primary">
                        <br/><mat-icon style="vertical-align: bottom;">error_outline</mat-icon>
                        {{saving_error}}
                      </span>
                    </td>
									</tr>
									<tr>
										<th>World</th>
										<td>
											<a routerLink="/points" [queryParams]="{world: world}"><span [outerHTML]="world | WorldNamePipe"></span></a>
										</td>
									</tr>
									<tr class="hidden-xs hidden-sm" *ngIf="data.total_reports > 0">
										<th>Last addition</th>
										<td>{{data.latest_report}}</td>
									</tr>
									<tr class="hidden-xs hidden-sm" *ngIf="data.total_reports > 0">
										<th>Total reports</th>
										<td>{{data.total_reports}}</td>
									</tr>
									<tr *ngIf="data.total_reports > 0">
										<th>
											Contributor<span *ngIf="data.owners && data.owners.length > 1">s</span>
										</th>
										<td>
											<div style="float: right;" *ngIf="is_admin">
												<a><mat-icon class="edit-owner" (click)="showSettingsDialog()">edit</mat-icon></a>
											</div>
											<div *ngFor="let owner of data.owners" matTooltip="These alliances are the main contributors to this team. The team admin can choose to hide all intel about the towns of these alliances.">
												<p class="gd-primary"><img src="../../assets/images/ally_ico.png" style="margin-top: -4px;"/> {{owner.alliance_name}}</p>
											</div>
										</td>
									</tr>
									<tr *ngIf="data.total_reports > 0 && !is_admin">
                    <td colspan="2" class="text-center gd-primary">
                      <br/>
                      <strong *ngIf="role=='read'">You are not allowed to contribute to this team.</strong>
                      <strong *ngIf="role=='write' && contribute===true">You are currently contributing to this team.</strong>
                      <strong *ngIf="role=='write' && contribute===false">You have disabled contributions to this team. The intel you collect will not be added to this team.</strong>
                    </td>
									</tr>
									</tbody>
								</table>

								<div *ngIf="is_admin">
									<div class="index-options-container row">
										<div class="col-xs-12 col-sm-6">
                      <button style="width: 100%;" class="btn btn-secondary mr-1" (click)="showMembersDialog()">
                        <span class="hidden-md">Manage users</span>
                        <span class="hidden-xs hidden-sm hidden-lg">Users</span>
                        &nbsp;<mat-icon>admin_panel_settings</mat-icon>
                      </button>
										</div>
										<div class="col-xs-12 col-sm-6">
											<button style="width: 100%;" class="btn btn-success mr-1" (click)="showShareDialog()">
                        <span class="hidden-md">Share team</span>
                        <span class="hidden-xs hidden-sm hidden-lg">Share</span>
                        &nbsp;<mat-icon>group_add</mat-icon></button>
										</div>
									</div>
								</div>

                <div class="index-events">
                  <app-event-list [key]="key" [update]="update"></app-event-list>
                </div>

                <div class="index-contributors" *ngIf="contributors && contributors.length > 0">
                  <h3>Team contributors</h3>
                  <div>
                    <div class="table intel-table" id="table_contributors">
                      <div class="row_custom header bg-gd-2" >
                        <div class="cell">
                          User
                        </div>
                        <div class="cell">
                          Contributions
                        </div>
                      </div>

                      <div class='row_custom' *ngFor="let user of contributors">
                        <div class="cell contributor-user">
                          <span class="user"><mat-icon>perm_identity</mat-icon>&nbsp;{{user.username}}</span>
                          <br/>
                          <span class="player"><img src="../../assets/images/player_ico.png"/>&nbsp;{{user.player_name}}</span>
                        </div>
                        <div class="cell contributor-count">
                          Total: {{user.contributions}}
                          <br/>
                          <span class="last-contribution">Last: {{user.last_contribution | Datex : "D MMM YYYY"}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

							</div>

						</mat-card-content>
					</mat-card>
				</ng-template>

				<ng-template #players>
					<mat-card class="dense-card index-card-info">
						<mat-card-title>
							<div class="form-group row" style='margin: 0px;'>
								<h3 class="gd-secondary" style='font-weight: 500; margin-top: 0 !important;'>
                  Top Players
									<button name="open_bb" style="float: right;" class="btn btn-secondary" (click)="openBBdialog('players_indexed')">
										<i class="fa fa-code"></i> BB code
									</button>
								</h3>
							</div>
						</mat-card-title>
						<mat-card-content>
							<div class="table" id="table_players" style='margin: auto; margin-bottom: 0px;'>
								<div class="row_custom header" >
									<div class="cell" style="width: 39%;">
										Player
									</div>
									<div class="cell" style="width: 22%;">
										Intel count
									</div>
									<div class="cell" style="width: 30%;">
										View
									</div>
								</div>
							</div>
							<div class="players-intel-table gd-scrollbar" style="max-height: 275px; overflow-y: auto;">
								<div class="table" id="table_players_rows" style='margin: auto; margin-bottom: 0px;'>
									<div class='row_custom' *ngFor="let player of data.players_indexed">
										<div class="cell" style="width: 45%;">
											<a routerLink="/intel/player/{{world}}/{{player?.player_id}}">{{player?.player_name}}</a>
										</div>
										<div class="cell" style="width: 25%;">
											{{player.count}}
										</div>
										<div class="cell" style="width: 30%;">
											<a routerLink="/intel/player/{{world}}/{{player?.player_id}}">intel</a>
											<span class="hidden-xs">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
											<br class="hidden-sm hidden-md hidden-lg"/>
											<a routerLink="/player" [queryParams]="{world: world, id: player?.player_id}">stats</a>
										</div>
									</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</ng-template>

				<ng-template #allys>
					<mat-card class="dense-card index-card-info">
						<mat-card-title>
							<div class="form-group row" style='margin: 0px;'>
								<h3 class="gd-secondary" style='font-weight: 500; margin-top: 0 !important;'>
                  Top Alliances
									<button name="open_bb" style="float: right;" class="btn btn-secondary" (click)="openBBdialog('alliances_indexed')">
										<i class="fa fa-code"></i> BB code
									</button>
								</h3>
							</div>
						</mat-card-title>
						<mat-card-content>
							<div class="table" id="table_players" style='margin: auto; margin-bottom: 0px;'>
								<div class="row_custom header" >
									<div class="cell" style="width: 39%;">
										Alliance
									</div>
									<div class="cell" style="width: 22%;">
										Intel count
									</div>
									<div class="cell" style="width: 30%;">
										View
									</div>
								</div>
							</div>
							<div class="players-intel-table gd-scrollbar" style="max-height: 275px; overflow-y: auto;">
								<div class="table" id="table_alliances" style='margin: auto; margin-bottom: 0px;'>

									<div class='row_custom' *ngFor="let alliance of data.alliances_indexed">
										<div class="cell">
											<a routerLink="/intel/alliance/{{world}}/{{alliance?.alliance_id}}">{{alliance?.alliance_name}}</a>
										</div>
										<div class="cell">
											{{alliance.count}}
										</div>
										<div class="cell">
											<a routerLink="/intel/alliance/{{world}}/{{alliance?.alliance_id}}">intel</a>
											<span class="hidden-xs">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
											<br class="hidden-sm hidden-md hidden-lg"/>
											<a routerLink="/alliance" [queryParams]="{world: world, id: alliance?.alliance_id}">stats</a>
										</div>
									</div>
								</div>
							</div>
						</mat-card-content>
					</mat-card>
				</ng-template>

				<div *ngIf="data.total_reports == 0">
					<div id="help_by_contributing" style="display: none;"></div>

					<div class="container-fluid">
						<div class="row">
							<div class="col-12 text-center">

								<div fxLayout="column" fxLayout.gt-md="row" fxLayoutGap="0" style="margin-bottom: -25px;">
									<div fxFlex="35" fxLayout="column" fxLayoutGap="5px">
										<ng-container *ngTemplateOutlet="info"></ng-container>
									</div>
									<div fxFlex="65" fxLayout="column" fxLayoutGap="5px">
										<mat-card class="dense-card index-card-info">
                      <div *ngIf="is_admin && share_link && share_link!='Unauthorized'">

                        <ng-container *ngTemplateOutlet="inviteAllies"></ng-container>

                        <br/>
                        <br/>
                        <h2 class="gd-secondary text-left" style="margin-top: 0px">
                          🕵 Start collecting intel
                        </h2>

                      </div>

                      <app-alert type="warning" [dismissible]="false">
                        <div class="text-left">
                          <strong>There are no reports in this team.</strong> See the instructions below to get started collecting enemy intelligence
                        </div>
                      </app-alert>


										</mat-card>
									</div>
								</div>

								<div class="hidden-xs hidden-sm text-left" style="margin-top: 34px;">
									<app-userscript></app-userscript>
								</div>

							</div>
						</div>
					</div>

				</div>

				<br/>

			</div>
		</div>
	</div>

</div>
