<app-search [compare]="true"></app-search>

<div *ngIf="world && world.substr(0,2)=='ru'" >
  <img style="width: 50%; margin-left: 25%;" src="assets/images/ua.png">
</div>

<div *ngIf="!world || world.substr(0,2)!='ru'">
  <div class="ranking" id="pagehead">
    <mat-card style="padding: 16px 0;">

	    <div *ngIf="loading" style="position: relative; top: -15px; height: 0px;">
		    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
	    </div>

      <mat-card-content>

        <div class="container-fluid" id="player_ranking">
          <div class="row">

	          <div class="col-xs-12 text-center">
		          <h3 class="gd-primary" style="margin: 0;">
			          Grepolis <span *ngIf="type!='alliance'">player</span><span *ngIf="type=='alliance'">alliance</span> ranking
		          </h3>
	          </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1 title-selection">

	            <div>
		            <mat-icon class="icon-margin"><div class="bg-flag flag-{{server}}"></div></mat-icon>
		            <mat-form-field class="input-server">
			            <mat-select placeholder="Server" [ngModel]="server" (ngModelChange)="updateWorlds($event)" #select>
				            <mat-option *ngFor="let s of servers" value="{{s}}">
					            <div class="bg-flag flag-inline flag-{{s}}"></div>&nbsp;{{s}}
				            </mat-option>
			            </mat-select>
		            </mat-form-field>&nbsp;
		            <mat-form-field class="input-world">
			            <mat-select placeholder="World" [ngModel]="world" (ngModelChange)="setWorld($event)">
				            <mat-option *ngFor="let w of worlds" value="{{w.id}}">{{w.id}} ({{w.name}})</mat-option>
			            </mat-select>
		            </mat-form-field>&nbsp;
		            <mat-form-field class="input-date">
			            <mat-select placeholder="Type" [ngModel]="type" (ngModelChange)="setType($event)">
				            <mat-option value="player" selected>Players</mat-option>
				            <mat-option value="alliance">Alliances</mat-option>
			            </mat-select>
		            </mat-form-field>
	            </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 title-paginator">
              <mat-paginator class="title-paginator"
                             [length]="count"
                             [pageSize]="size"
                             [pageIndex]="pageIndex"
                             [pageSizeOptions]="[10, 30, 50, 100, 200]"
                             (page)="paginatorEvent($event)">
              </mat-paginator>
            </div>
          </div>
          <div *ngIf="error" class="alert alert-warning text-center alert-gd-1">
            <h3>Unable to load ranking.</h3>
          </div>

          <div class="row" *ngIf="!error">
	          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1" style="margin-top: -20px;">
		          <div class="scroll-table">
		            <div class="table" id="player_ranking_table" style="border-collapse: collapse;">
				          <div class="row_custom header default">
					          <div class="cell">
						          #
					          </div>
					          <div *ngIf="type=='player'" class="cell">
						          Player name
					          </div>
					          <div class="cell">
						          Alliance name
					          </div>
					          <div class="cell hidden-xs" (click)="sort('Points')">
						          <span class="ranking-control {{sort_field=='Points' ? 'selected' : ''}}">Points</span>
						          <div class="sort-carets">
							          <i class="fa fa-caret-up {{sort_field=='Points'&&sort_order=='asc' ? 'selected' : ''}}"></i>
							          <i class="fa fa-caret-down {{sort_field=='Points'&&sort_order=='desc' ? 'selected' : ''}}"></i>
						          </div>
					          </div>
					          <div class="cell custom-cell" (click)="sort('Rank')">
						          <span class="ranking-control {{sort_field=='Rank' ? 'selected' : ''}}">
							          <span class="hidden-xs hidden-sm hidden-md">General rank</span>
							          <span class="hidden-lg">Rank</span>
						          </span>
						          <div class="sort-carets">
							          <i class="fa fa-caret-up {{sort_field=='Rank'&&sort_order=='asc' ? 'selected' : ''}}"></i>
							          <i class="fa fa-caret-down {{sort_field=='Rank'&&sort_order=='desc' ? 'selected' : ''}}"></i>
						          </div>
					          </div>
					          <div class="cell" (click)="sort('Towns')">
						          <span class="ranking-control {{sort_field=='Towns' ? 'selected' : ''}}">Towns</span>
						          <div class="sort-carets">
							          <i class="fa fa-caret-up {{sort_field=='Towns'&&sort_order=='asc' ? 'selected' : ''}}"></i>
							          <i class="fa fa-caret-down {{sort_field=='Towns'&&sort_order=='desc' ? 'selected' : ''}}"></i>
						          </div>
					          </div>
					          <div *ngIf="type=='alliance'" class="cell" (click)="sort('Members')">
						          <span class="ranking-control {{sort_field=='Members' ? 'selected' : ''}}">Members</span>
						          <div class="sort-carets">
							          <i class="fa fa-caret-up {{sort_field=='Members'&&sort_order=='asc' ? 'selected' : ''}}"></i>
							          <i class="fa fa-caret-down {{sort_field=='Members'&&sort_order=='desc' ? 'selected' : ''}}"></i>
						          </div>
					          </div>
					          <div class="cell" (click)="sort('Att')">
						          <span class="ranking-control {{sort_field=='Att' ? 'selected' : ''}}">Attack<span class="hidden-xs hidden-sm hidden-md"> points</span></span>
						          <div class="sort-carets">
							          <i class="fa fa-caret-up {{sort_field=='Att'&&sort_order=='asc' ? 'selected' : ''}}"></i>
							          <i class="fa fa-caret-down {{sort_field=='Att'&&sort_order=='desc' ? 'selected' : ''}}"></i>
						          </div>
					          </div>
					          <div class="cell" (click)="sort('Def')">
						          <span class="ranking-control {{sort_field=='Def' ? 'selected' : ''}}">Defence<span class="hidden-xs hidden-sm hidden-md"> points</span></span>
						          <div class="sort-carets">
							          <i class="fa fa-caret-up {{sort_field=='Def'&&sort_order=='asc' ? 'selected' : ''}}"></i>
							          <i class="fa fa-caret-down {{sort_field=='Def'&&sort_order=='desc' ? 'selected' : ''}}"></i>
						          </div>
					          </div>
					          <div class="cell" (click)="sort('AttDef')">
						          <span class="ranking-control {{sort_field=='AttDef' ? 'selected' : ''}}">Combined<span class="hidden-xs hidden-sm hidden-md"> points</span></span>
						          <div class="sort-carets">
							          <i class="fa fa-caret-up {{sort_field=='AttDef'&&sort_order=='asc' ? 'selected' : ''}}"></i>
							          <i class="fa fa-caret-down {{sort_field=='AttDef'&&sort_order=='desc' ? 'selected' : ''}}"></i>
						          </div>
					          </div>
				          </div>

				          <div *ngFor="let result of results; let i = index;" class="row_custom" [ngClass]="{row_winner:i==0&&fromResult==0, row_highlight:highlightId==result?.id}">
					          <div class="cell custom-cell">
						          <div *ngIf="i==0&&fromResult==0&&sort_order=='desc'">🏆</div>
						          <div *ngIf="i==1&&fromResult==0&&sort_order=='desc'">🥈</div>
						          <div *ngIf="i==2&&fromResult==0&&sort_order=='desc'">🥉</div>
						          <span *ngIf="i>=3||fromResult!=0||sort_order=='asc'">{{i+fromResult+1}}</span>
					          </div>
					          <div *ngIf="type=='player'" class="cell">
						          <a routerLink="/player" [queryParams]="{world: result?.world, id: result?.id}">{{result?.name}}</a>
					          </div>
					          <div class="cell">
						          <a *ngIf="type=='player'" routerLink="/alliance" [queryParams]="{world: result?.world, id: result?.alliance_id}">{{result?.alliance_name}}</a>
						          <a *ngIf="type=='alliance'" routerLink="/alliance" [queryParams]="{world: result?.world, id: result?.id}">{{result?.name}}</a>
					          </div>
					          <div class="cell hidden-xs">
						          {{result?.points | NumberFilter}}
					          </div>
					          <div class="cell custom-cell">
						          <div *ngIf="highlightId==result?.id" id="highlightRow">{{result?.rank}}</div>
						          <div *ngIf="highlightId!=result?.id">{{result?.rank}}</div>
					          </div>
					          <div class="cell">
						          <a routerLink="/conquest/{{type}}/{{world}}/{{result?.id}}">{{result?.towns}}</a>
					          </div>
					          <div *ngIf="type=='alliance'" class="cell">
						          {{result?.members}}
					          </div>
					          <div class="cell">
						          {{result?.att | NumberFilter}}
					          </div>
					          <div class="cell">
						          {{result?.def | NumberFilter}}
					          </div>
					          <div class="cell">
						          {{result?.def + result?.att | NumberFilter}}
					          </div>
				          </div>

			          </div>

	            </div>

	          </div>

          </div>

	        <div class="row">
		        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
			        <mat-paginator [length]="count"
			                       [pageSize]="size"
			                       [pageIndex]="pageIndex"
			                       [pageSizeOptions]="[10, 30, 50, 100, 200]"
			                       (page)="paginatorEvent($event)">
			        </mat-paginator>
		        </div>
	        </div>
        </div>

      </mat-card-content>
    </mat-card>

  </div>

</div>


